[2017-07-12 13:04] #325 closed

[2017-07-12 17:36] abesanderson commented on #322
I'm currently testing this on a fork, and it was pretty straightforward to change.  There were a couple deprecated apis and configs, but there weren't a lot of tests in reactive-kafka which used them.  The main thing to note is that the 0.11.0 client will only support back to version 0.10.0 brokers.  Anything earlier would require an upgrade to brokers before clients can be upgraded.

[2017-07-13 16:06] seglo commented on #322
@abesanderson I'm curious if you've pushed your work anywhere.  I'm interested in experimenting with it.  I don't see any changes in your remote GitHub fork.

https://github.com/abesanderson/reactive-kafka

[2017-07-13 17:00] abesanderson commented on #322
@seglo It's just on another branch: https://github.com/abesanderson/reactive-kafka/tree/upgrade-kafka-0.11.0.0

[2017-07-13 17:11] seglo commented on #322
Of course!  Thanks.

[2017-07-13 21:43] rafalbigaj commented on #302
+1

I experience exactly the same problem quite randomly after wakeup:
[code]

[2017-07-14 00:28] varadshere commented on #135
How to stop or shutdown Kafka consumer? I tried control.stop()  control.shutdown(), still consumer runs.

[2017-07-14 16:39] #320 closed

[2017-07-15 20:27] agemooij commented on #322
I just read about the new [Record Headers feature](https://cwiki.apache.org/confluence/display/KAFKA/KIP-82+-+Add+Record+Headers) that was released with 0.11.

That could be really useful to us. Are there any plans for implementing this new feature in the near future?

[2017-07-16 15:41] seglo commented on #322
There's a ton of great stuff in 0.11.0.0.  My favourite is the exactly-once consume->transform->produce transactional support.  I have a little demo available here.

https://github.com/seglo/exactly-once-streams/blob/master/src/main/scala/seglo/apps/ConsumeTransformProduce.scala

I'm thinking about working on a PR for this, unless someone beats me to it.

[2017-07-17 10:30] gabriele83 commented on #322
Hi, how much time is needed to have the Kafka 0.11 integration?
Thanks

[2017-07-17 20:26] jpeel commented on #252
Upon further investigation I found that the issue I am seeing is that the SingleSourceLogic doesn't heed the supervision strategy at all. It always does a stop and we appear to be getting some strange things by mixing one element (the kafka consumer source) that does the stopping strategy with other elements that are doing the resuming strategy.

[2017-07-18 09:19] albio commented on #322
I need also. Any news?

[2017-07-18 09:22] albertobisello commented on #322
I have the same needs. Could you add support to Kafka 11?
many thanks guys!

[2017-07-18 15:19] Tvaroh opened #326 "Consumer ignores bootstrap servers settings and goes to localhost"
I do something like:

[code]

and it ignores whatever I pass as `kafkaBootstrapServers` and goes straight to `localhost:9092`. Am I doing something obviously wrong?

[2017-07-20 02:44] ktoso commented on #322
Hi @kciesielski, what do you think about this?
Usually we keep 2 versions "alive" / "maintained", so this if supporting 0.11 means enough changes that we can't trivially do so in reactive-kafka 0.11 and it means calling an 0.12 we should likely call 0.10 end-of-life soon.

- Do you know or have time to investigate how much change there is?
- Do you think we can stop supporting reactive-kafka 0.10

[2017-07-20 02:45] ktoso commented on #322
Seems https://github.com/abesanderson/reactive-kafka/tree/upgrade-kafka-0.11.0.0 has made some progress.

The core Akka team won't be able to help out on this in the coming month, so we'd welcome community of reactive-kafka maintainers help :)

[2017-07-25 11:22] cstub opened #328 "Support manual partition-offset assignment while retaining Kafka's rebalancing-functionality in Consumer"
Like others (https://github.com/akka/reactive-kafka/issues/241) we need to initialize Kafka-offsets from an external storage while retaining the rebalancing-functionality of Kafka.

To support this functionality with Reactive-Kafka we propose the following extensions to the existing Consumer-API:
1) Implementation of a new `Source`-stage `topicPartitionAssignmentSource` which emits objects of `Top

[2017-07-26 06:52] johanandren commented on #322
Per the comment from @jeqo in #327, https://github.com/akka/reactive-kafka/pull/327#issuecomment-317816688

Could we keep a single version of the client, but have toggles for using the newer features and avoid having to maintain multiple versions?

[2017-07-26 11:17] yarosman opened #329 "WakeupException not thrown for partitioned consumer"
Hello.
In case of creating consumer for specified partitioned topic with invalid kafka host, I don't receive any WakeupException, and stream not completed
[code]

But in case for Subscriptions.topics(topic), WakeupException occurred several time and stream closed

[code]

So how to solve this ?

[2017-07-27 08:19] pkoryzna commented on #166
I am experiencing a related problem I believe: when a graph stage (such as mapAsync) inside a RunnableGraph fails with exception for which the decision should be Stop, it seems like the failure is not propagated somehow and consumer keeps running instead of shutting down, which keeps triggering.

[2017-08-02 18:14] charles-crain opened #330 "Partitioned consumer has RequestMessages race condition"
I am seeing the issue described in this post:
https://groups.google.com/forum/#!msg/akka-user/WwHAvHCKTiE/RbVMdV6dAwAJ

Note this was not me making this post but I am seeing the issue.  As the post says, even building against the latest master does not fix the issue.

Details:
- The message does print out transiently when consumers enter or leave the consumer group, which as I understand is normal

[2017-08-03 14:59] fchaillou commented on #330
Hello,
I confirm that this occurs to us as well. When it happens, it logs it infinitely until we restart the service.
Fabien

[2017-08-03 17:50] Tvaroh commented on #326
Anybody?

[2017-08-03 18:49] ilucker commented on #326
@Tvaroh it should work. Perhaps some issues in your configuration. Could you share more details. A basic project setup where it can be reproduced could be very helpful.

[2017-08-03 18:51] charles-crain commented on #330
Just submitted a PR that fixes the issue for me.

[2017-08-05 22:49] wojda commented on #302
In my case increasing wakeup timeout didn't help. Consumers get stuck rarely but they still get stuck. It is a big issue because Kafka brokers think partitions are assign to the consumer. The only way to "unclog" the consumer is to trigger a group rebalance. Is the way reactive-kafka uses a wakeup mechanism an issue or vanilla kafka consumer implementation?

[2017-08-07 12:47] anilkumar763 commented on #302
I am also facing this issue. Thrice I saw in the past month.
The rebalance happens frequently in my application. But at times, I see 0 partitions assinged (I subsrcibed to 1 partition)

Does it take time to get update that the partition is already revoked ??
Should we poll again , if this arises ??

[2017-08-08 16:08] jpeel commented on #302
I am pretty confident that the issue is that the poll initiated by the KafkaConsumerActor is grabbing the metadata and joining the group, but the wakeupexception interrupts this process after the group is joined but before the callbacks (ConsumerRebalanceListener) are called which are used to tell the SingleSourceLogic stuff which topics are subscribed to. The SingleSourceListener makes requests t

[2017-08-09 15:36] ksilin commented on #166
Experiencing the issue with `Consumer.committableSource(...).take(n)` as described above. Source is not terminating after n msgs. After being killed by timeout, `akka.kafka.KafkaConsumerActor$Internal$Commit` & `akka.kafka.KafkaConsumerActor$Internal$Stop$` messages fail to be delivered.

`Consumer.plainSource(...).take(n)` seems not to have this issue and terminates cleanly after n msgs.

akka-st

[2017-08-09 15:37] ksilin commented on #282
related/duplicate of https://github.com/akka/reactive-kafka/issues/166

[2017-08-11 02:24] ktoso commented on #316
I added it to the readme https://github.com/akka/reactive-kafka/pull/332

[2017-08-17 20:32] amitpaz opened #334 "Consumers consuming at a low rate"
I have encountered a very strange situation where my consumers were consuming at a very slow rate - this was resolved only by chunking events (using the grouped method)

Can someone please help me understand why this helped and how can i improve my consuming throughput avoiding using grouping method?

1) No partition rebalancing was noticed 2) Events size are 30-100 KB ~
2) I'm using akka-stream 2

[2017-08-17 21:31] jacobg commented on #229
Thanks for documenting an approach to restarting the stream. If this approach is attempting to deal with failure in the Kafka consumer source, then I'm wondering why one of approaches documented for handling failures in Akka streams up-stream sources by just restarting the failed stage is not used?
http://doc.akka.io/docs/akka/2.5.4/scala/stream/stream-error.html

Is not sufficient to just restart

[2017-08-18 06:42] kciesielski commented on #229
@jacobg Looks like `RestartSource` is a pretty new thing, added in Akka 2.5. I think we may need both usages in the example, for Akka 2.4 and 2.5.

[2017-08-18 06:45] kciesielski commented on #229
@nafshartous restarting is already documented in https://github.com/akka/reactive-kafka/blob/master/docs/src/main/paradox/errorhandling.md. I'm not sure why it's not visible in the main docs. @patriknw does that require some kind of redeployment to the docs?

[2017-08-18 07:42] kciesielski commented on #322
@ktoso @johanandren Sounds good, I just merged #327 as [it is apparently OK](https://github.com/akka/reactive-kafka/pull/327#issuecomment-321289280) to use 11.0 client with 10.x brokers. As for new features, how do you see such a toggle?

[2017-08-18 12:50] jacobg commented on #229
Thanks @kciesielski. Does akka kafka stream implement supervision strategy for kafka or other internal issues not related to specific message elements? i.e., will all exceptions go to supervision strategy which can then be directed to restart the stream?

[2017-08-18 15:42] schrepfler commented on #235
Is there any investigation going on or future mitigation around this issue?

[2017-08-21 13:13] raboof opened #335 "Publish snapshot documentation"
We currently don't publish the latest documentation from master to http://doc.akka.io/docs/akka-stream-kafka/ , that would be nice to add to travis.

[2017-08-21 13:38] asluk commented on #276
Raising the commitTimeout in the testSource's ConsumerSettings from 1.second to 2.seconds at https://github.com/akka/reactive-kafka/blob/master/core/src/test/scala/akka/kafka/internal/ConsumerTest.scala#L89 seemed to address this for me in my Windows setup. But I'm not sure what's specific to Windows that could make this block more contentious; the 1.second timeout is sufficient when running the t

[2017-08-22 20:13] #330 closed

[2017-08-24 12:11] kciesielski commented on #322
Update: version 0.17 is now out, with #327 included. I'm closing this issue, but I'm still interested in a way to toggle features. @ktoso @johanandren could you drop a hint for such a toggle?

[2017-08-24 12:11] #322 closed

[2017-08-28 08:07] ktoso commented on #322
Just plain old feature flags - booleans or configs in reference conf that we act on in code.
Nothing fancy to report here sadly ;)

[2017-09-01 12:31] kodemaniak opened #336 "Consumer might skip offsets"
We are facing a strange behaviour using reactive-kafka.

We are consuming a single topic with 256 partitions and about 2.5 Million messages. From that log we build a view on our data and strongly require at-least-once message semantics in the consumer in order to correctly build the view.

We experienced a lot of exceptions resulting from events that have been skipped, e.g., an update message comi

[2017-09-02 17:20] patriknw commented on #336
Interesting, would you be able to create a pull request?

[2017-09-05 07:23] kodemaniak commented on #336
Yes, I will work on that and try to produce a pull request.

[2017-09-11 13:21] vlovgr commented on #266
Any progress on this one?

[2017-09-11 14:28] mwz commented on #266
+1

[2017-09-16 00:28] msiddiqi opened #341 "Error deserializing key/value for partition - Error deserializing Avro message for id"
Hi

I am using Akka-Stream-Kafka for consuming messages from Kafka in a Play framework application. Here are the details:

build.sbt

libraryDependencies += "com.typesafe.akka" %% "akka-stream-kafka" % "0.17"

And here is the setting for consumer

val consumerSettings = ConsumerSettings(system, new StringDeserializer, new KafkaAvroDeserializer())
  .withBootstrapServers("IP_ADDRESS:9092")
  .withP

[2017-09-18 01:46] yarshad opened #342 "Akka Stream Kafka - Avro Desereilization"
Hi,
Using Kafka Source in Akka Streams Kafka, I am trying to deserialize an Avro object using KafkaAvroDeserializer that is created using avro-tools library.

If I use confluent Kafka Consumer, I can deserialize it like this:

def consumerProperties() = {
  val props = new Properties
  props.put("bootstrap.servers", kafkaServer)
  props.put("group.id", UUID.randomUUID().toString)
  props.put("auto

[2017-09-26 12:04] jrudolph opened #344 "Producer infrastructure should be implemented as simple a function => Future instead of as a stage"
It doesn't seem to provide anything over mapAsync. Also, given the current API it is impossible to ignore single failing messages without failing the whole stream.

[2017-09-26 12:28] iravid commented on #344
There are benefits for managing the initialization/shutdown of the producer along with the stream lifecycle in case the producer is not shared with other streams, but it is recommended to share it to improve throughput anyway.

I agree, anyway :-) Wrote about this here: https://www.iravid.com/posts/using-cats-with-reactive-kafka.html

[2017-09-26 23:01] chitrakojha commented on #306
We're seeing the same error at high traffic. Is there a fix or new lib version to use?

[2017-09-27 00:06] chitrakojha commented on #306
We also saw this today for Java Heap Memory:
Uncaught error from thread [ClusterSystem-akka.kafka.default-dispatcher-318]: Java heap space, shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled for for ActorSystem[ClusterSystem]
java.lang.OutOfMemoryError: Java heap space
    at java.nio.HeapByteBuffer.<init>(HeapByteBuffer.java:57)
    at java.nio.ByteBuffer.allocate(ByteBuffer.java:3

[2017-09-27 01:42] msiddiqi commented on #341
Apparently Play is not able to load the class definition of the type generated from Avro schema and used in the service. Wondering if there is a package name issue, still couldn't find a solution. Instead we ended up using a custom GraphStage for source pulling from Kafka returning GenericRecord. Plus a streaming stage where we manually build up the object from type generated from Avro Schema.  Ye

[2017-09-27 07:03] johanandren commented on #306
Did you see that it was reactive-kafka leaking memory (taking a heap dump and analyzing it for example)?

If it was we need more details about what is leaking.

If not you need to figure out and fix the memory issues in your application, it's not really anything the kafka connector can do about that.

[2017-09-27 16:23] chitrakojha commented on #306
From the heap dump, it's most definitely the dispatcher. We got the issue under control by implementing back-pressure in streams and tuning threadpools.

[2017-09-29 10:22] rory-work opened #345 "Document how to implement simple health check/ping"
Some documentation on how to implement a simple health check/ping would be useful.

Something like the following, but using reactive-kafka:

[code]

[2017-10-01 12:58] muditsin opened #346 "Fix typo in Doc example - StreamWrapperActor"
https://github.com/akka/reactive-kafka/blob/5f013a6b45ca4eb006d232c9ad522418bbce358d/docs/src/test/scala/sample/scaladsl/ConsumerExample.scala#L391
It should be 'graceful', and not 'gracceful'?

[2017-10-01 19:05] kciesielski commented on #346
@muditsin Thanks, next time feel free to submit a pull request and we'll merge straight away.

[2017-10-01 20:17] #346 closed

[2017-10-02 10:50] patriknw commented on #266
I have tried a few things to understand what happens when client/consumer loose connection with the broker.

Stopping broker, waiting a few seconds before restarting, triggering a WakeupException, then it works fine.

Quick restart of broker:
[code]

`kill -9` of broker and then start after a few seconds:
[code]

One thing to note is that when broker is stopped the `consumer.poll` will block, unti

[2017-10-02 12:11] patriknw opened #348 "Rewrite error handling documentation to use the new RestartSource"
... instead of actors. Because it's simpler.

https://doc.akka.io/docs/akka-stream-kafka/current/errorhandling.html#restarting-the-stream

[2017-10-02 12:18] patriknw commented on #342
There is a type parameter for the value. Have you tried `ConsumerSettings[String, Person](system,new StringDeserializer, new KafkaAvroDeserializer)` ?

[2017-10-02 12:23] patriknw commented on #335
We should probably align the release process here with projects like Alpakka, i.e. release from Travis and publish documentation at developer.lightbend.com. That will also give us snapshot (latest) docs.

[2017-10-02 13:00] patriknw commented on #329
I can confirm that I also see this. `consumer.poll` returns immediately in this case.
I see logs:
[code]

and when starting broker again:
[code]

I don't know what to do about it.

[2017-10-02 13:01] patriknw commented on #326
I guess we can close this. If it was an issue in the library nobody would be able to use it.

[2017-10-02 13:01] #326 closed

[2017-10-02 13:05] patriknw commented on #307
looks like this was fixed, merged

[2017-10-02 13:05] #307 closed

[2017-10-03 12:54] chbatey commented on #252
One reason your stream may appear to be blocked is that when the `KafkaConsumerActor` hits the `KafkaConsumerActor - WakeupException limit exceeded` it then shuts its self down. Which in turns calls `KafkaConsumer.close` which by default blocks waiting for the pending commits etc.

Doing some experimenting if I take kafka down after a successful connection then the materialised future doesn't fail

[2017-10-04 11:04] #252 closed

[2017-10-05 23:21] ZaSkittles opened #352 "Allow a generic Producer to be provided to the Producer stage for mocking"
Currently the producer stage accepts a KafkaProducer if someone wants to provide it themselves. It would be nice to instead use the Producer Interface, so a mock producer can be provided.

[2017-10-10 15:47] evis opened #353 "KafkaConsumerActor only pauses partition, doesn't resume, for a long time"
`KafkaConsumerActor#poll()` method should resume underlying Kafka consumer, if there are partitions ot fetch: https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/KafkaConsumerActor.scala#L255 . Though, I faced situation, when it is unable to resume it for a long time (despite the fact, that partitions were alive). I enabled debug logging, here is part of log:

Consume

[2017-10-11 12:41] raboof commented on #335
That sounds sensible, moving away from the manually-managed `doc.akka.io` to something more reproducible.

If techhub doesn't support `.htaccess` for redirects, canonical headers and such kinds of features perhaps we should add them there when we need them.

[2017-10-11 15:59] jpeel commented on #353
This looks like [#302](https://github.com/akka/reactive-kafka/issues/302) to me. I'm guessing that there was a wake up exception at some point during a previous rebalance before the consumer got into this state of pausing forever. The rebalance changed up the partitions and there wasn't another wake up exception so everything was fine again.

[2017-10-16 10:53] ai81 commented on #353
We have similar bug. With trace log we see this messages during hang:

`[2017-10-16 06:32:46,905] DEBUG [kafka-coordinator-heartbeat-thread | nmarket-notifier-client] o.a.k.c.c.i.AbstractCoordinator - Sending Heartbeat request for group nmarket-notifier-client to coordinator kafka-01-myt.test.vertis.yandex.net:9092 (id: 2147483646 rack: null)
[2017-10-16 06:32:46,905] TRACE [kafka-coordinator-hear

[2017-10-16 19:55] rrodseth opened #356 "Serialization exception not surfaced in "Consumer actor terminated" exception"
We ran into a situation in which a topic contained a message containing an invalid schema id.

The Kafka Avro deserializer complained as follows:

Caused by: org.apache.kafka.common.errors.SerializationException: Error retrieving Avro schema for id 4
Caused by: io.confluent.kafka.schemaregistry.client.rest.exceptions.RestClientException: Schema not found; error code: 40403

Rather than resulting i

[2017-10-17 17:13] jroper commented on #329
Not sure if related, but I sporadically see the same behaviour for `Subscriptions.topics`.

[2017-10-17 22:28] mina-mishriky-ck opened #357 "Using takeWhile terminates CommittableSource while commits are in progress"
We are having an issue when using a `takeWhile`operation on a `CommittableSource` to consume messages up to a certain offset.
The graph simply looks like:
`CommittableSource` ~~> `takeWhile(...)` ~~> `Flow` (performs logic and commits offsets) ~~> `SinkActor`

The issue that we are facing is once the `takeWhile` condition is reached, the source is canceled immediately, which results in commits fai

[2017-10-18 17:51] elhalouiMed opened #358 "Consumer.committableSource by topic and key"
hello
is there any way to consume kafka messages filtred by key.
i need to consume messages by topic and key without doing any filter in client side

[2017-10-19 17:48] patriknw commented on #356
I guess one could create the consumer actor with a parent supervisor actor that would use Resume for this exception type. However, that is probably rather inconvenient to use so we should perhaps allow for a setting that would instruct the consumer actor to catch, log and resume such exception.

[2017-10-21 10:54] nolledge opened #359 "[Question] Unit Testing"
Hi,
I'am new to Apache Kafka and Akka Streams Kafka seems to be the perfect fit for a the use as a middleware in a microservice environment, which is in majority based on Play applications.

I prototyped a small App with a Consumer and a Publisher, communicating via JSON and that was pretty straight forward. But when it comes to unit testing I become a little helpless. Is it possible to run the te

[2017-10-25 08:23] cstub opened #362 "Run Tests with Akka 2.5"
To ensure the correct behaviour when using reactive-kafka with Akka 2.5 all tests should be run against Akka 2.4 and 2.5 as suggested by @johanandren in https://github.com/akka/reactive-kafka/issues/309.

[2017-10-27 07:23] gantamk opened #364 "Timer of GroupedWithin does not seem to be working"
Hello All,

Timer of GroupedWithin does not seem to be working. In this example, I am not getting any messages even after expiry of duration (10 seconds) even though 7 items are available in Kafka. If I produce 3 more items, then I am getting the entire desired batch (10 items). Please see the snippet below.

akka & akka streams Version = "2.4.19"
akka-stream-kafka Version = "0.17"

Thank you.

[c

[2017-10-27 09:23] nivox commented on #302
We're facing the same issue.

We have a service which sometime stops receiving data right after a WakeupException.
The issue doesn't happen on every WakeupException, but when it happens it's always after a WakeupException.

The explanation of @jpeel fit pretty well with our observation.

We'll try and implement the proposed workaround, but a more structured way of solving the issue (without restar

[2017-10-27 09:33] nivox commented on #302
Ping @patriknw @kciesielski.
Given you're the last to have worked on the code, do you have any insights?

[2017-10-27 12:15] gantamk commented on #364
And below normal akka-streams snippet gives desired result without any issues

[code]

[2017-10-30 10:23] raboof commented on #359
Hi @nolledge, thanks for your question! We mostly use github issues for bugs/features, for questions like these our gitter channel at gitter.im/akka/akka might be more suitable.

We indeed also use scalatest-embedded-kafka - but I'm not sure of the specifics myself. For even more lightweight unittests you might be able to test some of your code without actually going through Kafka, instead composi

[2017-10-30 10:23] #359 closed

[2017-10-30 12:53] gantamk commented on #364
Hello Everyone,
Any response to above will be greatly appreciated.
Thank you.

[2017-10-30 14:12] patriknw commented on #364
strange, it would be interesting to see a failing test in https://github.com/akka/reactive-kafka/blob/master/core/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala

[2017-10-31 08:46] gantamk commented on #364
I have a test in my code, I can share that. Or I can clone and setup in above suggested spec. Please let me know.

[2017-10-31 09:29] patriknw commented on #364
it would be great if you can create a PR with such test added to IntegrationSpec, if it's a bug such test must be written anyway

[2017-10-31 14:43] patriknw commented on #302
Defaults:
[code]

So you mean that increasing the wakeup-timeout to let's say 9s would be different than trying 3 times with 3s?

The reason it's bad to have long timeout is that it's blocking a thread during that time, and that can easily result in starvation and unresponsiveness of other streams running on the same dispatcher. But sure, if that solves the problem please go ahead and create a PR.

[2017-10-31 15:16] nivox commented on #302
@patriknw I think the point of @jpeel was that sometimes when the timeout occurs it somehow leaves Kafka consumer in a state where no messages are being received (even though there are messages available) and the stream becomes stuck. The proposed workaround of raising the timeout and reset the stream was to circumvent the problem but indeed it is NOT a solution.

I think that the retry mechanism

[2017-11-03 16:28] frossi85 opened #366 "Support for Kafka version 1.0"
Two days ago was release Kafka version 1 (https://www.confluent.io/blog/apache-kafka-goes-1-0/). This would mean that API won't change or at least not too much.

I open this ticket so community could keep track on the progress of this.

[2017-11-06 15:08] patriknw commented on #328
@cstub and others, take a look at the PR https://github.com/akka/reactive-kafka/pull/367 and see if it solves what you need

[2017-11-07 20:02] patriknw commented on #302
Ok, read his comment again. Is there a way we can reset things completely after a wakeup interupt? So that it is treated as a new consumer in next attempt? Or can we get the assigned partitions with a merhod call after wakeup, since we might have missed the callback. Other ideas?

[2017-11-08 16:50] nivox commented on #302
@patriknw @jpeel I've tried to put together an implementation of the first strategy you proposed: reset things completely after a wakeup. [commit](https://github.com/nivox/reactive-kafka/commit/ccbeb2ec5df97be8a95e014f9fddde1a92b77a43)

The base idea is to just unsubscribe and re-subscribe right away to all the topics. This way the assignment callbacks will be called and the state of the Single/Su

[2017-11-08 17:41] zack-loebel-begelman-ck commented on #352
This was fixed with https://github.com/akka/reactive-kafka/pull/365

[2017-11-09 08:07] #352 closed

[2017-11-09 08:35] nivox commented on #302
@patriknw @jpeel I've implemented the alternative strategy of reconcile the TopicPartition assignments on WakeupException. [commit](https://github.com/nivox/reactive-kafka/commit/a2477b3bdf455461238a14688b61291cd9ea4666)

As I stated in the previous comment this strategy tries to reconcile the new KafkaConsumer assignments with the Source's by manually calling the RebalanceListener callbacks for a

[2017-11-13 17:26] mina-mishriky-ck commented on #357
Any thoughts on this?

[2017-11-16 10:17] schrepfler commented on #302
If we compare a normal scenario where the partitions get assigned

[code]
INFO  [2017-10-22 09:17:53,401] [AbstractCoordinator:388] [] [] - Successfully joined group coffee-manager with generation 11
WARN  [2017-10-22 09:17:53,401] [KafkaConsumerActor:78] [coffeemanager-akka.kafka.default-dispatcher-62041] [akka.tcp://coffeemanager@contoso.com2551/system/kafka-consumer-9] - Consumer interrupted wi

[2017-11-16 16:16] nivox commented on #302
@schrepfler wouldn't the strategy I proposed in the last message fix the problem?

[2017-11-16 22:23] schrepfler commented on #302
Without knowing too many Kafka internals, I think WakeupException_s_ are not such a rare events in reality, is it acceptable to reconcile all the time? I've noticed some callbacks being created and you mention this Single/SubSourceLogic, is that the best/only technique we have at the driver level? There's no risk of getting in some bad state, or race condition, or memory leak?

[2017-11-17 09:34] cstub commented on #328
@patriknw This PR meets all our requirements. Great addition! I guess #328 can be closed then.

[2017-11-17 13:24] patriknw opened #368 "Remove usage of CallbackWrapper"
In Akka 2.5.7 the async callbacks were improved so the internal CallbackWrapper can be removed.

Note that the CallbackWrapper was removed so akka-streams-kafka will not work with Akka 2.5.7 until this issue is fixed.

See https://github.com/akka/akka/pull/23185

[2017-11-17 13:25] patriknw commented on #368
This is probably a good reason for stop supporting 2.4.x and build with 2.5.x by default.

[2017-11-18 17:21] seglo opened #369 "Transactional support for Kafka consume-transform-produce workflows"
Kafka announced several new features in its 0.11.0.0 release that collectively allow for exactly-once semantics, or "effective-once" depending on your opinions on the subject.  Semantics aside, there are several new Kafka client features that would be nice to expose in reactive-kafka's API.

Exactly-once delivery on the Kafka producer was impossible to guarantee before the release of 0.11.0.0 beca

[2017-11-19 02:11] ktoso commented on #369
I wonder how much it can be incorporated -- looking forward to a PR then @seglo !

[2017-11-20 10:33] patriknw commented on #328
Thanks for confirming. We'll close when it has been merged.

[2017-11-20 12:22] seglo commented on #369
Great, thanks! I've used these features with the underlying Kafka client libs.  I'm optimistic it can be incorporated.  I'll start working on it this week.

[2017-11-21 16:12] #328 closed

[2017-11-21 16:14] patriknw commented on #368
I'm fixing this, and releasing

[2017-11-21 19:09] #368 closed

[2017-11-29 12:41] ManikandanPitchai opened #374 "Doc issue in ProducerMessage.scala"
https://github.com/akka/reactive-kafka/blob/3669bc2fd55d5846f104b202be749e2b86860211/core/src/main/scala/akka/kafka/ProducerMessage.scala#L16

Is it not Producer#commitableSink and Producer#flow?

[2017-11-29 14:15] ChenShuai1981 commented on #341
Did you resolve the above issue? I am seeking for a workable solution of reactive-kafka with confluent schema registry also. Anyone can provide a simple example?

[2017-11-29 19:41] sbrnunes commented on #235
Are there any updates regarding this issue? I believe we're facing some one of the problems described in this thread.

In our case, our partitions are not very well balanced. We have some partitions with a lot of data, while others may not have any data for a while. I suspect that, when our application starts, Consumers assigned to partitions for which there is no data during the Wakeup window get

[2017-12-03 12:40] ChenShuai1981 commented on #342
Did the issue mentioned be fixed? I met the same issue when tried reactive kafka with confluent schema registry, is there any official guide for the integration?

[2017-12-05 22:30] AnupRawka commented on #341
+1, I am thinking of using a custom kafka deserializer instead of using "io.confluent.kafka.serializers.KafkaAvroDeserializer"

[2017-12-15 01:39] DhavalKolapkar opened #378 "How to re run a failed message in reactive kafka 0.8.2.2"
I want to re-publish the messages for x no of times which failed to process. I see the manual commit code:

val consumerWithOffsetSink = kafka.consumeWithOffsetSink(consumerProperties)
Source.fromPublisher(consumerWithOffsetSink.publisher)
.map(processMessage(_)) // your message processing
.to(consumerWithOffsetSink.offsetCommitSink) // stream back for commit
.run()
However, how to handle exceptio

[2017-12-15 07:58] johanandren commented on #344
Duplicate of or related to: #250

[2017-12-18 11:16] edrevo opened #382 "Lost messages in plainPartitionedSource on partition reassignment"
I am currently seeing the following behavior, using reactive-kafka 0.18:

1. I am sending 2 messages to a Kafka topic, which fall in two different partitions (partition 0 and partition 3)
2. A Kafka `plainPartitionedSource` is created and joins the consumer group at 22:51:04
3. A second Kafka `plainPartitionedSource` is created and joins the consumer group at 22:51:13
4. A partition rebalance happ

[2017-12-27 09:33] pierangeloc commented on #357
I encountered a similar issue when using simple `take`. I have a simple flow that consumes from `sourceTopic`, transforms the string payloads and puts them in `targetTopic`.

[code]
After the run, if I run the graph again it restarts from the same offset. By inspecting the offset in Zookeeper for the consumer group, I see that offset is not committed.
Removing the `take` and letting it consume all

[2017-12-28 11:18] Philippus commented on #362
closed by https://github.com/akka/reactive-kafka/pull/363

[2018-01-02 08:22] #374 closed

[2018-01-02 08:23] ktoso commented on #374
Thanks for reporting;
Solved by @Philippus in  #384

[2018-01-02 10:53] #362 closed

[2018-01-04 13:42] mateen-dar opened #386 "Error start KSQL"
Hello
Getting the following error  ./ksql-cli local

Initializing KSQL...
Error deserializing key/value for partition ksql__commands-0 at offset 0. If needed, please seek past the record to continue consumption.
Caused by: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: Cannot construct instance of `io.confluent.ksql.rest.server.computation.CommandId`, problem: Expected a string of

[2018-01-05 17:44] rafalmag opened #387 "Allow akka.kafka.ProducerSettings to be extended"
Allow `akka.kafka.ProducerSettings` to be extended.
Right now that class is declared as final.
Right now it is very inconvenient when somebody wants to unit test the custom flow attached to a sink from `akka.kafka.scaladsl.Producer`.
Ideally to make a true unit test the real Kafka akka streams sink could be created using a mocked or fake ProducerSettings that when called `createKafkaProducer` woul

[2018-01-05 22:01] rafalmag commented on #382
@edrevo Could you please create an automated test that reproduces this issue ?

[2018-01-08 10:38] johanandren commented on #387
If you are writing a unit test, shouldn't you rather take out the Producer sink from the equation and put something more suitable for unit testing there?

[2018-01-09 10:17] edrevo commented on #382
I don't think so, unfortunately. The test case would need to have very fine-grained control over the execution timing of each actor and I wouldn't know how to control that in akka / akka-streams

[2018-01-09 14:33] tavoaqp commented on #304
Hi, I'm also having this problem, did you get to solve it?

[2018-01-09 21:39] lulixiao commented on #341
This is how I did, and it is working for me.

        final ActorSystem system = ActorSystem.create("QuickStart");
        final Materializer materializer = ActorMaterializer.create(system);

        SchemaRegistryClient SchemaRegistryClient = new CachedSchemaRegistryClient(          props.getProperty(AbstractKafkaAvroSerDeConfig.SCHEMA_REGISTRY_URL_CONFIG),1000);
        KafkaAvroDeserializer kaf

[2018-01-10 19:53] rafalmag commented on #387
I am writing a factory function that would return a custom Sink or one of the standard akka.kafka sinks and I wanted to use the common settings API. I can revert to common java.util.Properties, but it would be nice to be able to extend akka.kafka more easily.

[2018-01-10 20:12] rafalmag commented on #382
Could you try to make a branch with changes in "main" code - by adding thread.sleeps or even better latches - just to demonstrate the issue? Or maybe just the debug logs from the client when the issue actually happens?
If the issue is reproducible then it would be a huge issue as "at least once" guarantee would be gone.

I was thinking about using `plainPartitionedSource` to couple it with custom

[2018-01-11 12:30] edrevo commented on #382
@rafalmag, here you have a _very_ dirty repro for the issue: https://github.com/edrevo/reactive-kafka/blob/issue-382/core/src/test/scala/akka/kafka/internal/MyTest.scala

[code]

Result on my machine:
[code]

Keep in mind I'm using Thread.sleep to force the conditions needed to reproduce the bug, so it might be hard to repro (or not) on your machine.

[2018-01-11 15:15] edrevo commented on #382
@rafalmag [here](https://github.com/edrevo/reactive-kafka/commit/51a7b08d581d2b952c41d99be30b368815bd0250) you have a _very_ dirty repro of the problem. You should:

[code]

Keep in mind that the issue won't happen in every since run of the tests, since it is a timing issue and the test isn't forcing any specific timing. I think I have a fix for the issue. I will submit a PR so that someone can re

[2018-01-19 09:48] mihbor opened #391 "Incorrect compiled signature of assignmentWithOffset in java API"
https://github.com/akka/reactive-kafka/blob/9fbb88aa8995ca97d63d35c9fc23c0f1435faa4b/core/src/main/scala/akka/kafka/ConsumerSettings.scala#L84-L88

is meant to be used from Java, however, in the compiled bytecode the signature comes out as:
public static ManualSubscription assignmentWithOffset(Map<TopicPartition, Object> var0)

leading to compilation errors when called in java with a Map<TopicPart

[2018-01-22 09:33] okly91 opened #394 "Update to Akka 2.5.8"
Need update to Akka 2.5.8

[2018-01-25 10:43] chbatey commented on #302
@nivox i like the second solution. I rebased it and added some more logging around wake up exceptions. Can you review https://github.com/akka/reactive-kafka/pull/395 ?

[2018-01-25 13:51] nivox commented on #302
@chbatey:  Thanks for taking the issue forward, I was a little bit unsure on how to proceed due to the lack of feedback.

I've taken a look at the pull request and it seems good to me.

[2018-01-27 10:20] raboof commented on #394
2.5.9 has actually been released - would you be up for preparing a PR?

[2018-01-27 10:24] raboof opened #400 "IntegrationSpec: must resume consumer from committed offset"
This test failed on Travis:
[code]

A lot of logging was produced but it's hard to see what logging belongs to this test... see https://travis-ci.org/akka/reactive-kafka/jobs/333984923

[2018-01-27 10:35] johanandren commented on #394
Also, note that since we keep backwards binary compatibility in Akka, the update is nice but not strictly necessary as it means you can run reactive-kafka with a newer minor version of Akka than it was built with.

[2018-01-29 07:22] chbatey commented on #394
I upgraded to 2.5.9 as part of a separate PR

[2018-01-29 07:22] #394 closed

[2018-01-29 07:35] chbatey commented on #235
Having taken look through the KafkaConsumer code there are many places where KafkaConsumer#poll will block for a long time, ignoring the timeout we pass into poll e.g.

* When it can’t work out the coordinator (Integer.MAX_VALUE)
* Waiting for a metadata update (Integer.MAX_VALUE)
* When doing a poll to join the group (5 seconds)

To help aid in debugging which of the cases it is (all indicate a p

[2018-01-31 17:47] babatunde-abdulquddus commented on #341
@lulixiao  solution worked for me.

[2018-02-01 07:26] MadeInChina commented on #366
+1

[2018-02-05 12:34] raboof opened #405 "Release from travis"
It would be nice to be able to release from Travis by setting a tag, like [in Alpakka](https://github.com/akka/alpakka/blob/master/RELEASING.md)

[2018-02-06 00:28] adkafka opened #406 "Wrong units on "Kafka commit took linger than ..." log message"
I noticed log messages like:
`Kafka commit took longer than commit-time-warning: 1328712428 ms`

That translates to many days which seemed wrong, so I looked for the code responsible for this. Looks like the correct unit should be nanoseconds:
https://github.com/akka/reactive-kafka/blob/f3d6ce9d35ae1680c943ab5a195fca7eb739f13c/core/src/main/scala/akka/kafka/KafkaConsumerActor.scala#L139

[2018-02-06 22:14] sbrnunes commented on #235
We're still being affected by this issues. More recently, a simple rolling restart of the cluster led to several consumer groups, across multiple services using this library, to stop consuming.

In a particular service, we did increase the `wakeup-timeout` and `max-wakeups`, but it didn't help. We do see an increase in the number of retries, but that's it. Then it just stops, after exceeding all t

[2018-02-07 09:52] chbatey commented on #235
Hi @sbrnunes what version are you running with? If it is 0.19 would you mind sharing your logs of it happening?

[2018-02-07 09:59] chbatey commented on #235
Looking at the Kafka client code https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/KafkaConsumerActor.scala#L276 is very unlikely to throw. It sets an atomic boolean as well as interrupts the selector.

If the wakeup is isn't set due to an exception then it would result in the poll blocking as long as kafka consumer wanted.

The actor is stopped for any NonFatal exc

[2018-02-07 13:05] sbrnunes commented on #235
Hi @chbatey , we're currently on v0.17.

We could try to upgrade to 0.19 and try to get those logs while testing some of the scenarios above (cluster restart, bringing down and up random nodes, etc.). I believe there's no major changes to the library between 0.17 and 0.19...

[2018-02-12 12:46] #391 closed

[2018-02-12 15:34] mjkrumlauf commented on #369
@seglo how is this progressing?

[2018-02-12 15:44] seglo commented on #369
@mjkrumlauf It hasn't progressed very far unfortunately.  I should have the bandwidth to work on this late next week.  If that changes I'll make a reminder to update this ticket so I don't hold back anyone else who may want to take a crack at it.

[2018-02-12 15:45] mjkrumlauf commented on #369
@seglo Thanks for the quick response.  I understand the part about not having bandwidth!

[2018-02-12 16:20] rafalmag commented on #369
I analyzed this a little bit.
The most important use case was ability to:
- consume message from input topic
- transform it to output message(s)
- in a single transaction commit the input message offset and output message(s)

The big issue is the "zombie fencing" - how to assign the "transaction id" and handle rebalancing.
Kafka broker can detect when consumer is not available and triggers the con

[2018-02-12 17:11] mjkrumlauf commented on #369
I am not familiar with the rebalancing difficulties you mention but I think if the Source and Sink are not able to be decoupled this would extremely limit the usefulness of transactional producers and consumers in our context.

[2018-02-13 15:27] sbrnunes commented on #235
Hi @chbatey ,

Sorry for the long post.

We upgraded to 0.19 and reproduced the exact same issue in our Master environment. Basically, we have shutdown the entire Kafka cluster (by stopping the processes in each of the nodes) while the applications were running, and this is what we saw in the logs (pasting only the relevant messages).

Maybe worth mentioning, this is our current configuration:
[co

[2018-02-14 17:28] chbatey commented on #235
Thanks for getting the logs @sbrnunes the stacks we added to the logs can tell us what is going on in the KafkaConsumer

[code]

It is currently stuck in the Kafka client in a method that blocks for every (well Long.MAX milliseconds) waiting for the consumer group coordinator to be ready:

[code]

The ensureCoordinaroReady inner method loops for every, sleeping after each try, for the coordinator

[2018-02-15 10:29] sbrnunes commented on #235
Thanks for your quick response @chbatey. Appreciated.

I did notice that `reactive-kafka` was doing something to recover from the permanently blocked treads, from your previous comments and by looking at the custom configuration that it provides (`wakeup-timeout` and `max-wakeups`).

What should we expect to happen when the `max-wakeups` expire? Should the stream just die, regardless of the superv

[2018-02-16 07:09] #406 closed

[2018-02-16 16:21] asflierl commented on #382
I think I'm encountering the same issue using Consumer.commitablePartitionedSource.

[2018-02-19 17:15] abhijith-vr commented on #306
I am using 0.19 of reactive kafka connector. Same error is coming .How to resolve it .

[2018-02-20 22:14] seglo commented on #369
I've been studying your analysis @rafalmag and I have a few questions.  I would like to clarify how an app using transactions would run.

I'm making the assumption that for a given topic partition subscription there can only be _one_ active consume->transform->produce application instance.  Unlike consumer group balancing which could distribute a subscription across many consumer application insta

[2018-02-23 23:44] seglo commented on #369
Just an update that I've been working on some ideas. Should have something to share next week.

[2018-02-24 02:52] ChenShuai1981 commented on #341
How to get SpecificRecord instead of GenericRecord? I tried add the following config but seems not worked. Others are fine.

.withProperty(KafkaAvroDeserializerConfig.SPECIFIC_AVRO_READER_CONFIG, "true")

[2018-02-27 05:18] jroper opened #413 "Consumer documentation key/value types is confusing"
The consumer documentation uses a `byte[]` for the key, and a `String` for the value. This is confusing. Kafka keys are typically strings, or some other type that is commonly used for representing identifiers or primary keys in a database. Just as you would very rarely expect a primary key or identifier to be a byte array, you would very rarely expect a Kafka key to be a byte array. Meanwhile, mes

[2018-02-27 15:37] jorkzijlstra commented on #235
We noticed the same issue. For us it was not reproducible using Docker on a single machine but it was on 2 separate machine.

1) Machine 1: boot up a Kafka Cluster
2) Machine 2: Start a consumer
3) Machine 1: Produce a message
4) Machine 2: Remove network cable and wait for the wakeup exception
5) Machine 1: Produce a message
6) Machine 2: Insert network cable and see nothing happening

When debug

[2018-03-06 16:26] gabriele83 commented on #366
+1

[2018-03-06 16:34] svezfaz opened #415 "introduce PassThrough-only producer messages for conditional processing purposes"
An approach to solve the [conditional message processing](https://doc.akka.io/docs/akka-stream-kafka/current/atleastonce.html#conditional-message-processing) issue could be to introduce the concept of "PassThrough-only" message. Basically the `ProducerMessage` could be available in 2 flavours, one that carry a `ProducerRecord`, and one that doesn't.

Something like

[code]

`ProducerStage` could a

[2018-03-06 22:37] seglo commented on #369
Hey.  I've run into a problem that maybe some of you more familiar with akka streams internals could assist with.  The `KafkaProducer` is thread safe and most standard Kafka operations don't care that it's shared.  However when using the producer with a transactional workflow we have to maintain a strict lifecycle to avoid entering an inconsistent state.

The Kafka transactional workflow with reac

[2018-03-07 08:06] #366 closed

[2018-03-07 11:18] patriknw commented on #369
Relying on that different stages are fused (running single threaded) is not something I'd recommend. Sounds like this specific feature should be implemented as a single GraphStage or Actor.

[2018-03-07 14:08] seglo commented on #369
Yes.  My first implementation attempt relied on my own implementations using the existing `Committable` and `Committer` types with no changes to the existing `ConsumerStage` or `ProducerStage`, but this won't work.  Although there are similarities between transactional commits and the Kafka managed consumer group offset commit semantics there are enough differences to warrant at least a modified `

[2018-03-07 20:37] rafalmag commented on #369
When I was reading and analyzing the debug logs of Kafka Streams - they are using single (same!) thread for a consumer-producer coordination too. So when consumer figures out that it has been kicked out from consumption of given topic-partition then the producer is not sending the output message (nor committing offset). In order to achieve the same in akka-streams world - I think the same actor in

[2018-03-08 18:09] seglo commented on #369
Agreed, partitioning the transactions by a subset of partitions is the best way to scale out, but I don't think this should be part of transactional support in reactive-kafka.  If we attempted to manage this functionality internally then in order to scale we would need to subdivide the configured consumer group subscription ourselves.  The producer requires a unique consumer group id when committi

[2018-03-16 10:28] rukbrook opened #417 "multiple bootstrap servers"
Is it possible with the akka stream kafka to set the bootstrap servers with an array of values? When I set 1 bootstrap server, everything works as it should, if I add more to the config file (for example: akka.kafka.consumer.kafka-clients.bootstrap.servers = server1:port, server2:port, server3:port) I get the following errors:

`[WARN] [03/15/2018 15:23:53.335] [kafkaConsumer_testOPTIN_666f7120-e1

[2018-03-16 16:16] sbrnunes commented on #235
Hi again,

Just so we are aware, is anyone actively looking at or debugging this issue, following the previous post with tips on how to reproduce the problem locally?

[2018-03-19 18:33] h-ngo opened #418 "JMX metrics"
Does Reactive Kafka reports metrics through JMX? can't seem to find any resource related to it.

[2018-03-19 19:01] h-ngo commented on #418
FYI. We are currently using reactive kafka library in Play framework.

[2018-03-26 10:58] giejay commented on #302
Any update on this? We are facing the same issue, increasing the wakeup timeout to 6s and setting the the max to 1 seems to resolve the issue but doesn't feel really solid to me.

Am I correct to assume that MR https://github.com/akka/reactive-kafka/pull/395 did not fully resolve the issue?

[2018-03-26 11:22] johanandren commented on #418
We have an open PR #338 which is about making it possible to expose metrics, won't give you JMX out of the box but will make it possible to publish the metrics as JMX if you want.

[2018-03-26 14:48] patriknw opened #419 ""No current assignment" with plainPartitionedManualOffsetSource"
This might be a race condition. `Seek` is sent when the partition is assigned but since that is an async operation the consumer in the KafkaConsumerActor might not have the same view when the Seek is received there. I guess we can guard agains such missing assignment in the KafkaConsumerActor, but would it be ok to skip the seek and assume that there will be another partition assignment that will

[2018-03-27 12:46] seglo commented on #369
For anyone following this thread I've put a PR ^ https://github.com/akka/reactive-kafka/pull/420

[2018-04-03 08:43] ktoso opened #421 "Actually expose ability to set rebalance listener"
Seems this was attempted in 2016 in https://github.com/akka/reactive-kafka/issues/93 however something was not quite done "all the way" it seems.

Always the hardcoded

[code]

[code]

is used instead of one provided by the user.

It seems like it was intended to be able to pass it in a Subscription, but was never done?

[2018-04-03 08:44] ktoso commented on #421
cc @kciesielski @patriknw

I'll work on this as got someone requesting it

[2018-04-03 16:45] dsitte-h opened #422 "Expose metadata retrieving functions of Consumer in KafkaConsumerActor"
List of functions to expose:
- `listTopics()`
- `partitionsFor()`
- `beginningOffsets()`
- `endOffsets()`
- `offsetsForTimes()`

Example usage:
[code]
The point is being able to use the same underlying KafkaConsumer for retrieving metadata and consuming.

A side-effect is that Kafka connection is established upon metadata retrieval, possible connection errors can be (and need to be!) handled befor

[2018-04-03 20:39] schrepfler commented on #422
It would be nice if we would be able to extract headers as well.

[2018-04-04 09:49] dsitte-h commented on #422
Headers are per message, you can access them on `ConsumerRecord`:

https://github.com/apache/kafka/blob/88da81b9454183955f34b822588f0f1ee7e9dcae/clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerRecord.java#L155

(Headers were introduced in Kafka v0.11)

[2018-04-04 14:31] jonbuffington commented on #235
I found one work around for this issue. I have six topics where some of the topics have light production of records and others with bursts of records being produced. Instead of having all six in one `Consumer.committableSource()`, I separated them into six separate `Consumer.committableSource()`s. I have not received the warnings and eventual failure since implementing this work around.

[2018-04-04 14:46] jonbuffington commented on #235
I found a work around for my use case. I have six topics where some topics have records produced at a steady but low rate. The other topics have frequent bursts of records being produced. If all six topics are listed in one `Consumer.committableSource()`, the offset commit timeout warnings and eventual failure occurs. After I implemented one `Consumer.committableSource()` per topic, I no longer se

[2018-04-04 15:02] sbrnunes commented on #235
Interesting that this worked for you @jonbuffington. But do you mean a separate committable source per topic or per partition? Do your topics have only one partition? Or all those partitions are consumed by only one `commitableSource`?

In our case, we do have a separate consumer group for each topic and a separate `commitableSource` subscribed to each consumer group. However, each topic has a few

[2018-04-04 15:06] jonbuffington commented on #235
@sbrnunes I mean a separate committable source per topic. All committable sources (now six) belong to the same consumer group.

We have not seen any connection issues across all our Kafka clients. My suspicion is a strange interaction between akka message and the Kafka poll() loop. I do not have any data to back up my suspicion though.

[2018-04-05 05:47] patriknw opened #424 "API naming improvements"
Some naming in the API is not nice, such as `commitJavadsl` and `commitScaladsl` and now I noticed new things added with similar naming convention.

[2018-04-05 05:52] ktoso commented on #424
Yeah; I followed existing style in the new https://github.com/akka/reactive-kafka/pull/423
Not quite sure what we should do about it.

On one hand, it would be best to have complete javadsl/scaladsl split as we have in most Akka APIs, but that would be breaking APIs.

If naming change, then the same should be applied to commitJavadsl I etc perhaps?
Open for ideas, was pondering it a bit and did no

[2018-04-05 15:11] #421 closed

[2018-04-06 02:31] ktoso commented on #424
Thankfully we were able to avoid adding another method with "javadsl" in the name.
Ticket remains valid

[2018-04-09 20:48] DWvanGeest commented on #235
There's a hacky little workaround for unlimited wakeups. Set `akka.kafka.consumer.max-wakeups = 0`, and it will just keep retrying. This is thanks to the code here: https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/KafkaConsumerActor.scala#L305.

[2018-04-11 09:16] jeroenr opened #426 "Confusing error message on wake up timeout / long poll interval"
I'm getting the following warning:

`KafkaConsumer poll is taking significantly longer (3000ms) to return from poll then the configured poll interval (5000ms). Waking up consumer to avoid thread starvation. `

When I read the message above it doesn't make much sense to me. My configured wake up time is 3000ms and my poll interval is 1000ms (poll timeout is 5000ms). Judging from the code it looks l

[2018-04-11 14:32] rafalmag commented on #369
Here is a little bit of the research that we did in our team:

## Processing guarantee

We use _exactly-once-processing_.

To achieve this:
- our consumers consume with `READ_COMMITTED` isolation level
- our producers are idempotent and transactional
- we use Kafka's zombie fencing mechanism (**IN PROGRESS**)

Read up:
- [Exactly-once Semantics are Possible: Here’s How Kafka Does it](https://www.c

[2018-04-11 21:15] DWvanGeest commented on #415
Yes! I would like this as well.

My use case is that the source is actually another Kafka topic. Some messages can't be processed and re-published, and so are filtered out of the stream so as not to enter my `Producer.flow`. Since I commit _after_ the `Producer.flow`, those filtered messages are never committed. Instead, nothing is committed until a processable/produceable message comes through th

[2018-04-11 21:18] DWvanGeest commented on #324
This is related to #415 it seems. I would love to see this fixed.

[2018-04-12 02:14] michael-read opened #427 "(typo) Scala example is duplicated (double paste) on External Offset Storage"
on External Offset Storage : Here -> https://doc.akka.io/docs/akka-stream-kafka/current/consumer.html

[2018-04-12 13:57] raboof commented on #427
It looks like those were 2 examples smashed together, one showing  `Subscriptions.assignmentWithOffset` as described in the documentation text, the other showing basically the same code but with using `Subscriptions.assignmentOffsetsForTimes`. I'd say `Subscriptions.assignmentOffsetsForTimes` is not really suitable for this at all.

[2018-04-16 12:25] abhijith-vr opened #431 "Consumer Stop responding when increasing the topic count in a single JVM - KafkaConsumer poll is taking significantly longer (120000ms) to return from poll then the configured poll interval (50ms)"
When starting  multiple consumers in a single actor application(signe jvm) , Consumer stop responding
and gives following stack trace.Displays a very lengthy stack trace.

2018-04-16 12:19:15.348 [ceon-current-data-akka.actor.default-dispatcher-34] WARN  akka.kafka.KafkaConsumerActor - KafkaConsumer poll is taking significantly longer (120000ms) to return from poll then the configured poll interva

[2018-04-17 17:59] svroonland opened #432 "Document controlled shutdown of a Consumer stream"
A nice addition to the Consumer docs would be how to correctly stop a stream with `Consumer.Control`.

[2018-04-17 17:59] svroonland commented on #432
I can submit a PR for this.

[2018-04-17 22:19] patriknw commented on #432
Would be great, thanks

[2018-04-18 05:02] abhijith-vr commented on #431
Here's thread dump

2018-04-18 04:53:50.308 [application-data-akka.actor.default-dispatcher-14] INFO  akka.kafka.KafkaConsumerActor - Reconciliation has found revoked assignments: Map() added assignments: Map(). Current subscriptions: Set(Subscribe(Set(date-topic11),ListenerCallbacks(akka.kafka.internal.SingleSourceLogic$$Lambda$619/802686222@44794a75,akka.kafka.internal.SingleSourceLogic$$Lambda$

[2018-04-18 16:40] nafshartous commented on #413
I agree and found this to be confusing as well.

[2018-04-24 13:53] ennru commented on #427
Solved by #428

[2018-04-24 13:53] #427 closed

[2018-04-27 09:22] rtimush opened #435 "Partitioned source is not stopped by ConsumerControl"
When `ConsumerControl.stop` is called on the partitioned source, the source itself is completed, but substreams it created are not. This makes it difficult to correctly shutdown a stream.

[2018-04-27 15:48] patriknw commented on #426
I think you are right, would you be able to create a pull request fixing the log message?

[2018-04-27 20:56] jeroenr commented on #426
Maybe it's worth as well to check somewhere that wakeupTimeout < pollTimeout?

[2018-04-29 04:37] baineng opened #438 "Producer meet NotLeaderForPartitionException when a partition moved to new broker on auto rebalance"
I've run a producer online for a while which keep sending messages to kafka. But time to time I got this exception "NotLeaderForPartitionException".
And I checked broker logs, Somehow the leadership of some partitions got changed (should be auto rebalance).
But client side doesn't know that, The messages still sending to the old leader, After the exception happened, It will fetch again the metadat

[2018-04-30 19:33] nafshartous commented on #97
@kciesielski I could look into this if there's still interest in developing this feature ?  Thanks for any suggestions on possible approaches.

[2018-05-01 13:05] seglo commented on #348
I have an example of this for the docs in PR #420 that could be generalized.  Perhaps #372 could be updated to include side effecting out the `Control` materialized value so it can be used to orchestrate stream shutdown from the outside.

https://github.com/seglo/reactive-kafka/blob/transactions/docs/src/test/scala/sample/scaladsl/TransactionsExample.scala#L29..L60

/cc @jjst

[2018-05-01 15:45] lilyevsky commented on #342
It is not completely broken, there is an easy workaround. The only problem with Akka Streams Kafka is that the registry URL property does not automatically get into the deserializer from ConsumerSettings. So we have to configure the deserializer ourselves, something like this:
[code]
I actually tested this, it works (was stuck for about half a day)

[2018-05-02 10:45] dariodariodario opened #440 "Consumer does not start and just logs stack dumps?"
Hello,
I've this app that we have been testing for months now. The usual setup has been either using embedded kafka, or kafka in docker-compose. I've to admit only with 1 partition topics. As soon as we deployed it (dockerized, connecting to a real broker, only one), it doesn't even start consuming but just logs the following:

[code]

As you can see the problem is the WakeupTimeout. I tried to in

[2018-05-02 10:50] dariodariodario commented on #440
My flow is :

[code]
this are pieces copied from various parts of my code.

[2018-05-02 16:56] ennru commented on #387
Fixed with #388

[2018-05-02 16:56] #387 closed

[2018-05-02 19:45] kiransunkari opened #442 "consumer Actor abruptly stops"
akka.stream.AbruptStageTerminationException: GraphStage [akka.stream.impl.fusing.GraphStages$IgnoreSink$$anon$9@d4fcf1c] terminated abruptly, caused by for example materializer or actor system termination,

while update the kafka to 1.0.1 and akka kafka stream to 0.20 getting this error

[2018-05-03 06:57] #442 closed

[2018-05-07 13:46] seglo commented on #336
@kodemaniak Based on the issue description I assume you're storing offsets in Kafka.  There was a PR #367 introduced last fall that has been in reactive-kafka since 0.18 that provides the user with an event handler to reset the consumer's partition offsets on consumer group rebalance.  It was intended for end users who store offsets off Kafka.  It could be used in its present form to reset the con

[2018-05-09 00:41] kolapkardhaval opened #443 "Unable to stop reactive kafka 0.8 consumer"
I am creating a kafka consumer as below:
val kafka = new ReactiveKafka()
 val source =   kafka.consume(consumerProperties)
 Source.fromPublisher(source).to(sink).run()

However, I need to stop the consumer after consuming 100 messages or after an hour. How do I do it?

[2018-05-09 13:17] ennru commented on #443
Later versions of this library materialize a `Control` instances which can be used to shut down the consumer. Please upgrade to the current version.

The "100 messages" requirement can be achieved by `.take(100)`.

[2018-05-09 13:26] ennru commented on #426
Fixed with #437

[2018-05-09 13:26] #426 closed

[2018-05-14 15:56] ennru commented on #443
The "Akka standard" solution to complete a stream from the outside is the use of a [KillSwitch](https://doc.akka.io/docs/akka/current/stream/stream-dynamic.html#controlling-graph-completion-with-killswitch).

Please direct this kind of questions to the [discuss forum](https://discuss.lightbend.com/c/akka/streams-and-alpakka).

[2018-05-14 15:56] #443 closed

[2018-05-15 19:18] ennru commented on #432
Fixed with #433

[2018-05-15 19:21] ennru opened #450 "Failed: must produce to plainSink and consume from plainSource"
[code]

Build was https://travis-ci.org/akka/reactive-kafka/jobs/379368445

[2018-05-16 09:33] agemooij opened #451 "wakeup-debug should default to false"
We have been noticing a lot of huge stack dumps in our code that uses reactive-kafka, especially when deployed on Kubernetes. It appears these stack dumps are created based on the `wakeup-debug` setting, which defaults to `true`.

I would suggest that the `wakeup-debug` setting, which can produce enormous amounts of logging volume, should default to false.

[2018-05-16 09:36] agemooij commented on #451
To be precise, the setting is `akka.kafka.consumer.wakeup-debug`, with the following definition in reference.conf:

[code]

Shown in the docs here:

https://doc.akka.io/docs/akka-stream-kafka/current/consumer.html#settings

[2018-05-16 09:54] patriknw commented on #451
I agree that the right default is `fals`e, but since we got so many issue reports just saying "it doesn't work" we wanted to gather information about what the reasons for the blocking would be.

[2018-05-16 10:10] agemooij commented on #451
OK, so you set it to true on purpose to collect data? When are you planning o set it back to false?

We have explicitly set the setting to `false` for now, so big rush here. Just curious.

[2018-05-16 12:17] #435 closed

[2018-05-16 12:39] #348 closed

[2018-05-17 09:50] ennru opened #454 "Set up MigrationManager"
With MiMa in place, we can become aware of any API changes introduced.
https://github.com/lightbend/migration-manager

[2018-05-17 09:55] ennru opened #455 "Make documentation code run in build"
... by moving into tests that run it.

[2018-05-17 11:19] 2m commented on #400
https://travis-ci.org/akka/reactive-kafka/jobs/380145783

[2018-05-17 14:15] ennru commented on #417
The value from `bootstrap.servers` is passed on to the Kafka property `ConsumerConfig.BOOTSTRAP_SERVERS_CONFIG` as described in the [Kafka documentation](http://kafka.apache.org/documentation/#newconsumerconfigs) without any interference.
So your approach is expected to work.
I get a warning `Connection to node -2 could not be established. Broker may not be available.` when I add a second non-exis

[2018-05-17 14:16] 2m commented on #405
Fixed in https://github.com/akka/reactive-kafka/pull/452

[2018-05-17 14:16] #405 closed

[2018-05-17 16:10] rabzu commented on #166
Im facing this problem too. Are there any workarounds? or Some sort of a dirty way of killing the consumer. I really need to kill it.

[2018-05-17 18:45] ennru commented on #295
My understanding is that this issue was fixed with #318.
Please re-open if I got it wrong.

[2018-05-17 18:45] #295 closed

[2018-05-17 19:09] ennru commented on #267
Looks like #300 which was released in 0.17 implemented this.
Please re-open if something is missing.

[2018-05-17 19:09] #267 closed

[2018-05-17 19:11] ennru commented on #98
I believe this is not a problem anymore.

[2018-05-17 19:11] #98 closed

[2018-05-17 23:33] TimMoore commented on #417
I can confirm that passing a comma-separated list of broker endpoints as a string does work.

What does not work is using the HOCON array syntax (because that doesn't flatten down to a comma-separated string, but a list of indexed property keys that the Kafka client knows nothing about).

[2018-05-18 03:31] jroper commented on #235
I'm not sure if this is helpful or not, but right now, I'm seeing these errors every time a Kafka consumer starts up:

[code]

What's really frustrating is the fact that it dumps the stacks - so every time my application starts (which when working with something like Lagom that does hot reloads on code change is all the time), I get thousands of lines of stack dumps logged at **warn**. Can the sta

[2018-05-18 03:32] jroper commented on #235
Sorry I just noticed the `wakeup-debug` setting. I'll disable that.

[2018-05-18 18:19] ennru commented on #369
Implemented by #420

[2018-05-18 18:19] #369 closed

[2018-05-19 11:00] ankit-jain-erpanderp commented on #235
As mentioned by DWvanGeest, where can I specify this setting akka.kafka.consumer.max-wakeups = 0 ?

[2018-05-21 06:34] ranjanibrickx commented on #418
Hello, is there any update on this? We are interested in reporting on the consumer and producer JMX metrics.

[2018-05-21 06:37] patriknw commented on #235
Perhaps we can make wekeup-debug less aggressive by not triggering it until we are almost out of retries.

[2018-05-21 09:13] ennru opened #461 "Transactions: create benchmarks"
With the new support to transfer between Kafka topics transactionally, it would be great to create some benchmarks on that functionality.

[2018-05-21 09:13] ennru commented on #461
cc @seglo

[2018-05-21 09:15] ennru commented on #418
Thank you for pointing this out.
This functionality is available in 0.20 as of PR #338.

[2018-05-21 09:15] #418 closed

[2018-05-21 09:16] ennru commented on #418
See [documentation](https://doc.akka.io/docs/akka-stream-kafka/current/consumer.html#accessing-kafkaconsumer-metrics)

[2018-05-21 11:15] 2m commented on #461
Ahh, thanks for creating the ticket!

[2018-05-21 11:38] seglo commented on #461
Sure. Did you want me to submit a PR or are you or @2m working on it?

[2018-05-21 11:43] 2m commented on #461
I am not currently working on it. So if you @seglo could create a PR that would be awesome!

[2018-05-21 14:55] ennru opened #462 "Failed: Transactions should commit the current transaction at commit interval"
[code]

[2018-05-21 21:54] seglo commented on #461
Sounds good.  I'll work on it this week.

[2018-05-22 07:54] 2m commented on #451
Instead of printing thread-dump on every wakeup, it will now do it when number of wakeups is more than max-wakeups/2. So we can keep wakeup-debug set to `true` by default to still have the option to collect the data and not being that verbose in normal operations.

[2018-05-22 07:54] #451 closed

[2018-05-22 09:25] ennru commented on #415
Yes, I like this idea.
@svezfaz Would you like to propose a PR?

[2018-05-22 14:11] seglo commented on #462
@ennru Interesting, is this happening sporadically for you?  I see in the stack trace it happened during `ProducerTest`.

[2018-05-22 21:22] schrepfler commented on #415
Might be good to have also message headers as well.

[2018-05-22 21:46] svezfaz commented on #415
@ennru I'd be happy to work on a PR. How acceptable is it to break the scaladsl/javadsl flow contracts? Not sure this could be pulled off otherwise.

[2018-05-23 07:27] ennru commented on #462
Yes, I've seen it on Travis once. Travis is very unpredictable in performance, so it often shows errors not reproducible locally.

[2018-05-23 09:05] ennru commented on #415
Not breaking APIs is better, of course. Give it a stab and let's see how it can be done.
For the new transactional support it does not matter, it hasn't been released, yet.

[2018-05-23 09:47] ennru commented on #378
This is more a question than an issue, if the question persists, please use [the users' forum](https://discuss.lightbend.com/c/akka/streams-and-alpakka).

[2018-05-23 09:47] #378 closed

[2018-05-23 13:14] ennru commented on #382
@edrevo I've tried the tests in your dirty repo with current code - both go green. Are they flaky or did something improve already?

[2018-05-23 13:40] edrevo commented on #382
@enru, the timing conditions needed to repro the bug are quite tricky, so the test case is just "probabilistic", in the sense that it sets up the scenario for the bug to appear, but it might or might not appear. I've ran it in several machines, and it being able to repro the bug with that test is a hit or miss.

[2018-05-23 14:33] #454 closed

[2018-05-24 06:59] 2m opened #467 "Add a section about keeping binary compatibility in contributors doc"
We started checking binary compatibility with MiMa tool after https://github.com/akka/reactive-kafka/pull/457.

We should add a section in contributors documentation what idioms should be promoted and avoided in order to keep the code binary compatible between the changes.

[2018-05-24 11:44] 2m commented on #335
Snapshot artifacts are now being published after every merge to master by travis. They can be found here: https://bintray.com/akka/snapshots/alpakka-kafka

We still need to add a mention of snapshots to the documentation.

[2018-05-24 14:23] 2m opened #471 "Failed: TransactionsSpec must complete a consume-transform-produce transaction with transient failure causing an abort with restartable source"
"must complete a consume-transform-produce transaction with transient failure causing an abort with restartable source"

[code]

https://travis-ci.org/akka/reactive-kafka/jobs/383211644

[2018-05-25 07:24] 2m opened #472 "Failed: RetentionPeriodSpec must resume from committed offset"
[code]

https://travis-ci.org/akka/reactive-kafka/jobs/383564332

[2018-05-25 10:44] 2m opened #474 "Failed: ReconnectSpec"
https://travis-ci.org/akka/reactive-kafka/builds/383630942

[2018-05-25 12:13] ennru opened #475 "Failed: Consumer must read from mutiple topics in multiple partitions"
https://travis-ci.org/akka/reactive-kafka/jobs/383629948

[code]

[2018-05-25 16:06] ennru opened #476 "Create controlled stop and shutdown helper"
As described in the new "controlled shutdown" section in the Consumer documentation (not online yet) the recommended way shut down a Consumer-Producer-stream with committing is to use Control.stop, wait for the stream to finish and than call Control.shutdown.
A helper class to be used with mapMaterializedValue could wrap this logic.

[2018-05-25 17:13] ennru commented on #476
cc @svroonland

[2018-05-28 11:04] 2m opened #479 "Failed: IntegrationSpec must handle commit without demand"
[code]

https://travis-ci.org/akka/reactive-kafka/jobs/384679493

[2018-05-28 12:37] ennru opened #480 "Support linking to local Scaladocs in documentation"
With a build config as in the Alpakka main project, links to Scaladoc can be validated much easier.

[2018-05-29 10:14] 2m commented on #472
https://travis-ci.org/akka/reactive-kafka/jobs/384718107

[2018-05-29 12:33] 2m commented on #474
[code]

https://travis-ci.org/akka/reactive-kafka/jobs/384851107

Failed while validating #481

[2018-05-29 13:07] seglo opened #484 "Failed: Transactions benchmark generated a transient failure when pushing produced message downstream"
I observed this when running the benchmark specs (`akka-transactions`) for the new transactions tests.  I haven't been able to reproduce it.

[code]
Stacktrace
[code]

[2018-05-29 14:03] #476 closed

[2018-05-29 14:06] 2m commented on #474
[code]

https://travis-ci.org/akka/reactive-kafka/jobs/385186868

[2018-05-29 14:13] 2m commented on #474
https://travis-ci.org/akka/reactive-kafka/jobs/385182545
https://travis-ci.org/akka/reactive-kafka/jobs/385182544

[2018-05-29 15:26] Fraer opened #485 "Unable to consume events using assignmentOffsetsForTimes"
I would like to fetch events that were produced during the last 24 hours, ie consume events after a specific timestamp:

[code]

But i'm getting the following errors:
[code]

broker version: kafka_2.12-1.0.0
client version: akka-stream-kafka 0.20

[2018-05-29 18:20] mrwillis opened #486 "Trouble integrating with BroadcastHub"
Hi,

I'm trying to use `reactive-kafka` with a broadcast hub. I'm using Play! and the idea is I want to have one WebSocket connection for each client directly to a kafka topic. The issue I'm running into is even though I'm using a `BroadcastHub`, it seems like my clients are fighting for messages. Here are some logs to explain:

As you can see, it's split up between the consumers. What I am doing

[2018-05-30 08:54] #480 closed

[2018-05-30 12:26] ennru commented on #461
Implemented with #481 and #483

[2018-05-30 12:26] #461 closed

[2018-05-30 12:27] ennru commented on #417
As confirmed by @TimMoore this does work, closing this issue.

[2018-05-30 12:27] #417 closed

[2018-05-30 13:34] ennru commented on #313
Fixed with #433 and #478

[2018-05-30 13:34] #313 closed

[2018-05-30 13:45] ennru commented on #357
Is this solved by the `commitsInProgress` logic in `KafkaConsumerActor`?
Or is this different to #166
See test cases in #490

[2018-05-31 11:55] 2m commented on #485
What is the version of reactive-kafka that you are using?

[2018-05-31 12:02] 2m commented on #486
When you run the hub (`hub.run()`) the materialized value that you get back is `Source[ConsumerRecord[String, String]`. Now whenever this new `Source` is ran, it will be a new branch in the broadcast hub. Therefore when a new client connects, instead of running the hub again, run the source that you got from running the  hub.

As far as I can see you start a new broadcast hub for every new client.

[2018-05-31 12:33] Fraer commented on #485
Sorry, i forgot to specify the version of akka-stream-kafka, i've updated the issue. I was using version 0.20 of akka-stream-kafka.

[2018-05-31 13:30] 2m commented on #485
It could be a bug in the connector. Let me get back to you a bit later after some investigation.

[2018-05-31 14:34] 2m commented on #485
From the exception it looks like `null` is returned as an offset for that particular topic. From the [Kafka API docs](https://kafka.apache.org/11/javadoc/org/apache/kafka/clients/consumer/KafkaConsumer.html#offsetsForTimes-java.util.Map-):

Do you know if the message format of your topic is before 0.10.0?

[2018-05-31 14:48] Fraer commented on #485
Don't think so. I'm running a local kafka server v1.1.0 and akka-stream-kafka v0.20 is using kafka-clients-1.0.1.jar
And no older clients produced records in this topic.

[2018-05-31 15:02] Fraer commented on #485
Looks like this error occurs when the topic exists and is empty.
But for unknown reason it occurs also when the topic exists and is not empty, probably when there were no records produced during the last 24h.

[2018-05-31 17:02] ennru commented on #415
I started to work on this idea. We'll release a new version soon and I try to get this into the new transaction supporting flows. This is a chance to get it in without breaking any APIs - as it is new.

[2018-05-31 20:10] svezfaz commented on #415
@ennru I think it's a good idea to try it out on the transactional flows. I gave it a stab by creating yet another flow (i.e. `flowConditional`) but wasn't really convinced by it..

[2018-06-01 10:08] 2m commented on #485
Thanks for the pointers. It looks like under those conditions `null` is also returned which is not handled properly.

[2018-06-01 10:22] 2m commented on #422
Fixed in https://github.com/akka/reactive-kafka/pull/491

[2018-06-01 10:22] #422 closed

[2018-06-01 10:25] 2m opened #493 "Failed IntegrationSpec must call the onRevoked hook"
https://travis-ci.org/akka/reactive-kafka/jobs/386557136

[2018-06-01 10:38] #486 closed, assigned to nobody

[2018-06-04 13:33] #485 closed

[2018-06-05 06:45] hongwei1 commented on #353
`0, replicas = [0,], isr = [0,], Partition(topic = obp.JuneYellow2017.N.OutboundGetBank, partition = 8, leader = 0, replicas = [0,], isr = [0,], Partition(topic = obp.JuneYellow2017.N.OutboundGetBank, partition = 1, leader = 0, replicas = [0,], isr = [0,], Partition(topic = obp.JuneYellow2017.N.OutboundGetBank, partition = 2, leader = 0, replicas = [0,], isr = [0,], Partition(topic = obp.JuneYello

[2018-06-07 11:35] ennru opened #497 "Add wrapper for Metadata requests"
The new feature to request Kafka Metadata from the internal `KafkaConsumerActor` (see #491) would be even nicer with thin wrappers (javadsl and scaladsl) hiding the `ask` calls and mapping to the correct response types.

[2018-06-07 13:10] ennru commented on #415
Fixed by #495

[2018-06-07 13:11] #415 closed

[2018-06-07 21:07] DWvanGeest commented on #324
This is solved by #495.

[2018-06-08 11:14] ennru commented on #324
Thank you for pointing to this, yes it is now supported.

[2018-06-08 11:14] #324 closed

[2018-06-08 15:14] asflierl commented on #382
FWIW, I am no longer running into lost messages around partition rebalancing in my tests with Consumer.commitablePartitionedSource using 0.21

[2018-06-08 15:35] ennru commented on #382
Thanks for reporting, I hope others experience the same!

[2018-06-12 09:01] kpritam opened #499 "Stopping KafkaConsumerActor using Stop message which is now package private to kafka"
Sharing the KafkaConsumer instance section from [Consumer.md](https://github.com/akka/reactive-kafka/blob/master/docs/src/main/paradox/consumer.md) shows stopping KafkaConsumerActor using
KafkaConsumerActor.Stop message. But seems like Stop is moved to KafkaConsumerActor.Internal which is package private to kafka.

It should either be exposed or documentation can be improved and say stop actor usi

[2018-06-12 12:08] ennru commented on #125
We added quite a number of new integration test with 0.21.

[2018-06-12 12:08] #125 closed

[2018-06-12 12:12] ennru commented on #166
@rabzu Would you have the chance to see if the problem is still there in 0.21?

[2018-06-12 12:13] #181 closed

[2018-06-12 12:15] 2m commented on #181
Closing this ticket due to inactivity. Please re-open this ticket with more information if you still find the original issue relevant.

[2018-06-12 12:15] 2m commented on #218
Closing this ticket due to inactivity. Please re-open this ticket with more information if you still find the original issue relevant.

[2018-06-12 12:15] #218 closed

[2018-06-12 12:19] ennru commented on #229
The state of the docs has improved since: https://doc.akka.io/docs/akka-stream-kafka/current/errorhandling.html#restarting-the-stream-with-a-backoff-stage

[2018-06-12 12:19] #229 closed

[2018-06-12 12:23] 2m commented on #231
This can be achieved by having multiple sources and merging them to one stream. Closing this ticket for now. Feel free to open a new ticket if you find problems with that strategy.

[2018-06-12 12:23] #231 closed

[2018-06-12 12:28] ennru commented on #248
The documentation describes how to use RestartSource and the tests show that the Kafka client code reconnects successfully.

[2018-06-12 12:28] #248 closed

[2018-06-12 12:36] patriknw opened #500 "Publish API for single messages"
Sometimes you don't need a stream, but just want to publish to Kafka. We could provide something like this:

[code]

[2018-06-12 12:36] 2m commented on #344
Producer stage is a bit more complicated now because of the handling of multi-messages. Therefore it will not be possible to implement it using only `mapAsync`.

[2018-06-12 12:36] #344 closed

[2018-06-12 12:40] 2m commented on #269
Closing this ticket due to inactivity. Please re-open this ticket with more information if you still find the original issue relevant.

[2018-06-12 12:40] #269 closed

[2018-06-12 12:42] 2m commented on #276
Closing this ticket due to inactivity. Please re-open this ticket with more information if you still find the original issue relevant.

Recently we added quite a few integration tests using embedded kafka. It would be possible to run these tests in CI using Appveyor. If anyone is interested in adding appveyor setup for that, feel free to open a PR.

[2018-06-12 12:42] #276 closed

[2018-06-12 12:43] ennru commented on #302
We'd like to understand if people still experience this with 0.20 and 0.21.

[2018-06-12 12:44] 2m commented on #282
Closing as a duplicate of #166

[2018-06-12 12:44] #282 closed

[2018-06-12 12:50] ennru commented on #304
Did you try to reuse the Kafka Consumer actor as described in https://doc.akka.io/docs/akka-stream-kafka/current/consumer.html#sharing-the-kafkaconsumer-instance ?

[2018-06-12 12:52] 2m commented on #311
Still waiting for the OP to deliver. :)

Closing this ticket due to inactivity. Please re-open this ticket with more information if you still find the original issue relevant.

[2018-06-12 12:52] #311 closed

[2018-06-12 12:52] 2m commented on #315
Closing this ticket due to inactivity. Please re-open this ticket with more information if you still find the original issue relevant.

[2018-06-12 12:52] #315 closed

[2018-06-12 13:01] 2m commented on #334
Closing this ticket due to inactivity. Please re-open this ticket with more information if you still find the original issue relevant.

[2018-06-12 13:01] #334 closed

[2018-06-12 13:07] 2m commented on #345
In the latest release we added support for metadata: https://doc.akka.io/docs/akka-stream-kafka/current/consumer-metadata.html

You can use that for a healt-check.

[2018-06-12 13:07] #345 closed

[2018-06-12 13:12] 2m commented on #357
Closing this ticket due to inactivity. Please re-open this ticket with more information if you still find the original issue relevant.

[2018-06-12 13:12] #357 closed

[2018-06-12 13:16] ennru commented on #364
Did you manage to isolate this problem into test cases?
Please re-open, if you still experience this.

[2018-06-12 13:17] 2m commented on #358
I do not see anything that would allow doing that in the kafka client APIs. Closing this ticket for now then. Please feel free to reopen if you find a way of doing that using kafka client.

[2018-06-12 13:17] #358 closed

[2018-06-12 13:18] ennru commented on #386
How does this issue relate to the Alpakka Kafka consumer?
Please re-open, if you still think it is relevant.

[2018-06-12 13:21] tavoaqp commented on #304
Hi @ennru , I actually solved this some time ago. The problem was that the partition assignment algorithm was always using the same partition because all my keys had the same value. What I did was to write an algorithm to equally distribute messages to all partitions.

[2018-06-12 13:28] ennru commented on #499
The Stop message should still be used, it is not private.
See https://doc.akka.io/docs/akka-stream-kafka/current/consumer.html#sharing-the-kafkaconsumer-instance

[2018-06-12 13:28] #499 closed

[2018-06-12 13:55] 2m commented on #166
Still happens in 0.21: https://gitter.im/akka/reactive-kafka?at=5b1fb11f8864a936cc8167d2

[2018-06-12 14:15] 2m commented on #304
Aha! Good to know that you were able to solve this.

[2018-06-12 14:15] #304 closed

[2018-06-13 15:40] schoeneu opened #504 "published pom for v0.21 includes compile-scope dependency on docker-client"
see http://central.maven.org/maven2/com/typesafe/akka/akka-stream-kafka_2.11/0.21/akka-stream-kafka_2.11-0.21.pom

The "it" scope used in the sbt dependency configuration (introduced in https://github.com/akka/alpakka-kafka/commit/ecf11ddd78d237a40f8a560c3a5ee3cd808720eb ) seems to be mapped to the (production) compile scope when you are releasing the artifact.

This pulls the docker-client librar

[2018-06-14 10:37] 2m commented on #504
Good catch! Will fix it right away.

[2018-06-14 11:06] 2m commented on #504
Looks like we stepped on https://github.com/sbt/sbt/issues/1380

[2018-06-14 11:33] #504 closed

[2018-06-18 20:46] mohnishkodnani commented on #266
we are also seeing this error in our application

[2018-06-19 08:40] ennru commented on #266
Let's try and get more information on the scenarios where committing times out. Please report the version of the Alpakka Kafka connector/Reactive Kafka and the version of the Kafka cluster.
Does it happen all the time or in certain scenarios?
The underlying implementation uses `KafkaConsumer.commitAsync`, but the Kafka Consumer Actor might be stuck in something else so that the Commit message does

[2018-06-19 14:02] Willem1987 opened #514 "NoSuchMethodError using 0.21.1 with com.typesafe.config 1.2.1"
It seems that the typesafe config requires a TimeUnit to be passed along with the path. The akka.kafka.internal.EnhancedConfig does not conform to this unfortunately.

This causes :
An exception or error caused a run to abort: com.typesafe.config.Config.getDuration(Ljava/lang/String;)Ljava/time/Duration;
java.lang.NoSuchMethodError: com.typesafe.config.Config.getDuration(Ljava/lang/String;)Ljava/t

[2018-06-19 17:43] ennru commented on #514
The dependency should be `com.typesafe.config` version 1.3.2 which is brought in by `akka.actor`, you can't use `config` versions before 1.3.0.

[2018-06-19 17:54] Willem1987 commented on #514
Ah. I'm sorry. I wasn't aware. Another framework we use pushed an old version apparantly.

[2018-06-19 17:54] #514 closed

[2018-06-20 08:30] davideicardi opened #515 "Doc issue: Consumer and producer examples are not correct/complete"
I have some problems creating an "hello world" example following your documentation.

The main problem is that **there isn't a concise and easy to follow end-to-end example**.

The other problem is that the code provided for [ConsumerSettings](https://doc.akka.io/docs/akka-stream-kafka/current/consumer.html#settings) and [ProducerSettings](https://doc.akka.io/docs/akka-stream-kafka/current/produce

[2018-06-20 08:56] ennru commented on #515
Thank you for reporting this.
You are totally right, you need to pass `config.getConfig("akka.kafka.producer")` to get the same behaviour as when passing the actor system.

[2018-06-20 09:13] ennru commented on #515
Oh no, not even that will work as expected. Sorry for the inconsistencies here.

[2018-06-20 11:20] #515 closed

[2018-06-21 13:47] ennru opened #518 "Wrong logic to calculate "Kafka commit took longer than..." warning"
On receiving a commit message the Kafka Consumer Actor may issue a warning "Kafka commit took longer than *commit-time-warning*".
To calculate the time the commit takes `System.nanoTime()` is used, comparing values from two different threads is not useful. `currentTimeMillis` should be used instead.

[source](https://github.com/akka/alpakka-kafka/blob/988c1b628c47b1faff94ec44093c886ea3243cbf/core/

[2018-06-21 15:22] patriknw commented on #518
Is that really true? What is the authoritative reference?
Across different JVMs it can't be used but within same JVM it's the recommended way to measure durations, AFAIK.

`currentTimeMillis` on the other hand may jump backwards

[2018-06-21 16:04] mrwillis commented on #499
For anyone confused, this change occurred at `0.20`. If you're still using `0.19` you'll experience this.

[2018-06-21 16:07] ennru commented on #518
Hm, I consider you more authoritative than my other source...

Looking at it again, the version where a problem was reported (0.18) did lie about the time units it shows - that is [fixed already](https://github.com/akka/alpakka-kafka/issues/406).

[2018-06-21 16:07] #518 closed

[2018-06-22 16:35] rolandjohann opened #519 "read any message after controller dead"
We are experiencing strange consumer behavior causing the consumer to read any message, or no messages anymore.

Had to copy-paste parts of the log because of ELK-only output...

[code]

The topic is single partitioned and replicated.

[2018-06-22 18:25] mohnishkodnani commented on #266
For me
akka-stream-kafka -> 0.13
Kafka Cluster : 0.10.0.0
The problem does not happen all the time. I am yet to pinpoint what condition triggers this.
i have a log statement before the commit stage, that gets printed definitely a 1 minute ago, and then the ask timeout happens at 60000ms.
Unfortunately, i cannot use the later/latest versions to see if there is something in the older version.

[2018-06-23 06:56] mohnishkodnani commented on #266
The pattern in the logs seems to be
1. Wakeup Exception
2. Committing offsets {}
3. Pausing partition

and then repeat 1,2,3
Then after a point only 1,3 until say the commit timeout set and then AskTimeout

[2018-06-25 10:00] ennru commented on #266
@mohnishkodnani The situation with the AskTimeException during commit from 0.13 has been vastly improved. I hope you will be able to upgrade Kafka and the Alpakka Kafka connector soon.

[2018-06-26 09:43] ennru commented on #519
What version of the Alpakka Kafka connector do you use?

[2018-06-26 09:44] rolandjohann commented on #519
latest version, 0.21.1

[2018-06-27 13:37] ennru commented on #499
Sorry if my answer sounded a bit harsh and confusing. I only just now understand that the `Stop` object used to be protected by the `private[kafka]` on `KafkaConsumerActor.Internal`.
From version 0.21 it has moved to `KafkaConsumerActor.Stop`.

[2018-06-27 13:40] ennru commented on #519
I'm not sure I understand what exactly you are experiencing.
What do you mean with "read any message, or no messages anymore"?

Can you give release 0.22 a spin, please?

[2018-06-27 13:54] rolandjohann commented on #519
Consumer reads messages until offset 42. Then coordinator will be marked as
dead, after a few seconds consumer discovers coordinator and consumes a
single message with offset 29. after that no further messages will be
consumed until the app will be restarted.
I‘m not even sure if it‘s alpakka or kafka consumer related.

I‘ll try 0.22 and report the results.
Enno <notifications@github.com> schrieb

[2018-06-28 15:16] ennru opened #526 "SubSourceLogic may send Stop twice"
When using the `ConsumerControl` to stop a consumer the `Stop` message may be sent twice to the `KafkaConsumerActor` resulting in a dead letter.
Both `SubSourceLogic.performShutdown` and `SubSourceLogic.postStop` send `Stop`.

[code]

[2018-06-29 08:54] LMnet opened #528 "Race condition when getting metrics from consumer"
Hi everybody! I tried to use metrics from the consumer like this (simplified):
[code]
And I got an error:
[code]

I tried to debug it and I found, that this error is from this code inside `SingleSourceLogic`:
[code]
When I called `metrics` method, `consumer` variable is still uninitialized. That's because it initialized inside `preStart` block, which could be not finished at the moment when I call

[2018-06-29 12:03] ennru commented on #528
Thank you for this report, I just stumbled about it today, as well.

[2018-06-29 12:09] ennru opened #530 "Consumer hangs when subscribing to non-existing partition"
As `consumer.position(tp)` hangs indefinitely when requesting a non-existing partition the `Assign` message handling will block.
This happens eg. when subscribing with `Subscriptions.assignment(new TopicPartition(topic, parition)))` to a non-partitioned Kafka.

[2018-07-03 12:15] Camsteack commented on #342
It would be nice to have that for Java

[2018-07-04 14:08] niqdev commented on #342
With the following basic config for the Producer
[code]
I had this error
[code]
but thanks to @lilyevsky for his workaround, I solve it in a similar way
[code]
For completeness, since I couldn't find any simple working example, I've used [avro4s](https://github.com/sksamuel/avro4s#conversions-tofrom-genericrecord) in this way
[code]

[2018-07-05 14:38] ennru commented on #272
I looked into your PR #273 now and can see a slight chance that the current code in certain situations could overwrite a higher commit offset with a lower one. So the logic to take the max of the current value in the offsets map and the incoming one could make sense.
For the rest of the PR I don't get enough motivation in this issue description and the code has moved forward a lot since you opened

[2018-07-05 14:38] #272 closed

[2018-07-05 14:58] #528 closed

[2018-07-06 04:39] graphex commented on #364
I seem to be encountering this with 0.22 in cases where there are no new messages coming in to the kafka topic, the final groupedWithin never seems to finish.

[2018-07-06 06:33] ennru commented on #364
Thank you for reporting your issue with this. I'll re-open.

[2018-07-11 11:45] 2m commented on #497
The wrapper should also have Scala and Java DSLs with appropriate conversions between Java and Scala types and collections.

[2018-07-11 11:52] 2m opened #538 "Consumer Source with relative offset defitions"
There has been a need to query certain Kafka topics with relative offsets, for example last offset, or last offset minus 100, or last offset minus 10 minutes.

Currently it is possible to do this by using metadata API to query for offsets and manually deriving an offset for which a source should be created. This could be made simpler by abstracting such logic in a user-friendly consumer source fac

[2018-07-11 11:54] 2m commented on #538
/cc @agemooij @rayroestenburg

[2018-07-17 14:31] tkroman opened #539 "Rebalance event listeners don't respect ConsumerRebalanceListener contract"
Contract:
https://kafka.apache.org/10/javadoc/org/apache/kafka/clients/consumer/ConsumerRebalanceListener.html#onPartitionsAssigned-java.util.Collection-

Quote:

This guarantees that revoked partitions' records get the change to be taken care of: e.g. we can commit them etc etc.

However, here:
https://github.com/akka/alpakka-kafka/blob/master/core/src/main/scala/akka/kafka/internal/SingleSourceL

[2018-07-18 06:51] TimMoore opened #540 "Cross build for Scala 2.13.0 milestones"
It would be nice to have 2.13.0-M5 cross-built releases of Alpakka Kafka so downstream dependents (such as Lagom) can test with the 2.13 milestones.

Depends on (for test):
- [ ] https://github.com/embeddedkafka/embedded-kafka/issues/33
- [ ] https://issues.apache.org/jira/browse/KAFKA-7197

[2018-07-18 10:13] 2m commented on #539
Thanks for raising this issue.

Upon more investigation I see that asynchronous execution starts even earlier. When the Apache Kafka client calls the listener, it continues further code execution as soon as the callback method completes.

https://github.com/apache/kafka/blob/c0518aa65f25317eca0c1da4d350f549d35b8536/clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinat

[2018-07-18 11:29] 2m commented on #540
I was not able to run tests with `2.13.0-M3` because of https://github.com/manub/scalatest-embedded-kafka/issues/148

But I have released `0.22` for `2.13.0-M3` without running tests. Artifacts are on their way to Maven Central.

[2018-07-19 08:42] TimMoore commented on #540
I still can't find the artifacts https://repo1.maven.org/maven2/com/typesafe/akka/akka-stream-kafka_2.13.0-M3/ (404)

[2018-07-19 10:38] 2m commented on #540
Hm. They are in bintray (https://dl.bintray.com/akka/maven/com/typesafe/akka/akka-stream-kafka_2.13.0-M3/0.22/) and bintray GUI says that it has successfully synced it. Will have to investigate.

[2018-07-31 09:10] slmzig opened #541 "retries does not work in kafka producer"
alpakka connector :
"com.typesafe.akka" %% "akka-stream-kafka"  % "0.20"

When kafka is not available I want the kafka producer retry message, in kafka doc I found  https://kafka.apache.org/documentation/#producerconfigs

property retries, I added this property to my producer  properties, stoped kafka and run my app

result is :
[code]
Only two retries was, but in properties I set 6.

How to solve

[2018-08-03 15:31] Reeebuuk commented on #500
And vice versa, we want to consume only one message and if message isn't there in certain timeout end the stream.

To specify from which offset to start from and how many messages to read.

I that's possible now please shout :)

[2018-08-05 18:05] PAStheLoD opened #542 "Support/documentation for actor initialization problem handling"
Hello!

Using 0.22, and after browsing the issue tracker I think this is a request for enhancement. Currently it's either not possible (or at least "very" undocumented to figure out how) to catch initialization exceptions.

I'm thinking of these:
[code]

Even if I manually initialize the actor, since the exception happens in Akka, there's no way to handle it.

I see that the documentation [changed

[2018-08-06 15:00] vlovgr commented on #336
I'm experiencing something very similar to this issue. I'm consuming a topic with 4 partitions, running 4 separate instances of the same stream in parallel and am experiencing an issue with messages being lost. Everything seems to be processing as normal, when the following then happens.

[code]

The next log is that offset 29129158 on partition 0 is being processed at `2018-08-02T03:16:06.437Z`.

[2018-08-07 12:08] 2m commented on #542
When creating a consumer stream with the wrong settings for the consumer actor:

[code]

The `result` Future will be failed with a `akka.kafka.ConsumerFailed` exception which you can handle and recover.

Granted, not every failure sets the cause of the `ConsumerFailed` exception. We should improve that.

[2018-08-07 12:18] 2m commented on #541
I wonder if the retries parameter is for when the connection has already been successfully established. Does it work when using Kafka Consumer without Alpakka Kafka stream?

[2018-08-07 12:32] 2m commented on #336
Great analysis @vlovgr! This will be very helpful to track down the issue.

[2018-08-08 22:06] tkroman commented on #539
Hey. Was this triaged by any chance? If not, I could use some pointers / guidance on how to approach this.

[2018-08-09 07:03] mr-git commented on #451
what will happen, if `max-wakeups` is set to `0`?

[2018-08-10 14:04] GrigorievNick commented on #382
Hi I have very similar issue, that can be reproduced with simply close downstream for topicPartition source.

` (0 to 100000).foreach(action => producer.send(new ProducerRecord(topic, action.toString)))
    producer.flush()
    Consumer
      .committablePartitionedSource[String, String](ConsumerSettings(system, None, None), Subscriptions.topics(topic))
      .log(topic)
      .delay(FiniteDuratio

[2018-08-13 08:32] fr3akX opened #543 "Upgrade to Kafka 2.0.0"
Please upgrade to kafka 2.0.0

[2018-08-13 13:39] Hallborg commented on #302
I had this issue on 0.16 and was fortunate to catch the 0.22 on the release day. I haven't seen the issue since.

[2018-08-13 14:39] okrekhovetska commented on #431
Have you found the reason of such behavior?

[2018-08-17 10:19] GnanasoundariSoundarajan opened #546 "Delayed message consumption - alpakka-kafka connector 0.22"
Hi,

alpakka-kafka connector version 0.22

After upgrading alpakka-kafka connector version from 0.21.1 to 0.22, I am facing 1min delay in consuming messages. If i keep version as 0.21.1, it consumes message immediately.

0.22: (Delay ~1min)
**message received time in kafka:**
[centos@Kafka_Redis kafka_2.12-0.11.0.2]$ date
**Fri Aug 17 10:15:53 UTC 2018**
[centos@Kafka kafka_2.12-0.11.0.2]$ ./bin/k

[2018-08-20 09:46] vlovgr opened #547 "Consumer hangs after multiple coordinator rediscoveries"
I'm running a single stream (single consumer in the consumer group) consuming a topic with 4 partitions. Everything seem to be processing as normal, when suddenly the following happens.

[code]

After the last log message above, no more logs are printed, and no records are being processed, even though unprocessed records are available on the topic. After a manual restart of the service, the stream

[2018-08-20 13:54] ennru commented on #547
Thank you for reporting.

What logging level applies for `akka.kafka.internal` stuff? Looking at the source I'd expect `Requesting messages, requestId:` showing in the log on debug level. It is not obvious to me what could stop the code from getting to that log statement.

The next thing to check could be to enable `akka.actor.debug.receive` to see if the actor receives the message to request more

[2018-08-20 14:38] ennru commented on #546
Interesting.

I can't find anything in the diff that could explain this effect.
https://github.com/akka/alpakka-kafka/compare/v0.21.1...v0.22
Most changes regard the logging.

[2018-08-20 14:40] ennru commented on #302
Thank you for this update. Anyone else?

[2018-08-21 11:28] vlovgr commented on #547
Thanks for the quick reply @ennru! I've enabled debug logging for `akka.kafka.internal` and enabled `akka.actor.debug.receive`, so will post an update after I experience the issue next time.

[2018-08-21 19:32] adkafka opened #549 "Consumer fetches duplicate records when lagging, resulting in high network use, but low throughput"
We noticed that when running our Kafka Consuming application with lag, there was a large discrepancy between the bytes the Kafka Brokers were sending us, and the number of messages we were processing.

Here is an example, where we forced lag onto our pod, which resulted in a large spike in Network out on our Kafka Brokers:
![canonicalbytesoutbrokers](https://user-images.githubusercontent.com/39815

[2018-08-22 09:44] ennru opened #550 "Document debugging practices"
We should collect advice on how to get insights into what is happening in the Alpakka Kafka Connector in the documentation.
Setting up logging to get Akka and Kafka client logs together is one thing to document.

[2018-08-22 14:53] ennru commented on #549
Thank you for this detailed report of your problem.

The connector keeps calling `consumer.poll` which even will try to fetch records, as polling is required even to transfer commits (which get cached in the client) to the broker. I wonder how much data is exchanged in that interaction.

The `...since it is no longer fetchable` occurs when trying to fetch data from a paused partition, I'm trying t

[2018-08-22 14:56] laymain commented on #166
Same issue here in 0.22

[2018-08-22 15:56] adkafka commented on #549
Hello Ennru,

The `consumer.poll` certainly has other information in it as well. I wouldn't expect the commits to have much overhead though, as it is basically just transferring a single offset per partition, right? The fact that this behavior only exists when we have a lagging consumer that itself cannot keep up with the stream, led me to believe that the payload of these fetches is mostly Kafka

[2018-08-23 09:01] laymain commented on #166
This is a critical issue, we're not able to use the `Supervision.stop` directive, application will not terminate.

[code]

[code]

The process never terminates, same issue if I call `killSwitch.shutdown()`.

---

The only ugly workaround I've found to handle `Supervision.stop` directive **and** the use of the `KillSwitch` is to halt abruptly the application by:
- calling `System.exit()` within the

[2018-08-23 12:49] ennru commented on #549
Yes, the pausing/fetching seems to be the issue here.

My reconstruction of what happens is this:

1. A poll where the stream has demand is issued
1.1. Partitions with demand are resumed
1.2. The client receives fetched records
1.3. At most `max.poll.records = 500` or `max.partition.fetch.bytes = 1MB` records are returned, but more data may be received and is kept in the Kafka client
1.4. Data is

[2018-08-23 13:07] patriknw commented on #549
There is also a pre-fetch that might have the same effect as described above with fetching too much. Comment in KafkaConsumer.poll:
[code]

I think it would be worth trying to increase the poll interval (drastically, like 5 seconds) when there is no demand and no commits. Hopefully the next demand request comes in before that has elapsed and previously pre-fetched records can be used.

I'm not sur

[2018-08-24 01:54] adkafka commented on #549
Thanks for your responses Ennru.

I think your reasoning makes sense: it is not really feasible to avoid this refetching given that we depend on pause/resume for backpressure. Would it be possible though to drain these fetched records in a buffer that is controlled by the KafkaConsumerActor? If we are able to place the records in a buffer immediately, then we can control backpressure more finely.

[2018-08-24 10:27] Rdebokx commented on #431
I encountered similar behavior the other day. In my case this was due to the fact that I had topic-specific consumers in the same consumer group.

As soon as I created 80+ consumers, where each consumer would have its own topic to subscribe to, rebalancing issues occured that resulted in a similar behavior. Reading the documentation of kafka, it is not stated explicitly that this is not possible.

[2018-08-24 10:27] Rdebokx commented on #306
I encountered similar behavior the other day. In my case this was due to the fact that I had topic-specific consumers in the same consumer group.

As soon as I created 80+ consumers, where each consumer would have its own topic to subscribe to, rebalancing issues occured that resulted in a similar behavior. Reading the documentation of kafka, it is not stated explicitly that this is not possible.

[2018-08-24 10:45] ennru commented on #549
Yes, I've started thinking along the lines of caching in the `KafkaConsumerActor`, as well. It's a pity that the Kafka Consumer API does not allow to inspect what is already fetched.
But I think it might be simpler to find a way to avoid `poll` calls when the demand is low and no commits need to be sent. I need to see how that would effect heartbeats.

[2018-08-24 11:46] ennru commented on #166
The stream shuts down properly, including the `KafkaConsumerActor` as your logging shows (`Kafka consumer has been closed`).
To shut down the whole application you need to terminate the Actor system.
If you want to shut down the Actor system on stream failure, I recommend keeping the `CompletionStage` from the `Sink.ignore` and adding an `exceptionally` handler to it.

[2018-08-24 12:26] laymain commented on #166
Ok, I had misunderstood what was doing the KillSwitch: it ends the stream but not the system.
As adviced, I have kept the `CompletationStage` and terminated the Actor system once it is completed (exceptionally or not).

[code]

[code]

Application now terminates smoothly as expected, thank you for the help.

[2018-08-24 14:30] ennru commented on #546
I tried your configuration and your flow implementation, it reads the data immediately - I used `Sink.head` to finish on the first message.
How do the messages get produced?

[2018-08-26 12:11] ChenShuai1981 commented on #342
How can I get a "SpecificRecord" instead of "GenericRecord" shown in @lilyevsky example code?

[2018-08-27 02:58] GnanasoundariSoundarajan commented on #546
Thanks for trying out.
Messages are produced using the same connector. Here is the settings.
 kafka {
        producer {
           parallelism = 100
           bootstrap.servers = "<server1>:9092,<server2>:9092, <server3>:9092"
           close-timeout = 30s
           auto.offset.reset = "earliest"
           max.redeliveries = 0
           use-dispatcher = "kafka-dispatcher"
           kafka-cl

[2018-08-27 08:53] ennru opened #553 "Make settings constructors private"
To not break binary compatibility by introducing new settings, the constructors should be made private do disallow construction with `new`.

[2018-08-27 13:09] ennru opened #555 "Integration Tests fail on connecting to Kafka in Docker"
The new integration test making use of sbt-docker-compose fail as they don't connect to Kafka within the Docker containers when running on Travis.
https://travis-ci.org/akka/alpakka-kafka/jobs/421072038

I've tried to understand the problem, in #554

[2018-08-27 13:11] ennru opened #556 "Make Integration test Docker setup work on OS X"
The current Docker setup for the integration tests and benchmarks works on Linux but gets non-workable hostnames on OS X.

[2018-08-29 07:42] GnanasoundariSoundarajan opened #557 "Consumer is not consumed from few partitions"
Infrastructure:

Kafka is running in cluster mode with 3 brokers and 3 zookeeper instances.
Kafka broker is running in t2.xlarge AWS instance.
3 Zookeeper instances is running in single t2.xlarge AWS instance.
Kafka Version: 1.1.0

Issue:
Kafka consumer is not consuming messages from few partitions  though the consumer is still active and subscribed to the partition in kafka.

How to reproduce:
-S

[2018-08-31 13:44] politrons commented on #319
I have this issue with the consumer. To reproduce it just configure your Source with Deserialization as `StringDeserializer` and then send to the topic an Integer. Then after the `Serialization Exception` the kafka-consumer is close, even having Supervisor.resume . The version is` akka-stream-kafka 0.20`

[2018-09-01 14:51] politrons opened #558 "Best strategy when Kafka consumer fail"
I´m using Kakfa-client with Akka stream, and even having a Supervisor Strategy defined in my materializer

[code]

When I receive something that I cannot deserialize

akka stream die org.apache.kafka.common.errors.SerializationException: Error deserializing key/value for partition
My stream dont use the supervisor strategry and My consumer stop.

As I read in the documentation a workaround for thi

[2018-09-07 09:20] ennru opened #559 "Adapt poll interval to demand"
Out of the analysis for #549, I think it would be interesting to explore if the `KafkaConsumerActor` could adapt the poll interval to the downstream demand.
Calling `poll()` regularly is required to let the Kafka cluster know the consumer is still alive (heartbeat), even if no other communication is pending.
But there is no reason to keep polling every 50 milliseconds (the default) when there is n

[2018-09-07 09:27] ennru commented on #166
There hasn't been a documented case of the Actor not shutting down since v0.21.
I've reported #526 which shows as `Stop` messages as dead letters.
Please report details in case you suspect the consumer stays alive while the stage terminated.

[2018-09-07 09:29] vlovgr commented on #547
@ennru I think there might be a race condition in `KafkaConsumerActor` which causes the partitions to stay in a paused state, but I'm not sure what's triggering it. I've not yet seen it happen again. I'm much more impacted by https://github.com/akka/alpakka-kafka/issues/336 than this issue though.

[2018-09-14 10:28] fmeeuw opened #560 "committablePartitionedSource doesn't emit the sources of all partitions, after new partitions are assigned due to rebalancing."
We are using alpakka-kafka-connect 0.22 and kafka 1.0.1.

We have three instances running which consumes in total 12 partitions from one kafka topic, by using the Consumer.committablePartitionedSource. The issue manifest itself like this, after a rebalance suddenly some partitions are not consumed from anymore. The lag keeps growing and
growing, until we either do a restart, or another rebalance f

[2018-09-14 10:53] ennru commented on #560
Thank you for putting together these details around this nasty bug.
Would you be able to share the test case you put together? (Preferably as a Pull Request)

[2018-09-14 12:03] fmeeuw commented on #560
I am sorry to have caused this noise, but it seems to be related to our setup.
Apparently it happens by using:

[code]

When using flatMapMerge, as in the example documentation, it no longer happens.
[code]

[2018-09-14 23:46] johnclara opened #561 "Commit With Metadata"
I would like to add metadata based on the ConsumerRecord with my committed offset.

My goal is to consume a replicated topic in a DR DC starting each consumer from around the time where it left off. My goal is to add the timestamp of the message in ConsumerOffsets and replicate this topic to a DR DC. From this timestamp, I can get an offset close to that of the oldest last read message per GroupTo

[2018-09-15 00:00] johnclara commented on #561
PR is here: https://github.com/akka/alpakka-kafka/pull/562

[2018-09-20 08:21] bsideup commented on #556
Hi! I'm one of Testcontainers ( http://testcontainers.org ) developers and will be happy to help if you decide to use it (FYI we have KafkaContainer) :)

[2018-09-20 09:41] vlovgr commented on #547
After having experienced this issue again, it looks like it's a duplicate of https://github.com/akka/alpakka-kafka/issues/353.

[2018-09-20 09:41] #547 closed

[2018-09-21 13:31] ennru opened #566 "Create example showing Akka Cluster and Kafka topic partitions"
The docs should show an example exercising Akka Cluster together with the Kafka connector listening to all partitions of a topic on different nodes. Possibly using Akka Cluster Sharding, as well.

[2018-09-24 06:47] patriknw commented on #566
I agree that it should be documented, but isn't ordinary consumer groups enough in most cases. See "Consumer Groups and Topic Subscriptions" in
https://kafka.apache.org/10/javadoc/?org/apache/kafka/clients/consumer/KafkaConsumer.html

It means that you can start a consumer on each node in the cluster, using the same group-id, then Kafka will balance the partitions over the active consumers. Scalin

[2018-09-25 12:00] ennru opened #569 "Create classes instead of anonymous instances"
I believe it would help to understand the Alpakka Kafka connector if it would be changed to use named classes instead of anonymous. Log output and Akka Stream tree visualisations would benefit from more exact names when debugging things.

[2018-09-25 12:29] ennru commented on #569
For example log category

`a.k.i.ConsumerStage$$anon$8$$anon$1` would become

`ConsumerStage$PlainSubSource$$anon$1` or even

`PlainSubSource$PlainSubSourceLogic$1`.

[2018-09-25 12:46] ennru commented on #424
A non-API-breaking way to hide the `commitScaladsl`/`commitJavadsl` methods is to introduce a flow eg. `Committer` that does it behind the scenes.
It could offer pre-packaged `groupedWithin` and other useful patterns.

[2018-09-25 17:02] ennru opened #570 "Partitioned sources revoke/assign ignore re-assigned partitions"
#382 reported lost messages on partition reassignment. This was solved (or at least improved) with #462 and #517, by delaying the actual handling of the revoked topic partitions: [SubSourceLogic.partitionRevokedCB](https://github.com/akka/alpakka-kafka/blob/v0.22/core/src/main/scala/akka/kafka/internal/SubSourceLogic.scala#L124-L143)

This *does not work correctly* whenever the Kafka client issues

[2018-09-26 10:37] sudpaw commented on #302
Im using 0.22 and i'm having the same issue.

I'll try with changing the settings.

[2018-09-26 17:40] #561 closed

[2018-09-26 17:44] ennru commented on #561
Fixed with #563

[2018-09-26 19:03] patriknw commented on #424
I like that idea, including the added convenience.

[2018-09-26 21:10] #569 closed

[2018-09-27 07:57] ennru commented on #555
Closed with #573

[2018-09-27 07:58] #555 closed

[2018-09-28 09:16] ennru commented on #570
This issue becomes visible when using manual offsets via `plainPartitionedManualOffsetSource`.

[2018-09-28 11:38] ennru opened #576 "Failed: Rebalance spec should not lose any messages during a rebalance (it:test)"
https://travis-ci.org/akka/alpakka-kafka/jobs/434555693#L2535

[2018-10-01 09:14] #576 closed

[2018-10-02 11:12] ennru opened #582 "Use Scalatest Embedded Kafka 2.0.0"
Now that we use the Kafka client 2.0.0 we should consider upgrading to Embedded Kafka 2.0.
A little caveat from the readme:

[2018-10-03 09:46] ennru opened #586 "Issue a warning if many consumers or producers are created"
Detect the creation of many `KafkaConsumerActor`s or `Producers` and issue a warning directing the developers to the ["sharing Consumer" docs](https://doc.akka.io/docs/akka-stream-kafka/current/consumer.html) and ["sharing Producer" docs](https://doc.akka.io/docs/akka-stream-kafka/current/producer.html).

[2018-10-03 15:06] zaharidichev commented on #559
@ennru
I would like to help with this. Correct me if my understanding is wrong but after reading the analysis provided by you and @adkafka, I came to the conclusion that the main problem comes from the pipelining effect that the Kafka Fetcher tries to achieve. In a sense when we poll and we grab some fetched data from the consumer, the Fetcher issues another fetch request right away. Due to the fa

[2018-10-03 17:44] ennru commented on #559
Yes, your description of what I understood from looking into it is perfectly right.

I haven't followed up anything more on the idea of a more dynamic poll interval. We want the tight polling when there is a lot of data coming by, but can get slower when demand drops. There are many constraints to it and we need to be very careful here.

Following Lightbend's [current plan](https://github.com/akka

[2018-10-04 14:35] maxa-maxic commented on #440
Hello dariodariodario,
did you manage to solve this issue?

Our code looks like yours, almost the same, and we are facing the same issue.
I am out of ideas what to try next. I really hope that you found a solution.

[2018-10-04 21:53] #570 closed

[2018-10-05 07:42] ennru commented on #570
@tkroman Thanks for pointing this out. Yes, #590 just changed what partitions are passed to the function fetching offsets from external storage.

[2018-10-05 07:48] ennru commented on #539
I'm already kneedeep into that code and know exactly why these messages come in the wrong order. I'll give it a try, next week.
@tkroman It would be perfect if you could add a test case to `PartitionedSourcesSpec` that shows the expected behaviour and is marked with `pendingUntilFixed`.

[2018-10-05 10:18] Camsteack commented on #570
@ennru Thanks a lot for the quick fix

[2018-10-05 17:49] 2m commented on #570
If you would like to try out a snapshot version with this fix merged in, we have just released a `0.22+75-ada5b3a2` to the [snapshots repo](https://doc.akka.io/docs/akka-stream-kafka/current/snapshots.html).

[2018-10-06 11:28] Camsteack commented on #570
Will do !

[2018-10-08 08:39] ennru commented on #556
@bsideup Thank you for reaching out! Right now we solve this with the hack of adding the OS X Docker internal hostname to `/etc/hosts`
[code]
We might consider Testcontainers in the future.

[2018-10-08 08:42] ennru commented on #543
The upgrade to Kafka 2.0 is merged and will be part of 1.0-M1.
It is available in [recent snapshots](https://doc.akka.io/docs/akka-stream-kafka/current/snapshots.html), already.

[2018-10-08 08:42] #543 closed

[2018-10-08 13:17] ennru opened #596 "Partitioned sources do not send rebalance events to listener"
Working to fix #539 I discovered that partitioned sources do not send rebalance events at all.

[2018-10-09 20:29] 2m opened #601 "Failure: PartitionedSourceSpec partitioned source should resume topics with demand"
[code]

https://travis-ci.org/akka/alpakka-kafka/jobs/439005352

[2018-10-10 00:10] 2m opened #603 "Document different subscription types"
This has been discussed before, but came up again when adding more multi-topic subscription tests.

We should document different subscription types and when those are best to be used. Also different consumer sources take different subscription types which should also be mentioned.

[2018-10-10 07:36] ennru commented on #601
I guess this is related to the changes introduced by #597.

[2018-10-10 12:43] 2m commented on #601
I do not think so. This particular failure happened before #597 got merged.

[2018-10-10 12:54] ennru commented on #601
Ok, I'm on it anyway. It fails locally for me every 10th time...

[2018-10-10 17:34] ennru commented on #539
There is no backwards-compatible way to turn these signals sent on revoking and on assignment into something semi-synchronous.
If that functionality is needed, we'd need to introduce a `synchronousRebalanceListener` on the subscriptions, that requires the actor to acknowledge the message within a timeout.
Alternatively, that could be a function that is passed in as used in `SubSourceLogic` to supp

[2018-10-10 17:41] #601 closed

[2018-10-10 18:16] #596 closed

[2018-10-10 18:18] 2m commented on #539
Reopening as #595 did not address this.

[2018-10-10 18:20] ennru opened #607 "Document integration tests and benchmarks"
Now that the docker-compose based integration tests and benchmarks work properly, it should be documented how to run those locally.

[2018-10-10 21:06] zaharidichev commented on #559
@ennru @adkafka
After a bit of thinking and some experimentation, I think I understand the problem a bit better. Took a better look at your test case that you have referenced to and that was quite helpful. The thing is that even if we adapt the poll interval to be dependant on demand, there is little we can do to solve the problem.

In the test case that you have created we have a single consumer

[2018-10-11 08:28] ennru opened #608 "Adapt to the new Kafka 2.0 client behaviour"
As the Kafka client is now upgraded to 2.0.0, the Alpakka Kafka connector should make use of the new methods that support a timeout instead of the risk of blocking indefinitely.
See [Kafka KIP-266](https://cwiki.apache.org/confluence/display/KAFKA/KIP-266%3A+Fix+consumer+indefinite+blocking+behavior)

Especially the new behaviour in `poll(Duration)` needs to be considered carfully:

[2018-10-11 08:33] ennru commented on #559
Great analysis!
Now that you say it, it is obvious that a shared actor can't adapt the poll interval to low demand in a good way.

I've started to look into the changes introduced by the [Kafka client 2.0](https://cwiki.apache.org/confluence/display/KAFKA/KIP-266%3A+Fix+consumer+indefinite+blocking+behavior), especially the new behaviour for `poll(Duration)`. We'll need to re-think the polling wit

[2018-10-11 09:39] ennru opened #609 "Log configuration in KafkaConsumerActor preStart"
Just as the Kafka client logs its configuration the actor could dump its configuration on debug level.

[2018-10-11 09:43] ennru commented on #609
And maybe adding `BuildInfo` and include the library version number into that log message would be a good idea.

[2018-10-11 10:04] zaharidichev commented on #559
Yes, I have read about the new version, lets discuss in #608. However this mainly concerns the poll(0) calls as well as the wake up behaviour. Still does not solve the [problem of throwing fetched data. If there are any other ideas for solving that apart from the one proposed, feel free to share :)

[2018-10-11 10:14] zaharidichev commented on #608
Yes, so pretty much the new semantics  guarantee that the timeout will be honoured and that there will be no infinite blocking. Seems to me a few things in the actor consumer may be changed to adopt to that behaviour (and simplify things a bit):

- pollInterval can be close or equal to `max.poll.interval`
- We introduce a configurable timeout for the usual demand driven poll call
- We get rid of t

[2018-10-11 10:40] zaharidichev commented on #608
@patriknw
I guess as long as we can control the maximum amount of blocking per call it is a judgement call whether we want a short blocking poll once or do poll(Duration.Zero) the same way poll(0) is done now. Its just that we need to bear in mind that even with poll(0), we are not guaranteed to not be handed results back. So, in case we are, we have to deal with that.

But the wake up stuff can c

[2018-10-11 11:10] ennru commented on #559
The best solution would definitely be to improve the Kafka client and get some control over the prefetched data.
What I find relevant to explore is the new `poll(Duration.ZERO)` behaviour as it now may return data that is in the pipe already. How does it relate to prefetching and pausing?

[2018-10-12 13:07] zaharidichev commented on #559
@ennru
I agree its quite important to consider. Looking at the code more closely, we are pretty much guaranteed that `poll(Duration.ZERO)` will not return data for partitions that are paused. So if there is a partition that holds some prefetched records, calling `poll(Duration.ZERO)` will return the data only if the partition is not paused. If its is paused, it will ignore the prefetched records.

[2018-10-12 13:15] zaharidichev commented on #608
Should I base myself of of #610 and try to tackle the poll(Duration....), wake up part of this or somebody is already working on it ?

[2018-10-12 15:24] 2m opened #611 "Failed: PartitionedSourceSpec partitioned source should resume topics with demand"
https://travis-ci.org/akka/alpakka-kafka/jobs/440658900

[code]

It seems that #601 does not want to go away quietly.

[2018-10-12 17:04] ennru opened #612 "Improve handling of misconfigured Kafka client"
The `KafkaConsumerActor` can do better in situations where the `ConsumerSettings` are not complete:
1. don't have bootstrap servers (fails in preStart)
1. don't have a group id (fails during poll)

[2018-10-12 23:03] ingared8 commented on #306
When I tried to run a client to Kafka with TLS  without providing all the trust store and key store files, I got the same errors.  Instead of throwing SSL failed, it throwed  the above exception.
 `kafka-console-consumer  --topic test --from-beginning --bootstrap-server $KF`

The following is the error :
`java.lang.OutOfMemoryError: Java heap space
        at java.nio.HeapByteBuffer.<init>(HeapByt

[2018-10-12 23:04] ingared8 commented on #306
My observation is `java.lang.OutOfMemoryError: Java heap space at java.nio.HeapByteBuffer.<init>` is not exactly a OOM issue but somehow authentication is manifested into this issue.

[2018-10-15 07:31] #582 closed

[2018-10-15 07:52] ennru commented on #603
Fixed by #613

[2018-10-15 07:52] #603 closed

[2018-10-15 11:11] ennru commented on #539
Thank you for this detailed explanation.

Doesn't the Consumer setting `.withProperty(ConsumerConfig.AUTO_OFFSET_RESET_CONFIG, "latest")` solve your problem?

There is no way to clear in-flight messages already in the stream.

[2018-10-17 15:08] zaharidichev commented on #559
@ennru

I did reach out on the mail list describing the problem in detail and the response that I got was not really what I hoped for:

Seems to me they are referring to the quotas functionality but I do not think that this can help us a lot.

[2018-10-17 16:21] #341 closed

[2018-10-17 16:21] #356 closed

[2018-10-17 16:22] #558 closed

[2018-10-18 06:36] ennru commented on #559
I'm not sure I understand what this answer says. Do you have a link to the discussion on that list?
It might be that we are too concerned about how easily the Kafka client code may block, as it had this indefinite blocking behaviour in the past. But we need to understand what to expect from the changes.

[2018-10-18 06:51] zaharidichev commented on #559
I don't think the answer says much overall... Here is the link: https://lists.apache.org/thread.html/fbb7e9ccc41084fc2ff8612e6edf307fb400f806126b644d383b4a64@%3Cdev.kafka.apache.org%3E

Simply skipping to call the poll  (as suggested )when we are not ready for records is a brutal oversimplification of what needs to happen and not an option at all because:

- You need to call it at certain point in

[2018-10-18 07:13] ennru commented on #559
Thank you for the link. I get the impression that the person did not really try to understand the question you had.
As you say, even if a client has no demand for data at all, it needs to keep calling `poll`. I guess the non-standard use case our Kafka connector has, is to apply different flow control to different topics within one client instance.

[2018-10-18 07:17] zaharidichev commented on #559
Yes, I think my question was not really taken very seriously. Never mind I will push until I get a proper answer. But yes, we need to keep calling poll. On top of  that the use case of the akka connector applying different priorities to topic within the same client instance does not strike me as so non trivial. After all the documentation states very clearly that this is the precise use case for t

[2018-10-18 12:12] ennru commented on #553
As of #610, the `ConsumerSettings` constructor is deprecated.

[2018-10-18 12:18] ennru commented on #253
With #615 serialization errors in the consumer can now be handled directly in the stream, eg. by resuming.

[2018-10-18 12:31] ennru commented on #438
When the Kafka client reports `NotLeaderForPartitionException` the actor polling Kafka will stop. This far it did not pass the cause for stopping to the stream stage. This is now implemented with #612, but I'm not sure what you were able to see on the client side.

[2018-10-18 12:32] ennru commented on #450
Test stability has improved a lot, closing this.

[2018-10-18 12:32] #450 closed

[2018-10-18 12:34] ennru commented on #455
All Scala examples are now run as tests, some Java examples are.
`ConsumerExample.java` needs some love.

[2018-10-18 12:35] ennru commented on #462
We haven't seen any problems with this since improving the tests, closing.

[2018-10-18 12:35] #462 closed

[2018-10-18 12:35] ennru commented on #471
We haven't seen any problems with this since improving the tests, closing.

[2018-10-18 12:35] #471 closed

[2018-10-18 12:35] ennru commented on #475
We haven't seen any problems with this since improving the tests, closing.

[2018-10-18 12:35] #475 closed

[2018-10-18 12:36] ennru commented on #479
We haven't seen any problems with this since improving the tests, closing.

[2018-10-18 12:36] #479 closed

[2018-10-18 12:37] ennru commented on #493
We haven't seen any problems with this since improving the tests, closing.

[2018-10-18 12:37] #493 closed

[2018-10-18 12:37] ennru commented on #472
We haven't seen any problems with this since improving the tests, closing.

[2018-10-18 12:37] #472 closed

[2018-10-18 12:37] ennru commented on #474
We haven't seen any problems with this since improving the tests, closing.

[2018-10-18 12:37] #474 closed

[2018-10-18 12:38] ennru commented on #400
We haven't seen any problems with this since improving the tests, closing.

[2018-10-18 12:38] #400 closed

[2018-10-18 12:40] ennru commented on #530
With using the changed API from Kafka 2.0 it won't hang indefinitely anymore.
See #610

[2018-10-18 12:40] #530 closed

[2018-10-19 20:44] tkroman commented on #539
I mean, if we had a way to commit before reassignment, users would still have the choice of eg resorting to this:

[code]

delivery semantics in this case is different from default (i think this means at-most-once for batches coinciding with rebalances and at-least-once for any other case), but this is anyway better that nothing.

[2018-10-21 19:01] zaharidichev commented on #559
I submitted a KIP for that [here](https://cwiki.apache.org/confluence/display/KAFKA/KIP-385%3A+Provide+configuration+allowing+consumer+to+no+throw+away+prefetched+data). There is a link to the [maillist discussion](https://lists.apache.org/thread.html/e463cc04fb7e4d86e4e0d577ccaa0fe06b334c3233b281582e730c22@%3Cdev.kafka.apache.org%3E) associated with the KIP as well

[2018-10-23 23:14] #612 closed

[2018-10-23 23:16] ennru commented on #329
Fixed with #617

[2018-10-23 23:16] #329 closed

[2018-10-23 23:16] ennru commented on #542
Fixed with #617

[2018-10-23 23:16] #542 closed

[2018-10-24 11:57] dmi3zkm commented on #353
What versions are affected?

[2018-10-24 13:46] dmi3zkm commented on #266
@ennru
Kafka version - 1.1
alpakka-kafka - 0.22
using autocommit

[2018-10-24 15:48] ennru commented on #266
Do you have problems with timeouts on committing while using autocommit?

[2018-10-24 15:52] ennru commented on #539
Yes, I guess you are right. What we need to add is a callback API that is not based on actor messaging.
I'll look into that, but I guess we'll release a 1.0-M1 version prior to that.

[2018-10-24 16:13] mohnishkodnani commented on #266
I didnt try auto commit, since from the get go, i had to control the commit
to kafka after i persist the message and not when i receive.

On Wed, Oct 24, 2018 at 8:52 AM Enno <notifications@github.com> wrote:

[2018-10-25 07:44] dmi3zkm commented on #266
@ennru

Sometimes I get error messages saying that:
1. "[Consumer clientId=ConsumerX, groupId=GroupX] Offset commit failed on partition TopicX-1 at offset N: The request timed out.".
2. "[Consumer clientId=ConsumerY, groupId=GroupY] Offset commit failed on partition TopicY-1 at offset N: The coordinator is not aware of this member."
And sometimes consumer stops consuming at all. Interesting things

[2018-10-25 12:45] dmi3zkm commented on #266
Many thanks.
I'll keep investigating.

[2018-10-26 14:04] 2m commented on #559
@zaharidichev thank you very much for handling this in the mailing list and eventually KIP, which pinged linkedin to push the fix upstream here: https://github.com/apache/kafka/pull/5844/files

[2018-10-26 14:08] zaharidichev commented on #559
Yes it turned out quite nice, albeit I was hoping to push a fix myself, but they raced me to it. Nevermind, will focus on #614 now. All is well when it ends well :)

[2018-10-27 14:54] ennru opened #619 "Introduce committing flow"
A non-API-breaking way to hide the commitScaladsl/commitJavadsl methods is to introduce a flow eg. Committer that does it behind the scenes.
It could offer pre-packaged groupedWithin and other useful patterns.

[2018-10-27 14:55] ennru commented on #619
@rtimush Did you look into contributing your solution for this already?

[2018-10-27 14:58] ennru opened #620 "Package testkit"
The testkit is internal to Alpakka Kafka this far but might be relevant for other projects.
It should be improved and documented to become usable.

[2018-10-28 22:12] rtimush commented on #619
@ennru Yes, I started working on it, but then had a couple of busy weeks and didn't have time to finish. I will try to push something this week.

[2018-11-01 16:30] ennru opened #624 "Make sure Alpakka Kafka works on JDK 11"
The upcoming Apache Kafka 2.1 release is said to be [JDK 11 compatible](https://issues.apache.org/jira/browse/KAFKA-7264).

Akka has a few JDK related issues which not necessarily affect the Alpakka Kafka connector
* https://github.com/akka/akka/issues/25640 (when using module path)
* https://github.com/akka/akka/issues/25739
* https://github.com/akka/akka/pull/25792

Akka will not solve running w

[2018-11-01 19:19] ennru commented on #611
Experiencing it repeatedly today https://travis-ci.org/akka/alpakka-kafka/jobs/449473247

[2018-11-02 08:50] ennru commented on #228
Fixed with #621

[2018-11-02 08:50] #228 closed

[2018-11-02 16:09] ennru opened #625 "Use Akka `ManifestInfo.checkSameVersion` to warn for old Akka versions"
As the Alpakka Kafka connector may reach internal API within Akka, it may become a binary incompatibility when just replacing the Alpakka Kafka jar on the classpath.

Using Akka's mechanism to detect version mismatch could discover errors early.

[2018-11-06 13:19] ennru opened #634 "Review "committing" docs and samples"
The new `Committer.sink` should be shown as the preferred way of committing offsets to Kafka.

[2018-11-07 12:38] 2m opened #637 "Failed: ConsumerSpec should complete futures with failure when commit after stop"
[code]

https://travis-ci.org/akka/alpakka-kafka/jobs/451836199

[2018-11-08 10:17] ennru commented on #539
Looking into this a bit more I believe there is no good way to allow for user-defined callback methods for this.
The Kafka client's `ConsumerRebalanceListener` states

which will be the `KafkaConsumerActor`'s thread.

It is a bad idea to hand out callbacks on that thread in the first place, what it worse is that you can't access anything interesting (like asking for a topic position or committing)

[2018-11-15 02:44] kolapkardhaval opened #643 "Stop and rerun kafka consumer after exponential backoff attempts finished"
0
down vote
favorite
I would like to consume messages. If I get exception, I will retry with exponential backoff. If that fails too, I shutdown the consumer and would like to start the consumer again after 6 hrs.

I have the following code:

    Publisher<ConsumerRecord<K, V>> source = RestartSource.onFailuresWithBackoff(
                    Duration.ofSeconds(3),
                    Duration.ofSe

[2018-11-16 08:08] ennru opened #644 "Committer: support use as flow"
As a follow-up on #619 and #622:

The new `Committer.sink` should even support use as a flow which is required for Lagom to use it.

Lagom's current committing logic:

https://github.com/lagom/lagom/blob/5259f696b61fd939280b5cf1bc3f1aa6f9bcdfd7/service/core/kafka/client/src/main/scala/com/lightbend/lagom/internal/broker/kafka/KafkaSubscriberActor.scala#L107-L111

[2018-11-16 14:16] dmi3zkm opened #646 "Consumer skips fetching"
Sometimes I see consumers stuck. Consumer lag grows and I see endless trace messages in logs:
`Skipping fetch for partition topicX-N because there is an in-flight request to some-kafka-host:9092`.
According to kafka protocol there can be only one in-flight request. I guess consumer didn't get response back from broker and waits infinitely.
Unfortunately, there are no reproduction steps yet.
Any cl

[2018-11-16 14:40] ennru commented on #646
Alpakka Kafka 0.22 uses the Kafka client of version 1.0.1, or did you overwrite it to be 2.0.0?

[2018-11-16 15:54] dmi3zkm commented on #646
Yes, it's 1.0.1.

[2018-11-19 11:50] ennru commented on #644
Fixed with #647

[2018-11-19 11:50] #644 closed

[2018-11-20 11:46] SemanticBeeng commented on #566
The way I understand the question, it would be useful to create a pair of examples that is functionally equivalent modulo the way remoting is done:.

`Kafka` now has _"exactly once delivery semantics"_ which makes it superior to remote actor calls.
https://www.confluent.io/blog/exactly-once-semantics-are-possible-heres-how-apache-kafka-does-it/
_"Exactly once semantics: even if a producer retries

[2018-11-20 15:05] dmi3zkm commented on #646
Switched to 2.0.0. Will see if it helps.

[2018-11-20 17:30] xafos opened #650 "Unable to recover from Kafka connection error by using Supervision.Directive"
I have the following code where if the connection with Kafka fails, the consumer dies without using the Supervision.Directive: strategyConsumed returns false.

[code]

[2018-11-20 17:43] ennru commented on #650
Please have a look at [this example](https://doc.akka.io/docs/akka-stream-kafka/current/serialization.html#spray-json) in the documentation that shows a working solution for what you are trying to do.

[2018-11-20 17:47] ennru commented on #650
Errors from connectivity problems have been improved in the latest 1.0-M1 release and fail the stream with the cause now.

[2018-11-20 17:55] ennru commented on #646
What kind of source and subscription do you use?

[2018-11-20 21:11] TimMoore commented on #566
@patriknw while using Akka Cluster is not strictly required for distributing topic consumption over several nodes, I think it's common to combine Kafka consumers with sharded actors for processing the messages.

[2018-11-21 09:46] ennru opened #654 "Build with AdoptOpenJDK 8 Hotspot"
Instead of Oracle JDK 8 in response to Oracle's new licensing.

[2018-11-21 12:44] ennru commented on #566
@SemanticBeeng I'm not sure I'm following. How does remoting come into the picture and how is it related to Kafka supporting transactions (which we leverage as described in [Transactions](https://doc.akka.io/docs/akka-stream-kafka/current/transactions.html))?
Feel free to have this more general discussion [on the forum](https://discuss.lightbend.com/c/akka/streams-and-alpakka).

[2018-11-21 12:57] SemanticBeeng commented on #566
Will review and reconsider my ask @ennru.
Nothing on this issue suggested a context strictly about "transactions" - what did I miss?

[2018-11-21 13:32] SemanticBeeng commented on #566
@TimMoore please provide best such examples if any public. I am looking to compare from "message delivery semantics" point of view.

These seems to have different takes on whether "exactly once delivery semantics" is possible.
https://developer.lightbend.com/blog/2018-02-01-atotm-akka-messaging-part-3/index.html
https://www.confluent.io/blog/exactly-once-semantics-are-possible-heres-how-apache-kaf

[2018-11-22 10:11] dmi3zkm commented on #646
`Consumer.plainSource` and `AutoSubscription`.
After switching to 2.0.0 client it behaves much better I would say.

[2018-11-22 18:01] ennru commented on #646
Interesting, the client should negotiate to agree on the protocol level.

[2018-11-27 10:39] ennru commented on #624
Since #641 Alpakka Kafka tests run under AdoptOpenJDK 11 on Traivs.

[2018-11-27 10:39] #624 closed

[2018-11-27 10:41] ennru commented on #620
Fixed with #621 and released with 1.0-M1.

[2018-11-27 10:41] #620 closed

[2018-11-28 04:39] muditsin commented on #609
I could try to take this up. What configurations are you looking to log? the `akka.kafka.consumer` from `context.system.settings`?

[2018-11-28 07:39] ennru commented on #609
Yes, when a Consumer stage or Producer stage is materialized it could log the `ConsumerSettings` or `ProducerSettings`. Just as Kafka consumers log their settings when started.

[2018-11-28 17:42] breckcs commented on #302
@ennru, we just encountered this issue using v0.22. We stopped consuming a subset of topic partitions after the error: `KafkaConsumer poll has exceeded wake up timeout (3 seconds). Waking up consumer to avoid thread starvation.` We were using the default configurations.

We have encountered the wake-up timeout error 60 times in the past 30 days, but only once did it stop consuming.

Anecdotally, w

[2018-11-29 07:49] ennru commented on #302
Thank you for reporting that here. So some state in the actor or Kafka client seems to be lost upon wake-up in certain cases.
**I'm not aware of a workaround for this.**
We've improved the error-handling around polling in 1.0-M1 a bit more, but you're right #614 would make the wakeup-dance go away completely.

[2018-11-30 07:05] 2m opened #668 "Draining Control throws exception when used immediately after stream start"
Exception is:

[code]

[2018-11-30 07:05] 2m commented on #668
https://github.com/akka/alpakka-kafka/pull/665/files#r237763633

[2018-11-30 15:03] politrons commented on #650
@ennru  Hi  enru, thanks for the response and link.
We have coverage the problem of the de/serialization time ago using byteArray and then do it the encode/decode in a map to control the Error with the StrategyDecision.

Here the problem we`re facing is not about deserialization, is about that when our Consumer try to connect to Kafka, Kafka is temporally unavailable, so we start receiving wakeupE

[2018-12-03 09:12] gmethvin opened #672 "Partitioned source does not shut down cleanly when downstream cancels"
The current `SubSourceLogic` implementation for the partitioned source does not wait for sub-sources to finish processing before shutting down the consumer. For example, given some code like:

[code]

If `somethingThatMightUnexpectedlyThrow` throws an unexpected exception for one partition, it will cancel the upstream and cause the main source stage to complete. This shuts down the Kafka consumer

[2018-12-03 11:42] ennru commented on #672
Which Alpakka Kafka version do you use? Partitioned sources inner workings improved quite a bit in 1.0-M1.

[2018-12-03 18:29] gmethvin commented on #672
I originally discovered the issue on 0.22, but based on the code it seems like it should also be reproducible on 1.0-M1, though I didn't have a chance to attempt to reproduce. If it's helpful I can create a sample project reproducing on the latest version. In any case the [TODO is still in the code](https://github.com/akka/alpakka-kafka/blob/master/core/src/main/scala/akka/kafka/internal/SubSource

[2018-12-04 07:33] gmethvin commented on #672
Here's a failing test reproducing the issue: https://github.com/gmethvin/alpakka-kafka/blob/commit-failures/tests/src/test/scala/akka/kafka/scaladsl/PartitionedSourcesSpec.scala#L44. If we fail one of the partition sources, then I would expect the other partition sources to complete and at least attempt to wait for outstanding messages to be committed before the consumer is shut down. Is that a re

[2018-12-04 12:57] ennru commented on #672
Yes, the TODO is still correct and I believe fixing it will solve your issue.
Thank you for the reproducer, I'll look into it.

[2018-12-04 15:33] ennru commented on #672
Solving the TODO doesn't help your scenario. The sub-sources can't know when their sub-streams are drained and everything has been committed.
For flat streams the `DrainingControl` solves exactly this scenario, but enabling that for partitioned sources is a major endeavour.

Instead this can be solved by using the `stop-timeout` setting which exists, but is unused right now. The `Stop` message to

[2018-12-04 20:39] gmethvin commented on #672
Okay, I think that will probably work for my use case. Thanks.

[2018-12-05 08:22] ennru commented on #650
I'm not sure it is good news, but we'll upgrade to the Kafka 2.x client soon and won't use `WakeupExceptions` anymore.
The possibly bad part is, that we won't be able to notice if there is a Kafka broker to talk to - in your case that's what you want, I guess.

[2018-12-05 08:28] ennru opened #674 "Detect if broker is available (when using Kafka 2.x client)"
When using the new Kafka consumer API from Kafka 2.x, we won't use `WakeupException`s anymore to stop the client from blocking the actor thread.
Until now theses exceptions served as an indication that there was now Kafka broker available, or that it disappeared. This won't be detected automatically with the new API use.
For use cases where we actually want to fail the consuming stream when there

[2018-12-05 08:51] politrons commented on #650
Yes, so no I can asume with your answer then that there’s no mechanism to make the supervisor strategy when the consumer cannot talk with Kafka broker. I’m wondering if you get rid of the wakeupexception it does not means that you get rid of the max number of wake ups. And if you does, I hope you guys provide another mechanism to continue trying to connect forever as you do right now. In any case

[2018-12-05 08:56] ennru commented on #650
All wakeup-handling will go away with #614.
If we don't do anything special, the consumer will just continue to try to talk to the broker forever.
We might build something to detect connectivity as I just suggested in #674.

[2018-12-05 09:11] politrons commented on #650
Well I hope they will listen to you. But I think remove the max wake up time was not necessary a great move. In some scenarios maybe some people really wants their consumer dies to do something else. The right move IMHO it would be put the retry number to forever by default.

I will subscribe to your proposal to keep me posted.
Regards

[2018-12-06 13:50] ennru commented on #654
That was already merged with #641.

[2018-12-06 13:50] #654 closed

[2018-12-07 12:45] ennru opened #677 "Release 1.0-RC1"
# Release Train for Alpakka Kafka 1.0-RC1

### ~ 1 week before the release

- [x] Check that any new `deprecated` annotations use the correct version name
- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Decide on planned release date
- [x] Notify depending projects (notably Lagom) about the upcoming release
- [x] Create a new milestone for the [next version](htt

[2018-12-07 14:04] ennru opened #680 "Remove deprecated API"
APIs deprecated prior to 1.0 should be removed prior to releasing 1.1 milestones.

[2018-12-10 14:05] #609 closed

[2018-12-10 15:54] ennru opened #683 "Failed: Partitioned source must handle exceptions in stream without commit failures"
This test seems to fail more likely on JDK 11.

[code]

[2018-12-10 16:11] ennru opened #684 "Kafka 2 polling: Remove unused settings"
The wakeup handling goes away with the new `poll(Duration)` method, thus
* wakeup-timeout
* max-wakeups
* wakeup-debug
have no effect anymore and should be removed.

[2018-12-10 16:14] ennru opened #685 "Kafka 2 polling: experiment with the hot poll loop"
The hot poll loop which drives the Kafka consumer when there is no demand, but commits to execute might work as good in simpler form.
Experiments should show how it affects the benchmarks.

[2018-12-10 16:23] #608 closed

[2018-12-11 10:30] #683 closed

[2018-12-11 10:51] #684 closed

[2018-12-11 14:57] ennru opened #688 "Capture benchmark results to compare over time"
The benchmarks run regularly on Travis, but the results are not captured.
It would be great to keep the results of the runs, and possibly run the benchmarks in an environment where the values are more comparable over time.

[2018-12-11 15:00] ennru commented on #235
All wakeup exception usage is removed now as of 1.0-RC1.

[2018-12-11 15:00] #235 closed

[2018-12-12 09:04] dmi3zkm commented on #353
@evis Any updates ?
I've got into the same situation with one of my consumers.
I'll try to investigate.

[2018-12-13 09:44] ennru commented on #677
Everything seems fine for now, release done!

[2018-12-13 09:44] #677 closed

[2018-12-14 06:43] 2m commented on #484
A newer stack trace for this would be:
[code]

[2018-12-24 16:48] khajavi opened #695 "KafkaConsumer poll has exceeded wake up timeout"
I'm using this version:
`  "com.typesafe.akka" %% "akka-stream-kafka" % "1.0-M1" `

My snippet code is:

[code]
Here is when I kafkacat:

[code]

So why my code doesn't run properly?

[code]

[2018-12-28 16:57] jmfgameiro opened #696 "Consume-Transform-(not always)Produce with Streams"
Hi,

I was trying to implement a Kafka consumer that could produce a new message, if required, keeping it as transactional as possible.

Hence, at the moment, I have the implementation, with the retry mechanism, displayed on the page Transactions. Then, when I execute my map method and I don’t get a message to send, it (obviously) throws an exception.

I’ve already tried to use the splitWhen metho

[2018-12-28 17:20] jmfgameiro commented on #696
Already solved this issue thanks to the documentation for [At-Least-Once](https://doc.akka.io/docs/akka-stream-kafka/current/atleastonce.html) :)

[2018-12-28 17:20] #696 closed

[2019-01-03 15:48] ennru commented on #695
This kind of questions is best asked at the [Lightbend discussion forums](https://discuss.lightbend.com/c/akka/streams-and-alpakka).

Alpakka doesn't connect to your broker as stated in the log:
`Initial consumer poll(0) with bootstrap servers 0.0.0.0:9092 did not succeed`

[2019-01-03 15:48] #695 closed

[2019-01-05 13:20] #688 closed

[2019-01-07 08:05] kciesielski commented on #266
We are getting similar errors:
[code]
from `org.apache.kafka.clients.consumer.internals.ConsumerCoordinator` which causes our stream to restart. Happens on production (sometimes once a day, sometimes few times a day), we couldn't replicate this on test environments. It looks like some internal Kafka problem with broker failing to get commit confirmations from other Kafka nodes. We can catch this p

[2019-01-07 09:59] Philippus opened #699 "Commit refresh only works after consuming all messages"
I'm experiencing what I think might be an issue with refreshing offsets which was introduced in https://github.com/akka/alpakka-kafka/pull/375.
I think the commits are only refreshed if all the messages have been consumed for a _topic_ (and no new messages arrive for it). But (at least our version of) kafka expires the committed offsets per _partition_, not per _topic_.
So I can run into problems

[2019-01-07 11:08] rtimush commented on #699
I think you're right, #375 doesn't refresh offsets if there were commits even for a single partition, which may lead to the situation you described.

[2019-01-07 14:14] Philippus commented on #699
ok, thanks for rubber ducking, I'm working on a PR for this.

[2019-01-09 11:57] pilot-no-21 opened #703 "How to correctly use DrainingControl.apply in committablesource. Can anyone please help me with an example ?"
Consumer
        .committableSource(consumerSettings, Subscriptions.topics(topic))
        .mapAsync(10) { msg =>
          business(msg.record.key, msg.record.value).map(_ => msg.committableOffset)
        }
        .via(Committer.flow(committerDefaults.withMaxBatch(1)))
        .toMat(Sink.seq)(Keep.both)
        .mapMaterializedValue(DrainingControl.apply)
.run()

[2019-01-11 08:36] 2m commented on #703
Please use [the discussion forum](https://discuss.lightbend.com/c/akka/streams-and-alpakka) for library usage questions.

The `DrainingConrol.apply` is a [function that expects](https://doc.akka.io/api/akka-stream-kafka/current/akka/kafka/scaladsl/Consumer$$DrainingControl$.html#apply[T](tuple:(akka.kafka.scaladsl.Consumer.Control,scala.concurrent.Future[T])):akka.kafka.scaladsl.Consumer.DrainingC

[2019-01-11 08:36] #703 closed

[2019-01-11 08:43] #484 closed

[2019-01-11 13:52] ennru commented on #266
Interesting findings @kciesielski
I'd like to encourage you to try with a 1.0-RC version, we consider them as viable as the earlier 0.x versions.

[2019-01-11 14:39] ennru commented on #699
Fixed with #701

[2019-01-11 14:39] #699 closed

[2019-01-14 20:44] seglo commented on #539
Yes, I think we need to add an additional API with the blocking handlers.  It may not be ideal, but the design of the `KafkaConsumer` forces our hand here.  I could work on a PR if you like.

[2019-01-15 14:55] sourcekick commented on #336
I read that #377 was closed as invalid and the project is waiting for feedback from the power users. @kodemaniak As we use this library in many services, I find this Issue interesting, so I want to ask you directly: Did an alpakka-kafka (akka-streams-kafka) upgrade somehow fix this problem for you, or are you using your own fork of the library in production, or perhaps something else is the case?

[2019-01-15 14:59] sourcekick commented on #336
Note @kodemaniak as you maybe also follow things, this comment in this other Issue _might_ be relevant also here to some degree: https://github.com/akka/alpakka-kafka/issues/353#issuecomment-446519939
"The release from yesterday 1.0-RC1 does use the new Kafka API without WakeupException."

[2019-01-16 10:42] muralibs opened #707 "Share KafkaConsumerActor reference in Consumer.committableSource()"
Similar to Consumer.committableExternalSource(),  Consumer.committableSource() method should also share the KafkaConsumerActor. For reasons, if multiple streams are created in a single consumer application, each stream creates a new Kafka Consumer instance which creates new heartbeat threads. Sharing a consumer would limit such heartbeat threads and resources can be optimized.

Using committableEx

[2019-01-16 14:58] #646 closed

[2019-01-16 14:58] dmi3zkm commented on #646
Unfortunately, I can not reproduce.

[2019-01-25 11:18] GrigorievNick commented on #336
It's look very close to my issue.
https://github.com/akka/alpakka-kafka/issues/382#issuecomment-412092233
I Belive problem appeared when subsource per partiton stopped, with out process all data from Consumr Actor. When new subsource appeared again Consumer akka do not reprocess uncomitted message. Just proceed sending to new SubSource from Latest point.
Mean no offset managment between Subsource

[2019-01-27 18:50] kodemaniak commented on #336
@sourcekick I have not tried the latest release. I am actually using a custom source implementation that uses a dedicated Kafka consumer per stream, similar to what I proposed in the pull request. Since the original problem was hard to reproduce I will stick to my implementation which runs without any problems in production for months now.

[2019-02-01 02:33] mehdimas opened #711 "Transactional Source with Multiple Producer Messages"
### Versions used
Alpakka Kafka version: 1.0-RC1 and 1.0-RC1+19-1fd51211

Akka version: 2.5.19

Kafka version: 2.1.0 and 2.1.1-rc1

### Expected Behavior

When using a transactional source connected to a transactional flow, I expect that I can map one message from a source topic to multiple messages in a destination topic using `ProducerMessage.multi(...)`

The expected behavior is that the source

[2019-02-01 09:01] ennru commented on #711
Thank you for trying this out and reporting this misbehaviour.

cc @seglo

[2019-02-01 16:13] politrons commented on #135
Yep same situation here, the resolution of the future does not determine that we stop consuming. Only after some time it's really stop the consumption

[2019-02-07 08:51] Tvaroh opened #716 "KafkaConsumerActor$WrappedAutoPausedListener failed on partition assignment"
Hello. We've got the following errors in the log while consuming a topic. After that, no further messages could be received.

[code]

Is it a bug? What's the correct way to heal after this?

### Versions used
Alpakka Kafka version: 1.0-RC1
Akka version: 2.5.19
Kafka version: 2.1

[2019-02-08 08:17] fdeantoni opened #717 "CommitterSettings parallelism cannot be updated"
Most likely a copy/paste bug. Method withParallelism does not update parallelism property (it in fact sets the property again with its own value).

I created a fix for it here: https://github.com/fdeantoni/alpakka-kafka/tree/committersettings-patch-1

### Versions used
Alpakka Kafka version:  1.0-RC1
Akka version: 2.5.19
Kafka version: 2.1.0

### Expected Behavior
CommitterSettings(context.system)

[2019-02-08 12:30] #717 closed

[2019-02-11 13:41] politrons commented on #302
@ennru any idea when version 1.0 will be production ready?. I see that for now is just RC version.

[2019-02-11 13:53] ennru commented on #302
It is considered production ready. We do not expect any significant changes and might call it 1.0 before the end of March 2019.

[2019-02-11 14:06] ennru commented on #716
I looks like your Kafka broker is slow on responding to a `position` request. You may increase the timeout for that in `ConsumerSettings` or `application.conf`.

Please try and tell us if that works for you, I do not believe this is a bug.

[2019-02-12 10:31] ennru commented on #540
Time to pick this up for 2.13.0-M5.

Missing test dependencies:
- [ ] https://github.com/embeddedkafka/embedded-kafka/issues/33
- [ ] https://issues.apache.org/jira/browse/KAFKA-7197

[2019-02-13 14:02] craffit commented on #519
Was there any progress made on this issue? I run into something similar on 1.0-RC1

I'm getting the same symptoms and messages after a long GC pause, like so:

First:
Long GC pause (>10 seconds)*

Then messages in log

[code]

After this the consumer resets offset to earliest/latest, consumption stops, but the stream is not killed.

Interestingly, if i put an akka-http async() somewhere in my stre

[2019-02-15 10:39] ennru commented on #519
The log messages both of you sent are from the Apache Kafka client library.

I'm not sure, but I believe the client doesn't signal `coordinator dead` upwards so there is no way to react on it. But the long GC would explain why that happens in the first place.

Do you have timestamps for these events? It could probably be avoided with different timeouts on the Kafka client or broker.

What do you m

[2019-02-15 10:44] ennru commented on #135
Are you aware of the `akka.kafka.consumer.stop-timeout` setting?
The actual stopping of the internal actor is deferred so that committing can finish.

[2019-02-18 12:43] Ashfakh commented on #266
I'm facing the same issue for my Akka consumer in production as well

[Consumer clientId=consumer-3, groupId=xxx] Offset commit failed on partition topicX at offset y: The request timed out.

Does it have anything to do with the number of consumer threads and partitions?
After this error, the consumer stops consuming at all. Any help would be much appreciated.

[2019-02-20 08:35] ennru opened #721 "Release Alpakka Kafka 1.0-RC2"
### ~ 1 week before the release

- [x] Check that any new `deprecated` annotations use the correct version name
- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Decide on planned release date: 2019-02-21
- [x] Notify depending projects (notably Lagom) about the upcoming release
- [x] Create a new milestone for the [next version](https://github.com/akka/alpakka-ka

[2019-02-20 12:35] ennru commented on #335
We mention the availability of snapshots since a while back https://doc.akka.io/docs/alpakka-kafka/current/snapshots.html

Now only publishing docs for snapshots is missing.

[2019-02-21 11:27] 2m commented on #335
Fixed with #662

https://doc.akka.io/docs/alpakka-kafka/snapshot/snapshots.html

[2019-02-21 11:27] #335 closed

[2019-02-21 15:32] #721 closed

[2019-02-22 04:53] jonbuffington commented on #266
@ennru I can confirm this issue persists in 1.0-RC2.

[code]

[2019-02-22 15:03] ennru commented on #266
Thank you for trying the latest milestones out so eagerly.
We haven't changed anything in this area, so it could be expected to still see this failure.
It would be great if you can provide a bit more information around when this happens and what settings you use. To fix this we would want to trigger the failure consistently.
I assume it should be possible to retry the commit when Kafka reports a `

[2019-02-25 19:31] tkroman commented on #539
@seglo that would be really great.

[2019-02-28 12:24] 2m opened #732 "Release Alpakka Kafka 1.0"
### Preparing release notes in the documentation / announcement

- [x] If this is a new minor (not patch) release, rename the 'akka-stream-kafka-x.x-stable' reporting project in [WhiteSource](https://saas.whitesourcesoftware.com/Wss/WSS.html#!project;id=559915) accordingly (unfortunately this requires permissions that cannot be shared outside of Lightbend)
- [x] Add a release notes entry in `docs/

[2019-02-28 14:53] #732 closed

[2019-02-28 16:39] mehdimas opened #734 "Client Not Following Broker IP Change - Upgrade Kafka Client to 2.1.1"
### Versions used
Alpakka Kafka version: 1.0

Akka version: 2.5.21

Kafka version: 2.1.0

### Expected Behavior

If a Kafka broker changes IP after a Kafka client has resolved the broker's IP, the client should re-resolve the broker's new IP address and reconnect.

### Actual Behavior

The Kafka client tries to reconnect to the old broker IP forever. A restart of the client is required to resolve

[2019-03-01 11:34] #734 closed

[2019-03-01 11:35] 2m commented on #734
Thank you for reporting and for listing the workaround.

[2019-03-01 13:35] Philippus commented on #680
does this include deprecations marked since `1.0-RC1` or `1.0-M1` as well?

[2019-03-04 08:59] Tvaroh commented on #716
Ok, not sure about this anymore, closing.

[2019-03-04 08:59] #716 closed

[2019-03-04 11:53] ennru commented on #680
We'll release a 1.1 with just the upgrade to the Kafka client 2.1.1 and no other changes. So we defer removing deprecations to a later version.

[2019-03-04 11:54] szymonm commented on #539
Hey @seglo what's the status of that?
Looks like we are hitting this problem with `Transactional.source` followed by `groupWithin` and commits stored in Kafka.

I'm eager to help but need some guidance where to start.

[2019-03-04 12:03] ennru opened #736 "Release Alpakka Kafka 1.0.1"
### ~ 1 week before the release

- [x] Check that any new `deprecated` annotations use the correct version name
- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Decide on planned release date
- [x] Notify depending projects (notably Lagom) about the upcoming release
- [x] Create a new milestone for the [next version](https://github.com/akka/alpakka-kafka/mileston

[2019-03-04 14:12] seglo commented on #539
@szymonm I've been sidetracked.  I think this may actually get handled in #705, but I'd need to check.

I'm curious to learn more about the issue you're having though.  The transactional sink/flow should already handle blocking for you to commit.  This ticket is discussing consumer group commit event handler semantics.

[2019-03-04 15:04] szymonm commented on #539
The problem we have is very similar to what @tkroman has described in: https://github.com/akka/alpakka-kafka/issues/539#issuecomment-429668423
Except, we use `Transactional.source`.
Basically, we see data duplication, because after the rebalancing the consumer doesn't retrieve the offsets committed before the rebalancing.

IIUC, the root cause of the problem is that alpakka rebalance listener is n

[2019-03-04 15:24] ennru commented on #736
We decided to release it as patch-version 1.0.1 as it contains a compatible dependency upgrade.

[2019-03-04 20:28] szymonm commented on #539
Created a test that demonstrates the problem https://github.com/akka/alpakka-kafka/pull/739

In the test, I create transactional streams that copy data from input to output queue. Due to multiple short-living consumers Kafka triggers partitions rebalancing. This results in data duplication because of consumers that don't wait for offset commits to flush before fetching offsets to read from.

[2019-03-05 07:21] thirdteeth opened #740 "Consumer stop error when match take or takeWhile"
After run the https://github.com/akka/alpakka-kafka/blob/v1.0/tests/src/test/java/docs/javadsl/ProducerExampleTest.java#L80-L98 test in example, the test fail in error

[ERROR] [03/05/2019 15:14:04.030] [ProducerExampleTest-akka.actor.default-dispatcher-21] [akka://ProducerExampleTest/system/StreamSupervisor-0/flow-1-0-seqSink] 50 (of class java.lang.Integer)
scala.MatchError: 50 (of class java.la

[2019-03-05 11:13] ennru commented on #740
The tests work fine in our Continuous Integration build on Travis:
https://travis-ci.org/akka/alpakka-kafka/jobs/500299148#L904

You must be doing something different. Please explain in more detail what you mean with this issue's title.

[2019-03-06 02:21] thirdteeth commented on #740
I create a sample project to reproduce the issue, please check and see if there is something I did wrong
https://github.com/thirdteeth/akka-stream-test/blob/master/src/test/java/com/github/thirdteeth/test/ProducerTests.java

[2019-03-07 02:31] thirdteeth commented on #740
I think the issue related to the configuration of akka.kafka.consumer.stop-timeout, after I set it to 10ms which is the same as it in application.conf of test, the case pass.

[2019-03-07 09:21] ennru commented on #740
Yes, `stop-timeout` has bitten me before. It was added with https://github.com/akka/alpakka-kafka/pull/673 in RC1.

[2019-03-08 02:49] thirdteeth commented on #740
I think it's better to document the new behavior of this configuration and the checks that EmbeddedKafkaTest does, for example checkForStageLeaks, it cost me some time to figure out that it checks all the streams that run with the materializer, the materializer i used here was singleton one and there were other streams running with it

[2019-03-08 09:32] szymonm commented on #539
Fyi, I was able to fix the issue making the test fail and it was actually not due to rebalancing but the way we commit offsets in the `TransactionalProducerStage`.
I still think that we need to add a blocking "listener" for `onRevoke` though.

[2019-03-08 13:52] seglo commented on #539
I see.  Thanks for the PR!

[2019-03-09 01:22] einholen commented on #539
What's worse is that after a rebalance the consumer that has in-flight messages from a revoked partition can actually _commit_ them normally. I figured a commit would fail on a partition that's no longer assigned...

[2019-03-11 11:12] #736 closed

[2019-03-12 12:50] IntelligyScience commented on #235
Which config I have to add in my application.conf for that?

[2019-03-13 07:57] mriehl commented on #674
Hi,

We noticed that when a broker is assigned a new IP (due to machine failure for example), the source never fails anymore. This is an issue because the kafka consumer library will cache the broker `InetSocketAddress`es on startup, and never update them again.
We have a retry backoff supervision around the consumer source that will re-create it if the stream blows up. This used to work because t

[2019-03-13 09:39] ennru opened #745 "[Failed] PartitionedSourceFailoverSpec: partitioned source should not lose any..."
...messages when a Kafka node dies

[code]

https://travis-ci.org/akka/alpakka/jobs/505595719#L701

[2019-03-13 11:15] mriehl commented on #674
Damn, I was pretty sure I was using the latest from maven central but apparently still on `1.0`. I'll upgrade and see what happens, but it really looks like they solved it. Thanks!

[2019-03-13 11:58] mriehl commented on #674
Can confirm using 1.0.1 solves the issue

[2019-03-13 13:13] ennru commented on #674
I'm glad to hear that. Thanks for getting in touch.

[2019-03-13 16:39] ennru commented on #745
Another
https://travis-ci.org/akka/alpakka-kafka/jobs/505747539#L7898

[2019-03-15 00:41] ptitFicus opened #747 "Integration test not working with embedded server (Java)"
Hello, at first thank you for this great project !

I'm trying to run run exemple tests [(such as this one)](https://github.com/akka/alpakka-kafka/blob/5d4bda4612652a925f82328f7ea1d00a9ad696fd/tests/src/test/java/docs/javadsl/ProducerExampleTest.java#L82) on my own project using Java / Junit 4.

### Versions used
Alpakka Kafka version: 1.0.1

Akka version: 2.5.21

Kafka version: embedded

### Expe

[2019-03-15 15:06] ennru commented on #747
This could be due to the stop-timeout:

[code]

[2019-03-15 15:49] ptitFicus commented on #747
Indeed, setting `stop-timeout` to `10ms` solve my issue, sorry, I should have looked at the test configuration.

Thank you so much.

[2019-03-15 15:49] #747 closed

[2019-03-15 16:22] ennru commented on #747
It should be documented more clearly. It is quite hidden.

[2019-03-15 16:55] ennru commented on #740
Please suggest a PR to improve the docs around it.

[2019-03-16 22:45] Maatary opened #750 "Increasing consumers in consumer group cause rebalance failure with CommitFailedException because of revoked partition"
Hi,

I think this issue is related to #539 but I don't know if it is a bug, or the user is supposed to handle it himself.

So I have a consumer group, whenever i increase the number of consumer in that group, the revoking of partition is causing the following error:

[code]

This does not happen when i scale down the number of consumer. I mean so far i have not observed that. I assume this is beca

[2019-03-16 23:10] Maatary commented on #539
Assuming the semantic of the stream is at-least-once, is there a way, to simply discard all the messages or restart the stream from within the balance listener ?I have fully describe the issue i am facing here  #750

[2019-03-18 08:24] Maatary commented on #539
@tkroman I wonder if you have faced the following:

When a rebalance happens and you have revocation of partition, and you have a bunch of inflight message to commit, then you get a commitFailedException upon committing them because the partition was revoked.

I wonder if a safe thing to do would be to simply resume on commitFailedException, provided that the semantic is at-least-once. This way wh

[2019-03-18 09:19] tkroman commented on #539
That was my original point, that there should be a way to hold the
revolution off until I handle commits. Because the contract is that
revocation won’t happen until it’s handler returns. There are multiple
subclasses of this issue which are recoverable but there is no way to
prevent current behavior for now.

On Mon, Mar 18, 2019 at 10:24 Maatary <notifications@github.com> wrote:

[2019-03-18 09:32] szymonm commented on #539
Agreed.

Internally, we tried with making a revoke listener blocking and block until all messages are emitted by the `Transacional.sink`. This is still not enough as they can be emitted but not committed.

So additionally we need to add a mechanism for making sure that transaction commit (`    producer.commitTransaction()`) has been successfully finished.
Currently, all we have is that demand is s

[2019-03-18 20:32] seglo commented on #711
Apologies for the late reply.  This could be related to https://github.com/akka/alpakka-kafka/pull/742 . @mehdimas could you please test against master?

[2019-03-19 13:15] mehdimas commented on #711
@seglo We've switched over to a non-transactional setup, but I will setup a test in the next week.

[2019-03-19 15:48] laymain commented on #750
We have the same problem here and I think we have found the explanation.
It easely reproductible using the `groupedWithin` feature, here is a case :
* `groupedWithin()` configured for groups of 1000 records or 30 seconds
* `poll()` returns 500 records of partitions 0 and 1
* group is partially filled, the conditions aren't met
* a new consumer joins the group -> rebalancing
* next `poll()` returns

[2019-03-20 07:22] ennru commented on #750
@Maatary Thank you for reporting and @laymain for explaining how we could reproduce it. Your explanation makes sense to me.
There have been quite a few discussions in several issues around how to handle rebalances more reliably. Please join us to find the best solution!

[2019-03-20 13:57] ennru commented on #750
It looks like I have a test showing this now. Will stabilize and send a PR.

[2019-03-20 15:34] laymain commented on #750
Hi @ennru, have you any clue of how we could ensure that process is completed _(or timed out)_
before sending a new _JoinGroup_ request after a rebalance event?
I think that it may be the source of this issue, we should not instantly re-join the group in such a case

[2019-03-20 15:43] laymain commented on #750
Also, I may have misunderstood your test, but your comment seems strange to me:

The case I have described does not require committing **before** then end of the rebalancing, the issue occurs even if we commit after the rebalancing, as long as the group duration condition is not met

[2019-03-20 17:09] ennru commented on #750
Yes, the funny thing is once the `PartitionsAssigned` messages arrive committing works fine (first I waited for those and the test would show the error).
So it is the slot between the revoke and assign which makes the commits fail.

[2019-03-20 17:12] laymain commented on #750
Sorry but I don't get it, if my group contains records of a revoked partition and I commit it after the @PartitionsAssigned@ message, it will fail

[2019-03-20 17:35] ennru commented on #750
For me, it doesn't fail once the rebalance has finished. But I know, that doesn't really make sense.

If you are happy with getting messages redelivered, you may add a supervision strategy to resume on `CommitFailedException`s. (As shown in another test I just added.)

[2019-03-20 21:27] laymain commented on #750
I have to admit that indeed it doesn't make sense for me, I can't see how a Kafka broker will in any case accept a commit of revoked partitions for a consumer. The exception message seems quite clear:
`CommitFailedException: Commit cannot be completed since the group has already rebalanced and assigned the partitions to another member.`

I'm pretty sure I can reproduce this using a simple `Thread.

[2019-03-21 08:39] ennru commented on #750
Thank you for your input on it, I'll dig into it.

You can mitigate the problem with a supervision strategy on the Committer:
[code]
This will ignore the failed commits, and not take down the flow. So you avoid rippling efect of consumers shutting down.

[2019-03-21 08:49] ennru commented on #235
What Alpakka Kafka version are you using?
Old docs are available: eg. [0.22](https://doc.akka.io/docs/alpakka-kafka/0.22/home.html)

[2019-03-21 09:24] Maatary commented on #750
Hi @ennru Thank you for your reply so far. Also @laymain Thanks for the details.

@ennru I was thinking about doing that. The only worry that I had was, If i use the resume do i run the risk to drop good drop good messages or not ?

What i mean is if we commit in batch, is there a potential that i have started to fetch the new message from the new partition and end up with a batch to commit that i

[2019-03-21 09:26] laymain commented on #750
Thank you, this workaround will indeed stop the consumers from crashing and the risk of triggering new rebalances.

[2019-03-21 09:40] laymain commented on #750
@Maatary There is a risk of producing duplicates because of not committing offsets, but since you are committing a batch, it means that have produced all messages contained in that batch, you won't drop good messages.

[2019-03-21 10:44] Maatary commented on #750
@laymain Can you expand on this I did not get that:

[2019-03-21 16:56] ennru commented on #637
I see this test fail locally as well now.

[2019-03-21 19:17] Maatary commented on #750
The Scenario I have in mind is:

- Consumer 1 has **partition 0**

1 - Consumer 1 process some messages

2 - **Rebalance** occur in the mean time

3 - Consumer 1 get **partition 2**

4 - Consumer 1 start consuming from partition 2 not committing yet the message from partition 1 he already consumed (This could be because of the size of your batch)

5 - Consumer 1 rich a commit batch size, that cont

[2019-03-21 19:30] Maatary commented on #750
The Dilemma however is that a restart might cause a chain of restart cascade. Not completely sure of that tho. Somehow akka stream manage handle some use cases well :) !! i just can't completely predict the behavior

[2019-03-22 10:08] laymain commented on #750
I don't know if I'm misunderstanding what you're saying or if you're misunderstanding how offsets committing works but your following statement doesn't make sense for me

Batch **isn't** dropped, you're not using transactions, only the commit fails.

You should go further on this, ask yourself why is it _not good_? What are the risks?

To give an answer to your worries, the behavior seems predicti

[2019-03-22 10:17] ennru commented on #559
This conclusion is that there is no good way to adapt the poll interval dynamically when we share the `KafkaConsumerActor` across multiple streams as demand may vary.
The issue which I thought we could improve upon will hopefully be fixed in Kafka with https://github.com/apache/kafka/pull/5844

I'll close this.

[2019-03-22 10:17] #559 closed

[2019-03-22 11:58] Maatary commented on #750
Isn't what resume does is dropping messages ?

If you do `.via(Committer.flow(committerDefaults.withMaxBatch(conf.tripleStoreSettings.batchSize))` and you get a CommitFailed exception and you do the suggestion above which is Resume, this means you drop the offset you just tried to commit. isn't that correct ?

What i am saying is what happens if in that batch, you have offsets of the revoked parti

[2019-03-22 13:07] laymain commented on #750
Nothing particular, offsets of both partition aren't committed, `Supervision.Resume` means that it won't interrupt the flow, it will continue processing next messages.

[2019-03-22 13:42] ennru opened #755 "Commits during reblance fail with `CommitFailedException`"
This is a different description of #750.

### Versions used

Alpakka Kafka version: 1.0.1

### Expected Behavior

When Kafka rebalances partitions between consumers, committing to Kafka should work as usual.
Commits for a revoked partition might put the current offset in a state where the former consumer of that partition commits messages that already have been emitted on its new consumer. This le

[2019-03-22 13:44] ennru commented on #750
I've written down my insights around this issue in #755

[2019-03-22 14:20] 2m opened #756 "Transactional source and sink duplicates messages when restarted"
### Versions used

Alpakka Kafka version: master

### Expected Behavior

No duplicate messages are in the destination topic.

### Actual Behavior

When running the test-case from #752 where three transactional source and sink streams are being periodically restarted, after 1M of messages there are usually up to 50 duplicated messages in the destination topic.

[2019-03-22 14:31] 2m commented on #756
Here are some of the findings I have discovered while working on this:

* I see duplicate messages in the transactional flow, when it is being restarted. However when the new incarnation of the transactional flow comes alive, the producer calls `producer.initTransactions()` which aborts transactions from the old incarnation of the transactional producer. So those messages are not committed in the

[2019-03-22 18:20] Maatary commented on #750
That was my worry with the resume, you will commit in order but skip committing some valid offset in the process. I don't know if that's a good thing in general. e.g commit 1 2 3 skipp 4 5 6 and commit 7 8 9. You will skip 4 5 6 because you are committing at the same time x y z which are of a revoked partition.

Given that i do not know the consequence of doing that i just raised the question :)

[2019-03-22 23:10] laymain commented on #750
@Maatary That's not really how it works, when you have messages 1, 2, 3 in your batch, you will only commit offset 3, you don't need to commit offsets one by one.
Skipping the commit of a processed batch with messages 4, 5, 6 and commiting the next one containing 7, 8, 9 is just as committing a bigger batch containing 4, 5, 6, 7, 8, 9 since you will only commit offset 9.
The only risk is, if there

[2019-03-23 16:35] Maatary commented on #750
@laymain I think I found a case where that could be problematic. It is if you reach the end of the stream.

Basically if you fail to commit the last offsets of a partition because your batch commit failed because it included offset of a partition you do not own anymore, then you consumer will act like he is done i.e. stop consuming from the partition, but then if you look into kafka/lenses, you wi

[2019-03-23 16:38] Maatary commented on #750
My hunch is restarting the all stream instead of resume might be better. This all problem will not happen at all.

However, I am just afraid that you will trigger a chain of rebalance as a result of it. Not sure, need to try it out

[2019-03-25 10:40] szymonm opened #758 "Transactional flow duplicates inflight messages during rebalancing"
### Versions used
Alpakka Kafka version: master

### Expected Behavior

Transactional flow should not duplicate messages when partitions are rebalanced by Kafka.

### Actual Behavior

Messages that are in-flight during rebalancing are duplicated.

### Reproducible Test Case

See #757 for a test case.

[2019-03-25 10:41] szymonm commented on #758
Probably related to  #756

[2019-03-25 11:03] szymonm commented on #758
It seems to me that to fix this issue we should implement a logic similar to what we have in `CommittableSource`. Precisely, when partitions are revoked all consumers should wait for all the in-flight records to be committed before calling to retrieve offsets from the newly assigned partitions.

To achieve this I suggest:
1. Keep state of all committed offsets in `KafkaConsumerActor` to know wheth

[2019-03-25 12:33] 2m commented on #758
Yes, this is the same issue as is described in #756 where the rebalance is triggered by restarting one of the consumers from the consumer group.

Action plan sounds good. I wonder if `CommittableSource` could be reused for TransactionalSource but it's commit initiation logic would be replaced with the one coming from `TransactionalProducerStage`, as you suggested.

[2019-03-25 12:37] szymonm commented on #758
Is anyone of you working currently on this issue, @2m ?  We need this to be fixed, so I'm ready to work on this for some time, but I don't want to duplicate your work, if you already have some attempts to solve it...

[2019-03-25 12:47] 2m commented on #758
I have been working on this mostly to understand what is going on under the hood. Please go ahead and make the required changes. I will make sure to give speedy feedback so we can fix this sooner rather than later.

[2019-03-25 13:32] seglo commented on #758
@szymonm Sounds good to me.  I've been thinking about this problem over the weekend and I agree that using the callback listener is probably required.  I'm looking forward to see what you come up with :)

[2019-03-25 13:48] ennru commented on #758
I've tried to simplify the actor's rebalance listener in #753 (merged) and #759. The commit tracking for commit refreshing might be useful for this problem here, as well.

I'll look again at how we could hand out a blocking rebalance listener to the library user #539.

[2019-03-25 14:02] szymonm commented on #539
Since you are working on it @ennru, let me share my thoughts (no solution yet).

It does not look right to add analogous `synchronousRebalanceListener`, because:
1. I expect that the messages send to a listener are "fire and forget". Here we want to expect some kind of blocking mechanism, which seems contrary to what a typical listener does.
2. It seems like there is no use case for blocking in `o

[2019-03-25 14:23] antoinesauray commented on #557
I have seeb a similar problem using Lagom. I have a consumer that stops withouts errors or warnings. I have seen it occur about once a week and could not reproduce.

[2019-03-25 14:42] ennru commented on #539
Yes, that makes sense. But I still wonder what the user will be able to do in the callback, as the actor can't respond do we need to hand out a reference to the `KafkaConsumer`?

[2019-03-26 03:13] GnanasoundariSoundarajan commented on #557
Currently I am  not facing the issue.
I have upgraded alpakka kafka client to "com.typesafe.akka" %% "akka-stream-kafka" % "1.0-M1" and kafka version to kafka_2.12-2.0.0.

I have increased poll-interval to 1s , max poll records to  50K to 80K and for tuning kafka you can refer https://community.hortonworks.com/articles/80813/kafka-best-practices-1.html.

[2019-03-27 08:43] ennru commented on #539
I've now explored an API that would allow reacting synchronously to rebalance events.

I want such an API to allow for external offset handling while still using Kafka's rebalancing. For that it is important to be able to block on both callbacks and - more imporantly - get access to the underlying consumer **on the same thread** that called poll.

I'll push my work in progress soon.

[2019-03-27 09:15] antoinesauray commented on #557
Thank you, but have you managed to reproduce it consistently at some point ? It's really obscure for us. We see our consumers stopping about once a week and we have to restart them manually. We use the default Lagom configuration for Kafka. It would be great to have an explanation for this.

[2019-03-27 09:47] GnanasoundariSoundarajan commented on #557
I couldnt reproduce it consistently. I have opened this ticket to understand why it happened?

[2019-03-28 14:14] #740 closed

[2019-04-03 12:38] mjhubert opened #764 "Alpakka producer stage completes and closes producer"
I've written an akka program which uses a combination of akka stream and alpakka.

I've got an Source.actorRef to a flow with a Producer.plainSink.

`
ActorRef outTopicWriterActor = Source.actorRef(Integer.MAX_VALUE,OverflowStrategy.fail())
            .idleTimeout(Duration.ofMinutes(time_out))
            .map(eval -> Jsonizer.getMessageFromKafkaJSON(getJSON((Evaluation)eval),applicationName,inst

[2019-04-03 17:53] robertotena commented on #166
Hi, I think I am having the same issue with v1.0

I replicated a small piece of code that reproduces the issue:

[code]

I am just sending 5 string messages to that Kafka topic, and when I stop the application, I get 2 different results:

1. If the await time of the stream (10 seconds) is lower than the `stop-timeout`, it throws an exception:
[code]
2. Otherwise it stops with a dead letter:
[code]

[2019-04-03 18:18] ennru commented on #166
No, `stop-timeout` applies even for regular shut down.
The dead letter is expected, we might want to remove the second send when we know it was sent already.

[2019-04-03 18:21] ennru commented on #764
Please use [the forum](https://discuss.lightbend.com/c/akka/streams-and-alpakka) to reach out for help.

[2019-04-03 18:21] #764 closed

[2019-04-04 13:05] 2m opened #765 "Provide administrative functionality in the main artifact"
The Alpakka Kafka Testkit has useful administrative functionality, such as creating topics with custom parameters. That is implemented on top of Kafka's AdminClient.

This functionality could be refactored to the main artifact and made useful for production-like use-cases.

[2019-04-06 08:57] ennru opened #766 "Configure broker bootstrap addresses via Akka Discovery"
### Short description

The initial Kafka broker addresses need to be configured from `application.conf` or code with `withBootstrapServers`.
Use of [Akka Discovery](https://doc.akka.io/docs/akka/current/discovery/index.html) should be supported as a compliment.

### Details

Akka Discovery allows for multiple ways of configuration and is extensible. This mechanism should be available with Alpakka

[2019-04-09 09:20] bifunctor opened #767 "alpakka kafka consumer is getting destroyed after 20s"
Hi all

I have a kafka consumer, that gets shutdown after 20s, when it does not receive any messages.
After then, it is no more possible to receive any messages, because the actor got destroyed.
How to prevent, that the consumer gets destroyed after particular time?

I am using the following consumer configuration, that is copied from alpakka website:

[code]
Thanks

[2019-04-10 20:14] bifunctor commented on #767
The example code:

[code]
Thanks

[2019-04-14 14:41] #767 closed

[2019-04-16 14:20] maxstreese opened #770 "Kafka ConfigException Causes An Akka Application To Freeze"
### Versions used

[code]

### Expected Behavior

Considering the following application:

[code]

And the following configuration:

[code]

When providing invalid producer configuration I expect this to be handled by alpakka kafka. Either the stream should fail or - depending on configuration - retries should be made.

### Actual Behavior

The future never completes. Instead an uncaught `org.apach

[2019-04-16 14:21] maxstreese commented on #770
I should add that I am very new to all of this so in case I did overlook something very obvious I apologize and hope for a hint. I did however follow examples closely and therefore do not see where I made a wrong turn.

[2019-04-16 17:44] seglo opened #771 "Missing default testkit config breaks simple integration tests that use Alpakka Kafka Testkit"
### Versions used

Akka version:  2.5.20
Alpakka Kafka version: 1.0.1

### Expected Behavior

Using Alpakka Kafka Testkit with defaults should run a simple integration test.

### Actual Behavior

Several Akka Testkit and Alpakka Kafka Testkit settings are required to run relatively simple integration tests.  I've noticed that the following configuration is necessary to run most tests out of the bo

[2019-04-16 20:30] maxstreese commented on #770
Update: The same goes for `org.apache.kafka.common.errors.TimeoutException`. So I guess no exceptions are caught by the future approach?

[2019-04-19 12:29] mowczare opened #773 "Benchmarks work only for 1-partitioned topics (low performance for more partitions)"
The benchmarks included in `akka.kafka.benchmarks` package do not work when local Kafka cluster config has `num.partitions` > 1. Both producer and consumer hang waiting for an offset equal to number of messages sent (which can never happen in the aforementioned test case).

What's more, I was concerned of the "at-least once batched" consumer performance on my production environment so I was lookin

[2019-04-19 12:40] 2m commented on #773
Really appreciate the analysis. We have dedicated time in this sprint to work on the performance of this connector so this is very timely and helpful.

Also would you mind creating a PR with fixed benchmarks for the multi-partition topics?

[2019-04-19 13:23] mowczare commented on #773
Sure:
https://github.com/akka/alpakka-kafka/pull/774/files

I stayed with the "number of partitions should be choosed with kafka brokers config" approach.

[2019-04-24 10:59] ennru commented on #770
@maxstreese Thank you for the detailed description of your problem.

This exception is hit when the `KafkaProducer` instance is created during materialization of the stream. The `Future` is never created and the JVM thread is ended with the exception.

Your problem is that the Actor system doesn't shut down on this error. You may wrap the thing in try/catch and terminate it upon failure.

[2019-04-26 13:17] ennru commented on #750
Fixed with #751

[2019-04-26 13:17] #750 closed

[2019-04-26 13:18] ennru commented on #755
Fixed with #751

[2019-04-26 13:18] #755 closed

[2019-04-26 15:37] gabrielgiussi commented on #674
@ennru could I give it a try?

[2019-04-26 15:41] ennru commented on #674
Sure, that would be great.

[2019-04-29 08:14] ennru opened #779 "Release Alpakka Kafka 1.0.2"
### ~ 1 week before the release

- [x] Check that any new `deprecated` annotations use the correct version name
- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Decide on a planned release date
- [x] Notify depending projects (notably Lagom) about the upcoming release
- [x] Create a new milestone for the [next version](https://github.com/akka/alpakka-kafka/milest

[2019-04-30 09:08] ennru commented on #770
As you didn't come back on this, I assume you solved it.
Closing.

[2019-04-30 09:08] #770 closed

[2019-04-30 09:16] ennru commented on #771
Thank you for this suggestion.
The resolution of config doesn't allow us to put an `application.conf` to overwrite other settings in Alpakka Kafka. I've however added some text to the documentation about `stop-timeout`: https://github.com/akka/alpakka-kafka/blob/master/docs/src/main/paradox/testing.md#testing-from-java-code

[2019-04-30 14:00] maxstreese commented on #770
Firstly: Likewise thanks for the detailed response!

We solved it for now by wrapping the `runWith` Future in another Future and then combining them. I do not think its a particularly nice solution but it works for now.

Cheers! :beers:

[2019-04-30 20:09] seglo commented on #771
@ennru Right, I thought that might be a problem.

Those docs are a big improvement!  But I think it's still a little vague about the two suggestions I made in this issue.  I suspect most users developing new integration tests _a la_ Alpakka Kafka tests style will run into these exact two issues every time, because there's no inheritance of configuration that works.  Do you mind if I could write a

[2019-05-01 13:55] mehdimas commented on #711
I haven't forgotten about this, but we've been busy trying to reduce duplication for a non-transactional, committable, partitioned consumer during rebalancing.

[2019-05-02 06:21] ennru commented on #771
Configuration can be inherited on config level:

[code]

But please, go ahead and suggest improvements to the docs.

[2019-05-02 14:42] ennru commented on #779
Enjoy!

[2019-05-02 14:42] #779 closed

[2019-05-03 12:02] miguelpuyol opened #783 "Allow testing against different Kafka Versions with Testcontainers"
### Short description

Currently the trait `TestcontainersKafkaLike` fetches the latest Kafka version. However, not everyone is using the latest version.

### Details

Change the setup to allow a custom version as described in the Testcontainers [documentation](https://www.testcontainers.org/modules/kafka/).

Now:

[code]

Possible solution:

[code]

[2019-05-03 12:08] miguelpuyol commented on #783
If you are ok, I can provide with a PR

[2019-05-06 07:38] 2m commented on #783
Good suggestion! The default value could be derived using [sbt-buildinfo](https://github.com/sbt/sbt-buildinfo) from the version of Kafka client that is configured in the build.

[2019-05-06 09:55] charlibot opened #785 "waitForDraining always times out in TransactionalSource"
### Versions used

1.0.2

### Expected Behavior

The `waitForDraining` method of `TransactionalSource` always seems to cause a timeout after a partition rebalancing. To reproduce:

1. Create an input topic with more than 1 partition
2. Start the graph below and wait for it to start
3. With the first graph running, start the graph again
4. Wait for `commit-timeout` duration where first graph will f

[2019-05-06 10:03] szymonm commented on #785
Yes, I'm also seeing increased number of `Timeout while draining`. I'm not sure if it times out every time. I see that a PR with a fix: https://github.com/akka/alpakka-kafka/pull/784 helps a bit.

Does it fix your test case?

[2019-05-06 11:48] szymonm commented on #785
You're correct. `waitForDrainging` should not be called from and `asyncCallback`. For the transactional flow it should be called from the Kafka consumer thread.
This is because we need to hold the consumer until the stream is flushed. By using `asyncCallback` we are not stopping the consumer. Does it sound right for you @charlibot ?

[2019-05-06 11:50] szymonm commented on #785
Can you create a test case for the issue?