[2015-01-07 17:29] ktoso opened #1 "Change default dispatcher and make it configurable"
Since the underlying kafka calls can be blocking as I understand the code the actors should use a dedicated either PinnedDispatcher or they should share a ThreadPool (probably better here). The library should provide the actors prepped with some 'reactive-kafka.default-dispatcher` or something similar.

Here's some docs: http://doc.akka.io/docs/akka/snapshot/scala/dispatchers.html

[2015-01-14 12:34] adamw opened #3 "Offset management"
Currently the streaming always starts from the start of the topic, as far as I understand the code. It would be good to have some sort of offset management:
- as a starter, making it possible to stream from the end of a topic could be useful
- Kafka can store the last-consumed offset to make the topic behave as a point-to-point messaging system (see https://kafka.apache.org/documentation.html#sema

[2015-01-15 11:40] kciesielski commented on #1
Fixed by #2

[2015-01-15 11:40] #1 closed

[2015-01-26 20:30] adamw opened #4 "[minor] version number"
Shouldn't it be 0.3.0-SNAPSHOT? :)

[2015-01-26 20:56] #4 closed

[2015-01-26 20:57] kciesielski commented on #4
Thanks @adamw :)

[2015-01-26 23:11] danielwegener opened #5 "Simple Kafka Consumer"
This request somewhat relates to #3. It would be very useful if one could materialize a partition source with a given offset - leaving the offset management completely to the application.

possible api:
[code]

Though, it might be a bit of work to create a robust simple consumer ([example from the kafka-wiki(]https://cwiki.apache.org/confluence/display/KAFKA/0.8.0+SimpleConsumer+Example)).

[2015-01-28 21:42] lu4nm3 commented on #3
+1

[2015-03-19 15:53] pcleary00 opened #6 "Support Topic Filters"
I need to be able to setup a stream using topic filters.

The idea is to be able to setup a Consumer Group given a topic filter.  In turn, we want to be able to consume messages from each topic that matches the filter.

I am going to be using Reactive Streams for the processing the messages.  If there is something already in the works, it would be great.  Otherwise, perhaps I can create a PR.  I w

[2015-03-26 18:13] kciesielski commented on #6
Current implementation is based on the `kafka.consumer.Whitelist` filter. When you use the `ReactiveKafka` API, you can provide topic name or a *regex*. Is that sufficient for your needs?

[2015-03-27 11:56] pcleary00 commented on #6
Ok, great, yea, regex would work fine.

[2015-03-27 11:56] #6 closed

[2015-04-07 05:23] singhmgithub commented on #3
:+1:

[2015-04-07 05:23] singhmgithub commented on #3
+1

[2015-04-18 00:01] filosganga commented on #3
It is needed to store only the last safe consumed offset (the bigger offset is possible to commit without losing messages) and the offset of the message being procesed.

I did it in a custom Kafka consumer. You need also to keep the last consumed offset to avoid resending already published offset.

[2015-04-18 12:02] adamw commented on #3
But how do you know what's the last "safe" consumed offset? This needs to come from the consumer somehow. You can't exactly-once delivery as there are no transactions here (so you either agree to loose messages, as it is now, or you can accept duplicates)

[2015-04-18 12:07] filosganga commented on #3
You are right, akka stream does not permit to do that. In fact I have
applied this technique to my previous project which was not akka stream
powered.

I think the only possible way in akka stream is to tune the subscriber,
aware of what happen in the publisher, using a custom RequestStrategy. When
the Publisher receive a new Request message, you can assume that the
previous messages have been pro

[2015-04-18 12:09] adamw commented on #3
Or you could provide a `Subscriber[Long]` to which consumed offsets should be published. That way the consumer can provide a back-stream with the right information. Only constraint is that the offsets would have to be consumed in-order.

[2015-04-18 12:15] filosganga commented on #3
It is very similar to what I did, the difference is that the ordered constraint
was not strict, because with some trick you can store this information in a
data structure that permit you to extract the highest continuous offset
processed.

The drawback of this is that you have to piggyback the offset for the whole
stream. While akka stream already provide a sort of ack mechanism using the
RequestS

[2015-06-09 16:03] yveshauser opened #10 "System.exit in case of an exception in KafkaProducer"
https://github.com/softwaremill/reactive-kafka/blame/master/src/main/scala/kafka/producer/KafkaProducer.scala#L93

Could you handle exceptions in the producer other than System.exit?

[2015-06-10 07:16] kciesielski commented on #10
This part of code comes from another library: https://github.com/stealthly/scala-kafka/blob/master/src/main/scala/KafkaProducer.scala, I guess I missed this weird `System.exit()` from the beginning.
Thanks for pointing that out, there are obviously better ways to handle this ;)

[2015-06-11 13:50] #10 closed

[2015-06-11 16:31] martinstuder opened #11 "onNext is not allowed when the stream has not requested elements"
We're getting the following occassional exception in our logs:
[code]

It doesn't seem like the stream is suffering from this, probably due to the one-for-one actor recover strategy.

[2015-06-14 08:18] dbuschman7 commented on #11
I have added a PR https://github.com/softwaremill/reactive-kafka/pull/13 for this issue. We ran into as well.

[2015-06-18 21:07] thiagoandrade6 commented on #11
I've been running on this =) Thanks @dbuschman7 for the PR. Waiting for that.

[2015-06-24 16:33] kciesielski opened #16 "Customize RequestStrategy in KafkaActorSubscriber"
Currently we have `protected def requestStrategy = WatermarkRequestStrategy(10)`, this should be customizable.

[2015-06-29 08:05] mlosiewicz opened #17 "Exception on send in KafkaProducer"
Exceptions should be logged and some retry could be implemented instead of:
[code]

[2015-06-29 08:17] adamw commented on #17
I believe that's fixed in 0.6.0 for sure, if not in earlier versions?

[2015-06-29 08:22] mlosiewicz commented on #17
Yes, you're right. Thanks.

[2015-06-29 08:23] #17 closed

[2015-06-30 15:07] #11 closed

[2015-06-30 15:08] kciesielski opened #18 "Introduce Scalariform and some more compiler flags"
This should prettify the code and keep formatting issues away from code reviews.

[2015-07-01 16:30] kciesielski commented on #18
Implemented in 70f082707ab3b895f49c984d079558c8d1d999c7, 3ffcf7798c3fed216e16f2764709ce0eac203e93 and 5d761164d5399c666f4d72c16d7b9c1b9c23bd50

[2015-07-01 16:30] #18 closed

[2015-07-02 07:40] adamw commented on #3
Another approach: the `Source` would be a stream of `Message[T]`, which would contain, apart from the `T` instance itself, a `consumed()` callback, which would write the offset information back to Kafka/Zookeeper. Now the client would have a lot of choices on how to signal that messages have been consumed. It could be done synchronously with processing the message (but that would be slow). Or the

[2015-07-17 08:16] alexanderzafirov opened #19 "Akka streams 1.0"
Are you planning on bumping the version to the official release 1.0? Maybe you weren't aware - they released it two days ago :)

https://groups.google.com/forum/#!topic/akka-user/iROrl6PB2jY

[2015-07-17 08:22] kciesielski commented on #19
Yup, I'm aware. I'm currently working on finishing some major API refactoring. Maybe I'll switch to akka-stream 1.0 and at least release a snapshot until the refactoring is done.

[2015-07-17 08:37] alexanderzafirov commented on #19
Looking forward!

[2015-07-17 08:37] #19 closed

[2015-07-17 17:26] xelax opened #20 "how to shut down a stream cleanly"
I would like to see an example of how to shut down kafka source cleanly and how to detect errors (for example if the kafka server goes down or if the connection fails)

[2015-07-18 09:05] gvd opened #21 "KafkaActorSubscriber log statement not displaying exception"
In https://github.com/softwaremill/reactive-kafka/blob/master/src/main/scala/com/softwaremill/react/kafka/KafkaActorSubscriber.scala on line 36 I see:

log.error("Stopping subscriber due to an error", ex)

Which does not display the exception message

[2015-07-20 09:19] kciesielski commented on #19
Hi @alexanderzafirov, 0.7.0-SNAPSHOT with akka-streams 1.0 is now published. I'm only publishing SNAPSHOTs in some exceptional cases like this one, so you can consider this safe :)

[2015-07-20 09:55] kciesielski commented on #21
Thanks, @gvd! Indeed, the logging interface is a bit unfortunate, I'm fixing this to
`log.error(ex, "Stopping subscriber due to an error")`
I'll try to add some test around it.

[2015-07-20 10:01] adamw commented on #21
Maybe you could have an `ExceptionHandler` component, where the default handling would be to log the exceptions, but could provide hooks to e.g. restart the whole stream, try to reconnect, do exponential backoff etc?
Passed as an implicit or parameter with a default value?

[2015-07-20 12:50] kciesielski commented on #21
@adamw Underneath the subscriber is an Akka actor. Errors can be handled with custom behavior using DeathWatch. I'm checking how one can pass more details on exceptions with that.

[2015-07-20 12:51] kciesielski commented on #20
I'm working on this now as a part of #21.
As I mentioned there:
Underneath the subscriber is an Akka actor. Errors can be handled with custom behavior using DeathWatch. I'm checking how one can pass more details on exceptions with that.

[2015-07-20 19:14] gvd commented on #11
This fix is not present in version 0.6.0 I believe. When will this fix be available in the maven repo?

[2015-07-20 21:06] xelax commented on #21
I might be wrong, but currently the underlying actor is not returned when build the stream, thus inhibiting the ability to supervise/register for deathwatch of that actor.

[2015-07-20 21:13] kciesielski commented on #21
There is some public API not mentioned in README. You can build your consumer like this:
[code]
and you have a working ActorRef which you can watch. I'm also trying to make it possible to supervise this actor, so that you can capture full exception when it crashes. This way

[2015-07-21 03:36] gvd opened #22 "Feature request: return key in addition to the message"
Returning the key in addition to the message would allow routing based on the key without e.g. having to deserialize a message

[2015-07-23 19:14] #16 closed

[2015-07-23 19:14] kciesielski commented on #21
Fixed flly in #23

[2015-07-23 19:14] #21 closed

[2015-08-04 11:44] hepin1989 commented on #3
+3

[2015-08-04 12:48] filosganga commented on #3
Hi Adam,
It is the approach I have used in my custom kafka consumer actor. To me it
is a good solution.

On 2 July 2015 at 08:40, Adam Warski <notifications@github.com> wrote:

--

[image: --]
Filippo De Luca
[image: http://]about.me/FilippoDeLuca
<http://about.me/FilippoDeLuca?promo=email_sig>

[2015-08-08 17:54] unitymind opened #26 "Any plans for Producer/Consumer using org.apache.kafka.clients?"
Firstly, thank you for your work with reactive-kafka!

Secondary, I ran with limitation of integration [Confluent Kafka Avro Serialization](http://docs.confluent.io/1.0/app-development.html) and [Confluent Schema Registry](http://docs.confluent.io/1.0/schema-registry/docs/serializer-formatter.html) using old Producer/Consumer (which writing in Scala). According to Kafka documentation:

Integration

[2015-08-08 19:26] unitymind commented on #26
Ouch, seems like new Consumer not yet fully implemented and migration make sense only after 0.9 release

[2015-08-09 16:57] llaakes commented on #3
We are currently prototyping an app using reactive-kafka but really need offset management so we can minimize reprocessing of messages in a topic by a clusters of clients, and so we can continue at last offset in case of system restart.

What is the current status offset managment in reactive-kafka?

In a test client I have the current setup, but on client restart it restarts reading the entire to

[2015-08-10 09:59] kciesielski commented on #26
That's right. I'm keeping my eye on this, because this new consumer looks pretty promising :)

[2015-08-10 11:34] kciesielski commented on #3
@llaakes currently I am waiting for Kafka 0.9 with new Consumer API that would allow easier manual commit/offset management. However, Adam's solution from above may be a good idea to implement in the meantime. For your purpose - maybe you could use `ConsumerProperties.readFromEndOfStream()`?

[2015-08-10 12:12] kciesielski commented on #3
Looks like the new API is scheduled for 0.8.3 (Oct 2015), so maybe I can take a deeper look to tailor something custom earlier just to allow manual commits.

[2015-08-10 17:57] llaakes commented on #3
@kciesielski thanks for the quick response.  It looks like, using the ConsumerProperties listed above, reactive-kafka already writes the offset to Kafka, If I wait about 30 seconds (longer than spec'd above for some reason) I see the offset for the topic in Consumers.  If I then stop and restart the test client (which generates new messages and consumes them, it continues from the last read.  It a

[2015-08-11 07:10] kciesielski commented on #3
@llaakes consumer properties are immutable and the `setProperty` method returns a new object, so you should probably do:
[code]
You can skip the last one because auto-commit is the default setting.

[2015-08-16 05:43] adamw opened #27 "Change group name"
Currently it's a generic `com.softwaremill`, probably would be better to have a kafka-specific one?

[2015-08-17 07:40] kciesielski commented on #27
+1
I was thinking about the same recently, because I'm working on manual commit to Zookeeper which apparently needs some additional dependencies (like `curator-framework` or `curator-recipes`). This made me think about making ZK commit support an optional module (since using ZK for commits is already deprecated in Kafka) and then I realized that the root groupId may be too general :)

[2015-08-21 09:46] Semptic commented on #3
Your new commit handling seems promising, but with this solution it would be nice to get a way to send the message to a `KafkaProducer` before commiting. This could be done manually but thats not handy. A nicer solution would if we can get a `Flow` for a `KafkaProducer`.

I think this can easily be done by adding a custom message to `KafkaActorSubscriber`.

Something like

[code]

[code]
Now you c

[2015-08-21 10:37] hepin1989 opened #29 "support error handling for KafkaActorSubscriber"
[code]
I here the encoder may cause an error,and I don't want the actor subscriber to fail.I can't find anyway to handle it.

the akka doc said :
[code]

[2015-08-21 13:50] hepin1989 opened #30 "should recreate KafkaProducer once actor restart"
the current code have a bug that once there is an exception occur,the``` KafkaActorSubscriber``` is restarted ,and then cause the producer was passed in and was closed then it will cause exception of ```producer already closed ```,and will trap the subscriber.

[2015-08-21 13:56] hepin1989 commented on #30
my bad seems:)

[2015-08-21 13:56] #30 closed

[2015-08-21 14:14] hepin1989 commented on #30
but the problem is still there,I will come up with a proper fix.

[2015-08-21 14:36] hepin1989 commented on #29
like add a invoker to props
and then :
[code]

[2015-08-21 14:39] hepin1989 opened #31 "KafkaActorSubscriber should handle specially to ProducerClosedException"
if it cause the restart,then the error will continue shows up.
a better way I think should be handle it specially,stop it quickly or restart with a new producer.

[2015-08-24 09:40] kciesielski commented on #29
You can supervise a `KafkaActorSubscriber` and prevent it from restarting using code like this:
https://github.com/softwaremill/reactive-kafka/blob/master/src/test/scala/examples/examples.scala#L40
It's not perfect and I'm hoping get this refined but I guess that it can should work for now.

[2015-08-24 09:40] kciesielski commented on #31
See my comment to #29

[2015-08-24 09:42] kciesielski commented on #20
@xelax Error handling can be realized using the API like in following example:
https://github.com/softwaremill/reactive-kafka/blob/master/src/test/scala/examples/examples.scala#L40
You can shut down the source by sending a `ActorSubscriberMessage.OnComplete` to a `KafkaActorSubscriber` actor.

[2015-08-24 09:45] kciesielski commented on #3
@Semptic this looks like bypassing streams by sending a message manually to an actor. A `KafkaProducer` conceptually is not a `Flow` because it just puts messages in the log. Your case seems to be a candidate for building a graph with splitted stream, where one branch puts to one sink (`Kafka`), and the second one putting back to the `offsetCommitSink`.

[2015-08-24 09:51] kciesielski commented on #30
See my comment on https://github.com/softwaremill/reactive-kafka/issues/29

[2015-08-24 11:03] hepin1989 commented on #29
yes I just found the refactory here
https://github.com/softwaremill/reactive-kafka/pull/23
will close it for now.

[2015-08-24 11:03] #29 closed

[2015-08-24 11:03] hepin1989 commented on #31
yes,thanks I will close it for now ,cause it's a design decision.
thanks

[2015-08-24 11:03] #31 closed

[2015-08-24 11:29] hepin1989 opened #32 "add recheck interval when there is no more data for any specified topic"
https://github.com/softwaremill/reactive-kafka/blob/master/src/main/scala/com/softwaremill/react/kafka/KafkaActorPublisher.scala#L33

I think we should add a property that when there is no more data for any specified topic,then we could reschedule the check after a period of time.like ```recheckInterval```?

otherwise I see a lot of traffic there even there is no more data.

[2015-08-24 13:26] kciesielski commented on #20
@xelax you can also use more idiomatic way to handle errors. I'm hoping to add some documentation soon. Here's a quick example:

[code]

[2015-08-25 07:08] markglh opened #33 "Java API connection problems"
There's an issue with the Java api, I get this error:
[code]

This is the code I'm using to create the consumer
[code]

I'm still trying to figure out why, will let you know if I make progress - might be in the morning though as I've got to head off soon.

FYI this code seems to fair a little better (connects), although it seems to fail to shutdown
[code]

[2015-08-25 07:49] markglh commented on #33
In the `PropertiesBuilder` class we have the following
[code]

`super` here is calling this:

[code]

So `zooKeeperHost` and `brokerList` are reversed.

Changing the consumer to be consistent with the other constructors fixes this:
[code]

[2015-08-25 08:39] markglh commented on #33
Fixed here: https://github.com/softwaremill/reactive-kafka/pull/34

[2015-08-25 14:41] Semptic commented on #3
Thx, seams to be a good solution (in combination with `.commitInterval(x seconds)`)

[2015-08-26 08:44] kciesielski commented on #20
@xelax looks like I gave a wrong example. A source will not restart on errors, it will just propagate the error further by calling onError() on its subscribers. Here's a better example of custom error, handling, which is meaningful for a *Sink*:
[code]

[2015-08-26 08:45] #33 closed

[2015-08-26 08:47] kciesielski commented on #30
@hepin1989 I just added some more changes. Now even with default error handling the underlying resources will not be closed on restart. Coming in 0.8.0

[2015-08-26 08:47] kciesielski commented on #31
@hepin1989 I just added some more changes. Now even with default error handling the underlying resources will not be closed on restart. Coming in 0.8.0

[2015-08-26 08:48] kciesielski commented on #29
There's another way to handle subscriber errors:
[code]

[2015-08-26 11:18] hepin1989 commented on #31
@kciesielski thanks,I am using your project to stream the akka logging as protobuf to kafka and then pump it to graylog on another node.thanks

[2015-08-26 11:34] hepin1989 commented on #29
@kciesielski once I realized that I could return the props ,I just attach it as a child actor and the override the supervison strategy.
but from the doc,said that:

will the solution you described here works?

[2015-08-26 12:38] kciesielski commented on #29
@hepin1989 Thanks for finding this :) Indeed, I wrote some tests and looks like this decider will never be called. So it looks like the only way to catch exceptions now is to use something similar to the method described in the `ReactiveKafkaIntegrationSpec:"close producer, kill actor and log error when in trouble"` test.
I'll update the examples and documentation accordingly.

[2015-08-26 13:15] #27 closed

[2015-08-27 14:44] #3 closed

[2015-08-27 14:44] #20 closed

[2015-09-01 09:24] kciesielski opened #37 "Remove deprecated API"
The `ReactiveKafka` class should have an empty constructor. We also should remove old, deprecated functions.

[2015-09-01 09:25] kciesielski opened #38 "Use embeded Kafka + Zookeeper for tests"
Evaluate and try to switch to something like this: https://gist.github.com/fjavieralba/7930018

[2015-09-01 09:27] kciesielski commented on #22
Hi @gvd, version 0.8.0 now operates on the `MessageAndMetadata` type. You can extract key from it with the `.key()` function.

[2015-09-01 09:27] #22 closed

[2015-10-02 14:19] alexanderzafirov opened #41 "Error handling"
We streaming Twitter data from a service called GNIP suddenly I get a

[code]

As I read in order to understand what is happening I need to implement error handling with actors.
I would like some help on the example. Can someone show me how I can create a sink from the actor that supervises the KafkaActorSubscriber child?

[2015-10-05 12:56] kciesielski commented on #41
There's an example in our Activator Template: https://github.com/softwaremill/activator-reactive-kafka-scala/blob/master/src/main/scala/sample/reactivekafka/KafkaWriterCoordinator.scala
Let me know if you need any further explanation on how to plug in your error handling.

[2015-10-05 13:03] alexanderzafirov commented on #41
Made some progress on the matter and ended up with this. Unfortunately I'm still getting the above mentioned error. I would like to know what is this  "arguments left: 1"

[code]

And the sink is created like this

[code]

[2015-10-07 11:35] alexanderzafirov commented on #41
According to [this](http://groovyjavathoughts.blogspot.dk/2015/01/why-am-i-getting-warning-arguments-left.html) you are missing a ```{}``` in [KafkaActorSubscriber](https://github.com/softwaremill/reactive-kafka/blob/master/core/src/main/scala/com/softwaremill/react/kafka/KafkaActorSubscriber.scala#L31).
Should I make a PR?

[2015-10-07 12:04] kciesielski commented on #41
Sure, a PR will be most welcome :)

[2015-10-07 12:21] alexanderzafirov commented on #41
Ok, I see that someone already [changed](https://github.com/softwaremill/reactive-kafka/commit/35f7a4912b8859e8d4c7287fc0e75620c32a4b05) the logging. I guess this will be part of 0.8.2.? @kciesielski any estimates on when you will put that up?

[2015-10-08 06:16] kciesielski opened #42 "Allow opening multiple threads by consumers"
Currently our `KafkaConsumer` uses `createMessageStreamsByFilter` and passes a constant value of `1` as number of streams. We should allow setting this value.

[2015-10-08 06:21] kciesielski opened #43 "Native committer fails to work after broken connection"
A problem has been reported by @cleliofs:

Hi, we are having a problem on the offset committer `(com.softwaremill.react.kafka.commit.native.NativeCommitFailedException: Failed to commit after 5 retires)`. Since last week we lost the commits for a specific topic (other topics seem to been committed fine) and the current offset commit lag is in the magnitude of ~ 100k. This error message is thrown e

[2015-10-08 06:24] kciesielski commented on #41
@alexanderzafirov I need to verify this one as well: https://github.com/softwaremill/reactive-kafka/issues/43, looks like a serious issue. As soon as it's resolved I'll release 0.8.2.

[2015-10-08 06:48] alexanderzafirov commented on #41
@kciesielski thanks!

[2015-10-09 07:14] #42 closed

[2015-10-09 07:14] #43 closed

[2015-10-09 11:32] cleliofs commented on #43
thanks! @kciesielski which release version will contain this fix?

[2015-10-09 12:49] kciesielski commented on #43
@cleliofs 0.8.2, coming as soon as I add some more tests

[2015-10-13 09:32] alexanderzafirov commented on #41
@kciesielski Just to clarify - by labeling the issue as a __bug__ are you referring to the fact that we cannot catch certain exceptions with the ActorSupervisor?

[2015-10-13 09:35] kciesielski commented on #41
@alexanderzafirov Yes, because we cannot see the cause.

[2015-10-20 02:11] Yoda-The-master opened #44 "Consume messages from multiple streams when numThreads passed"
Right now, the kafka consumer is using only one stream returned from kafka-client.
https://github.com/softwaremill/reactive-kafka/blob/master/core/src/main/scala/kafka/consumer/KafkaConsumer.scala#L19

It should consume from all the streams, and each of the consuming part should run in seperate thread.
We can see examples here: http://stackoverflow.com/questions/23590808/apache-kafka-kafkastream-o

[2015-10-20 07:12] kciesielski commented on #37
Fixed by f6e33c7

[2015-10-20 07:12] #37 closed

[2015-10-20 07:12] kciesielski commented on #41
Fixed by 35f7a49

[2015-10-20 07:12] #41 closed

[2015-10-22 14:40] juanjovazquez opened #45 "Graceful shutdown in KafkaActorPublisher"
As it's mentioned in [Handling errors](https://github.com/softwaremill/reactive-kafka#handling-errors), it's possible to have a publisher or consumer actor supervised by its parent. I'm doing that as follows:

[code]
Unfortunately, if the parent actor is stopped then its child actors are also stopped in advance so that the publisher actor is not shutdown gracefully and the kafka consumer is not cl

[2015-10-27 02:11] mhotan opened #47 "Kafka 0.8.2.2"
I understand that it is a small patch update but for the sake of continuity are you looking to upgrade the Kafka dependency to 0.8.2.2?  If not is there a reason why you holding off?

[2015-10-27 08:22] #47 closed

[2015-10-27 08:22] kciesielski commented on #47
There was no particular reason to hold off, thanks for pointing that out :)

[2015-10-27 08:27] kciesielski commented on #45
That was my idea a while ago, but unfortunately `postStop()` also gets called on actor restart and the problem is that after a `KafkaActorPublisher` gets restarted, it is impossible to revive its inner `consumer`. However, I'm also quite bothered by the way that we need to handle shutdowns with current API (the way you mentioned or by `DeathWatch`). Let's keep this issue open and look for some sol

[2015-10-27 09:36] juanjovazquez commented on #45
We'll keep working on this. By the way, I hadn't thought in dead watching for this and maybe could work better than cancelling in our case. Thanks for that!.

[2015-10-27 14:29] mhotan commented on #47
Thank you.  I really appreciate your project.

[2015-11-06 18:30] tdrozdowski opened #48 "Akka Streams 2.0-M1?"
Looks like Akka Streams 1.0 is deprecated and the site documentation recommends migrating to version 2.0.  Do you have a branch that is tracking this?

[2015-11-06 18:35] adamw commented on #48
It's been only a few hours since 2.0-M1 release (which is only a milestone), so I suppose no branch yet ;)

[2015-11-06 18:49] kciesielski commented on #48
Right :) I guess a branch will be reasonable as soon as 2.0 approaches RC.

[2015-11-06 23:11] ktoso commented on #48
Proposing to rename title of ticket to talk about `2.0-M1`? It's a very specific thing, there is no 2.0 out yet so it may confuse people.

[2015-11-08 18:57] az-qbradley opened #49 "Java PropertiesBuilder.java throws NPE"
https://github.com/softwaremill/reactive-kafka/blob/master/core/src/main/java/com/softwaremill/react/kafka/PropertiesBuilder.java#L131

When this line is triggered, partitionizer is null, and cause NPE thrown at https://github.com/softwaremill/reactive-kafka/blob/ebf7aa417d7e481d4dd1526194d0d15193e11cc4/core/src/main/scala/com/softwaremill/react/kafka/KafkaActorSubscriber.scala#L27

--------------

[2015-11-09 11:21] kciesielski commented on #49
Thanks, this indeed needs fixing. The NPE occurs only when you create `new PropertiesBuilder.Producer(...)` and pass null `brokerList` or `zooKeepHost`, so a workaround would be to ensure that these two params are not null.

[2015-11-09 12:22] cleliofs commented on #43
Just to say this fix has been working fine in our Production servers since we released (2 weeks ago) - thanks @kciesielski

[2015-11-09 12:28] kciesielski commented on #43
@cleliofs Thanks for reporting back. Did you notice any "Failed to commit offsets" entries in your logs and then succesfull restarts?

[2015-11-09 12:59] cleliofs commented on #43
Actually, so far we did not have any "failed to commit offsets" messages in our logs - the unique log messages regard Kafka offsets are these:

[code]

But, these are from Kafka lib itself. I will keep an eye on that and make sure the offsets are being committed fine. So far so good, no problem. Thanks!

[2015-11-11 22:22] sslavic commented on #26
Kafka 0.9.0.0 RC1 is out http://mail-archives.apache.org/mod_mbox/kafka-users/201511.mbox/%3CCAFc58G-qph4BXA1FZ%3D74gwiEvLr01kNQ_2Fuh-xRZJtDYfTa5A%40mail.gmail.com%3E

[2015-11-11 22:33] kciesielski commented on #26
Thanks, @sslavic :) Looks like it's time for a branch and some tinkering with the new consumer.

[2015-11-12 15:56] richiesgr opened #50 "How to use it as flow part instead of sink"
Hi

May be not a good place to ask this. But I can't figure out how to use the subscriber as other place than Sink. I want to use the producer as flow part not sink.
So this working flow.to(Sink(subscriber))
But how I can use like flow.via(subscriber).via ....
Then I need also to be able to throw exception out
Thanks

[2015-11-12 17:58] dbuschman7 commented on #50
I would use a Broadcast to split the flow, one output to a Kafka sink, and one to continue processing, like this :

val broadcast = builder.add(Broadcast[YourTypeHere](2)) // number of outputs

upStream ~> broadcast ~> kafka
broadcast ~> otherWork

NOTE: I am using the DSL and not the direct methods to build my flows

[2015-11-13 15:02] kciesielski commented on #50
+1, broadcast seems like a good approach

[2015-11-15 09:54] richiesgr commented on #50
Hi
I can't I need to the otherWork before sending to kafka and need to do something else after sending to kafka that's the flow !
Any other option ?

[2015-11-16 11:19] kciesielski commented on #50
@richiesgr What do you mean by "after sending to kafka"? Do you need some sort of confirmation that the message has actually been sent there or can you just do your flow 'besides' sending to Kafka?

[2015-11-16 15:27] richiesgr commented on #50
Yes I need to confirm that the message has been sent return back to a rest API
In fact I get a Http Request I transform what I get to valid JSON send to kafka and return back Http code
That's why I need to be a part of the flow and not just the sink

[2015-11-17 10:23] evans-ye opened #51 "How to store processed log to Kafka or Cassandra with Manual Commit?"
Sorry I can't find a proper place to ask so I just open up an issue here (Close it if you think it's improper).

I'm currently doing a PoC based on this awesome reactive kafka module with the manual commit feature.
And I'm struggling adding a Sink to store log into some permanent storage system such as Kafka or Cassandra.
From your sample code messages are being processed on-the-fly in processMess

[2015-11-17 10:31] kciesielski commented on #51
@evans-ye Have you considered using `Broadcast` from Akka Streams' DSL? It allows "forking" the stream so that you could try to send your processed messages to two "branches": your topic where you save and the commit Sink.
Example: http://doc.akka.io/docs/akka-stream-and-http-experimental/1.0-M2/scala/stream-quickstart.html

[2015-11-17 10:53] evans-ye commented on #51
Yeah, thanks for your prompt response.
CMIIW, my thought is when using broadcast, there's no guarantee that commit will be executed after data has been saved to my topic, hence there's a chance to lost data.

Let's say the stream saving data to my topic is slower, and the committing stream is faster.
When failure happened at the point that offsets get committed back, but the other stream saving da

[2015-11-17 16:11] jasongilanfarr commented on #51
You definitely can do this (and I do) by using a broadcast and some flow stages so you'll commit only after the persist to Cassandra future completes. As a side benefit, this pseudo flow only sends the message itself to your persist method.

Source(publisher) ~> broadcast ~> Flow.map(_.message).mapAsync(1)(persist) ~ zip.in0
broadcast ~> zip.in1
zip.out ~> Flow.map(_.2) ~> commitSink

[2015-11-17 17:17] evans-ye commented on #51
OKAY! I got your point. This looks perfect to me.
Thank you so much for the great help and the great module!

I only have one more question, which I think is the benefit using your module:
Comparing the reactive kafka with akka streams + akka persistence, which both provide at-least-once message guarantee, reactive kafka is way much efficient since we only write back offsets, while akka streams +

[2015-11-18 05:39] MadeInChina opened #52 "could config the kafka partition"
Hi all, i'm using reactive-kafka but for some reason we want  config kafka partition, how to achieve it.thanks

[2015-11-18 06:01] MadeInChina commented on #48
+1

[2015-11-18 08:44] kciesielski commented on #52
@MadeInChina If I understand correctly, you have a partitionized Kafka instance which you want to use with Reactive Kafka.
1. If you want to write to your partitions, create your `ProducerProperties` with constructor:
[code]

[2015-11-18 08:44] #52 closed

[2015-11-20 11:14] victorvillena commented on #48
I forked the repo to test an upgrade to Akka Streams 2.0-M1, everything looks good as of now.

[2015-11-20 11:18] kciesielski commented on #48
Great to hear that. Thanks for your effort @victorvillena :)

[2015-11-20 11:57] manub commented on #38
I worked on this in my spare time - https://github.com/manub/scalatest-embedded-kafka - maybe it's something that can help.

[2015-11-20 11:59] kciesielski commented on #38
Looks promising, thanks @manub :) I'll try to add it.

[2015-11-21 00:50] suiryc opened #53 "Off-by-one issue in offset committer"
Hi,

I believe there is an issue in the offset committer.
As per the kafka API, the offset is the position the consumer shall read from to process its next message. So when flushing offsets (which goes through `NativeCommitter.commitPhaseTrial`) the offset of the last processed message is incremented by 1 (`OffsetMap.toCommitRequestInfo`) before being sent, and the result (`NativeCommitter.getOffs

[2015-11-21 14:04] suiryc commented on #53
Tried a quick fix by resetting scheduled flush variable as first step when flushing and adapting fetch request response to keep the offset of last fetch message (as expected in the committer code).
Fixed both issues I encountered (last commit not performed, and committer not flushing anymore in described scenario).

Was not sure where to put the `offset - 1` when processing fetch request response.

[2015-11-22 20:40] kciesielski commented on #53
Hi @suiryc, that indeed looks like a serious issue, thanks a lot for such a detailed analysis. I'm still trying to make sure we have an issue here by writing a failing test and checking whether your fix will make it pass. By the way - how did you stumble upon this bug?

[2015-11-22 21:15] suiryc commented on #53
At first, with version 0.8.1, I was simply looking for a way to view the backlog for a consumer using [KafkaOffsetMonitor](https://github.com/quantifind/KafkaOffsetMonitor), manually triggering a producer to write some (one by one) messages to a topic. And from time to time I observed that the 'lag' (remaining number of messages) was 1 while all messages had been consumed.
Inserting a new message

[2015-11-22 21:54] kciesielski commented on #53
@suiryc Impressive investigation :) I will prepare a bugfix release (0.8.3) as soon as I finish writing a test for such case.

[2015-11-22 22:08] kciesielski commented on #53
@suiryc Could you submit a PR with your fix?

[2015-11-22 22:14] suiryc commented on #53
See pull request #55

[2015-11-22 22:35] kciesielski commented on #50
@richiesgr Maybe you can achieve what you want with solution from issue #51 ?

[2015-11-24 09:59] MadeInChina commented on #52
Thx

[2015-11-26 10:18] alexanderzafirov opened #57 "Kafka consumer"
I have a project that deals with high volume of twitter data. Kafka is used for queuing tweets for later processing. I have two metrics of interest - one that shows how much time it takes for a tweet to come in the system before being put to Kafka and a second that displays the total time it takes from creating a tweet to storing it in a db after it is fetched from Kafka. The first one is pretty m

[2015-11-26 13:31] alexanderzafirov commented on #57
Found the problem! The clock on the AWS instance had drifted 3 seconds :)

[2015-11-26 13:31] #57 closed

[2015-11-28 22:29] #53 closed

[2015-11-28 22:29] #49 closed

[2015-11-29 06:56] az-qbradley commented on #49
Thanks a lot!

[2015-12-03 07:18] algermissen commented on #45
Hi,

are there any new approaches towards gracefully shutting down the publisher?

Jan

[2015-12-03 08:25] kciesielski commented on #45
@algermissen 0.8.3 uses ` onErrorThenStop(ex)`, so in case of exception the publisher will be automatically closed. I'm working on the README to explain this, I guess this issue can be closed.

[2015-12-03 09:03] juanjovazquez commented on #45
Thanks @kciesielski, I'll check this out. Closing the ticket.

[2015-12-03 09:03] #45 closed

[2015-12-08 22:10] aditanase opened #58 "How to scale out reading from partitions via akka cluster?"
Hi,

First of all great project! I'm planning to kick off a POC for a component that augments a spark streaming app with exactly once semantics for sending HTTP calls. Instead of sending from spark I'm planning to publish the messages to kafka and send them from an akka app, in order to avoid duplicate messages in case of spark executor failures (which trigger reprocessing of side effects).

The i

[2015-12-09 14:17] evans-ye commented on #58
My solution is to leverage Kafka consumer group. You can run identical streams on two nodes with same consumer group id, then Kafka will rebalance the load by re-assiging partitions. The two streams doesn't need to know each other hence akka cluster is optional. However, I'm still evolving so I'm not sure this is the best or not.

[2015-12-09 14:27] aditanase commented on #58
Just checking - is this built in the KafkaConsumer used by reactive-kafka under the hood? Basically on each machine I would be receiving data from a subset of partitions?

How does this cope with adding/removing machines to the consumer group? How would the consumer know when to "take over" some of the partitions previously managed by another consumer part of the same group.

Apologize if this is

[2015-12-09 15:37] aditanase commented on #58
Ok, so I've read the kafka consumer documentation (including the new 0.9 consumer) and it seems like your suggestion is a great one, at least for simplified deployments where simple sharding is needed and each message can be processed independently.

[2015-12-21 23:21] pkinsky commented on #48
Akka Streams 2.0 was released today: http://akka.io/news/2015/12/21/akka-streams-2.0-released.html

[2015-12-22 08:24] kciesielski commented on #48
Thank @pkinsky. I did some initial checks and it looks promising, probably transition is going to be smooth.

[2015-12-30 11:00] kciesielski commented on #48
Implemented in 0.8.4 and 0.9.0

[2015-12-30 11:00] #48 closed

[2015-12-30 11:01] kciesielski commented on #26
Implemented in 0.9

[2015-12-30 11:01] #26 closed

[2015-12-31 05:47] thomashan opened #59 "Couldn't find "com.softwaremill.reactivekafka" %% "reactive-kafka-core" % "0.9.0""
I couldn't find version 0.9.0
The latest version I could find was 0.8.5.

https://oss.sonatype.org/content/repositories/snapshots/com/softwaremill/reactivekafka/reactive-kafka-core_2.10/
https://oss.sonatype.org/content/repositories/snapshots/com/softwaremill/reactivekafka/reactive-kafka-core_2.11/

[2015-12-31 05:53] thomashan commented on #59
Sorry, I've found it here
http://mvnrepository.com/artifact/com.softwaremill.reactivekafka/reactive-kafka-core_2.11/0.9.0

[2015-12-31 05:53] #59 closed

[2016-01-02 07:36] tdrozdowski commented on #48
So quickly after 2.0 was released, 2.0.1 was released, so we need one more update please. :)

[2016-01-03 21:29] kciesielski commented on #48
@tdrozdowski 2.0.1 adds a fix that doesn't affect compatibility with reactive-kafka, so you should be able to set this version safely in your own dependencies. I will bump accordingly and add it to the next release.

[2016-01-07 15:48] mjkrumlauf opened #60 "Add support for user-written partitionizers to the Java API"
Right now this capability is available only in the Scala API.  This is because the signature of the ProducerProperties constructor contains a partitionizer parameter that is a function that takes a scala.Function1, which does not satisfy the Java 8 functional interface requirement that there be only one unimplemented method.

[2016-01-11 21:43] mjkrumlauf opened #61 "Add capability of subscribing to specific topic partitions"
The new KafkaConsumer API provides the capability of subscribing to individual partitions within a topic.  Requesting that this capability be exposed, perhaps through the **ReactiveKafkaConsumer** class.

See https://kafka.apache.org/090/javadoc/index.html?org/apache/kafka/clients/consumer/KafkaConsumer.html, **Subscribing to Specific Partitions** for more details.

[2016-01-12 15:55] mjkrumlauf opened #62 "Add capability of consuming from an application-specified offset"
Make use of _KafkaConsumer.seek(TopicPartition, long)_ to allow the consuming application to start consuming a topic from a specified offset.  This would be extremely useful in providing yet more decoupling of producers from consumers.

See https://kafka.apache.org/090/javadoc/index.html?org/apache/kafka/clients/consumer/KafkaConsumer.html

[2016-01-12 18:30] danielwegener commented on #62
This, together with #61 would solve #5

[2016-01-12 18:30] danielwegener commented on #61
This, together with #62 would solve #5

[2016-01-12 22:27] kciesielski commented on #62
Thanks @mjkrumlauf, this is an important feature to cover.

[2016-01-18 14:31] bchazalet commented on #62
+1

[2016-01-22 06:47] hepin1989 opened #64 "add client-id to ConsumerProperties"

[2016-01-26 01:51] dmtrs opened #65 "Consumption of messages pause after 10mins"
In my application I create 3 consumers each consuming from 8 partitions (total 24).
Application runs smoothly by consuming message for around 10mins from startup.

Then I get 1 or 2 INFO messages like the following in my logs:

```INFO  [2016-01-26 01:40:07,221] org.apache.kafka.clients.consumer.internals.AbstractCoordinator: Attempt to heart beat failed since the group is rebalancing, try to re-j

[2016-01-26 06:24] kciesielski commented on #65
Hi @dmtrs, are you using reactive Kafka 0.9?

[2016-01-26 12:37] dmtrs commented on #65
@kciesielski
- Yes I am using kafka 0.9
- I am using auto commit

Yesterday I got a smooth run for about 3 hours with 1 Consumer instead of 3.
I will try to run more tests on this.

Do you think changing the kafka thread pool options will help?

[2016-01-26 13:58] kciesielski commented on #65
@dmtrs I don't think it's related, but if it's not a problem then why not. I'm suspecting that it's caused by this Kafka bug I pasted, unfortunately the only option to verify is to build last Kafka snapshot from sources.

[2016-01-26 22:07] dmtrs commented on #65
@kciesielski thats exactly what I did. Running smoothly for almost an hour with rebalancing events.

For future references the steps I did where:
1. Download the `trunk` branch from `apache/kafka`
2. Build the clients package
3. Added it on my `lib/` directory (simple project for my sbt)
4. Used the following in my `build.sbt` file:
[code]

Closing the issue

[2016-01-26 22:07] #65 closed

[2016-02-03 10:13] kciesielski opened #70 "Make the GraphStage API parts reusable"
The issue has been reported by @13h3r:
The idea of graphs and graph stages are to be completely reusable. You construct you graph with shapes and nothing happens. Then you run your graph and you have an access to "runtime" stuff via materialization process.

GraphStage API in reactive kafka right now is mix of graph and runtime stuff. For example - sourceWithOffsetSink. Creation of ReactiveKafkaCo

[2016-02-03 11:52] 13h3r commented on #62
Looks like this already in master

[2016-02-03 11:52] 13h3r commented on #61
Already in master?

[2016-02-03 14:15] mjkrumlauf commented on #61
Yes - closing issue.

[2016-02-03 14:15] #61 closed

[2016-02-03 14:15] mjkrumlauf commented on #62
Yes - closing issue.

[2016-02-03 14:15] #62 closed

[2016-02-03 14:16] mjkrumlauf commented on #5
This can be closed - #63 took care of this.

[2016-02-06 19:18] akauppi commented on #38
Hi guys, did something come out of this? I'd love to be able to just `sbt test` reactive-kafka, without setting up anything.

I was thinking of suggesting something like [docker-it-scala](https://github.com/whisklabs/docker-it-scala) that allows ScalaTest to run servers within Docker containers, but an embedded Kafka would be even better (i.e. not require any additional installs).

[2016-02-07 00:09] manub commented on #64
Would this be possible by calling `.setProperty("client.id", "<your client id>")`?

[2016-02-09 08:38] kciesielski commented on #38
@akauppi No, this is still not explored with reactive-kafka but there are no blockers to try it (except my lack of free time :)

[2016-02-09 12:13] manub commented on #38
I'm afraid I'm lacking a lot free time as well. I had a short go but stumbled across the fact Reactive Streams TCK requires TestNG and it's not straightforward to have an Embedded Kafka shared across all the tests which are running in parallel.

[2016-02-10 00:50] mjkrumlauf commented on #38
@manub @akauppi Check out this attempt at embedded Kafka.  I wasn't entirely successful but it might be of some help - https://github.com/mjkrumlauf/reactive-kafka/tree/embedded-kafka-test

[2016-02-10 06:41] kciesielski commented on #64
@manub @hepin1989 yes, `.setProperty` should work.

[2016-02-10 10:22] andreaferretti opened #74 "Change from Decoder to Deserializer"
I see that passing from version 0.8 to 0.9 the `ConsumerProperties` are changed to take a `org.apache.kafka.common.serialization.Deserializer` instead of a `kafka.serializer.Decoder`.

It seems that the `Deserializer` API is a little more general, but I would like to understand the rationale behind the change. Is it due to an upstream change - that is, Kafka 0.9 now takes `Deserializer`s instead o

[2016-02-10 10:55] kciesielski commented on #74
@andreaferretti with passing to 0.9 we wanted to get independent from Kafka itself and use only the new client API (`"org.apache.kafka" % "kafka-clients” % “0.9.0.0”`). The new client is recommended for accessing Kafka in 0.9, we also become lighter without pulling the whole Kafka library.

[2016-02-10 13:04] andreaferretti commented on #74
Thank you, I understand. I was a little puzzled why the new API requires a `java.util.Map` in the `configure` method, while until version 0.8 Scala was a first class citizen in Kafka world

[2016-02-10 13:04] #74 closed

[2016-02-11 10:57] andreaferretti opened #75 "Close resources when done"
Hello, I am trying to understand how to properly close the Kafka connection when done. According to the documentation, this is done by sending the message `com.softwaremill.react.kafka.KafkaActorPublisher.Stop` to the actor in charge of reading data from Kafka.

I see two issues with this, one minor and the other major.

The minor one is that there seems not to be a way to do cleanup when using th

[2016-02-17 11:56] hepin1989 commented on #64
@manub I means a shortpath:)

[2016-02-17 11:59] hepin1989 opened #76 "make a new release agains akka 2.4.2"

[2016-02-17 13:14] hepin1989 commented on #76
refs https://github.com/softwaremill/reactive-kafka/pull/77 for 0.8
refs https://github.com/softwaremill/reactive-kafka/pull/78 for master

[2016-02-18 23:51] henders commented on #76
:+1:

[2016-02-19 07:15] dbuschman7 opened #80 "Upgrade to Kafka Clients 0.9.0.1 for the next release."
Kafka patch 0.9.0.1 was released this past week

[2016-02-19 08:52] akauppi commented on #38
If you're interested, I've used [docker-it-scala](https://github.com/whisklabs/docker-it-scala) recently, with Kafka 0.9.0.0, with success. If reactive-kafka is okay having a dependence on Docker, for testing, that's a great encapsulated way to go.

Personally, I would see it as an optional way to test. Can propose a PR maybe next week, that would provide both that and the normal "I already have K

[2016-02-19 08:58] akauppi opened #81 "The New API ProducerProvider sample does not compile"
The code samples in https://github.com/softwaremill/reactive-kafka/blob/master/docs/NewAPI.md are not included in the project (at core/test/scala/examples), and the `ProducerProvider` sample does not seem to compile.

I was expecting that code + docs would be committed to `master` at the same time - if documents are referring to some sample, it should compile, right? Otherwise following the projec

[2016-02-19 09:23] akauppi opened #82 "Import could be included in the New API samples"
https://github.com/softwaremill/reactive-kafka/blob/master/docs/NewAPI.md

Currently, trying to copy-paste the Core code sample, leads one to needing to decide between two Consumer classes of reactive-akka:

<img width="677" alt="screen shot 2016-02-19 at 10 39 22" src="https://cloud.githubusercontent.com/assets/1297734/13170863/ffda757c-d6f7-11e5-9d51-6ff7156f1dc4.png">

There would be two ways t

[2016-02-19 09:37] cheleb opened #84 "Partitioner issue with Array hashCode"
AFAIU there is an issue with Partitioner

Branch 0.8:
Partitioner is a T => Option[Array[Byte]] but as Array.hashCode does not hash values, [it is not consistent for two arrays with same values](https://issues.scala-lang.org/browse/SI-1607) partitioner cannot work with [DefautPartitioner](https://github.com/apache/kafka/blob/0.8.2/core/src/main/scala/kafka/producer/DefaultPartitioner.scala).
I've

[2016-02-19 09:47] manub commented on #38
I'm not a maintainer of reactive-kafka but honestly I wouldn't tie it to Docker. Having an external dependency is worse than having to start the service IMHO.

[2016-02-20 15:19] 13h3r commented on #70
in master already

[2016-02-21 20:33] akauppi commented on #81
The easier thing to fix is the producer sample: either use `prop` instead of `props` or make the parameters into a tuple:

[code]

However, it would make sense to keep both consumer and producer samples consistent.

What I don't know is how to get the `provider` parameter for the graph sample.

[2016-02-21 20:42] akauppi commented on #5
Just noticed this while browsing the issues...

[2016-02-21 20:46] akauppi commented on #38
@manub I agree. @kciesielski has the [activator-reactive-kafka-scala](https://github.com/softwaremill/activator-reactive-kafka-scala) using an embedded Kafka + Zookeeper. It works well. So the task is simply to integrate that with the tests of reactive-akka?

[2016-02-22 14:54] kciesielski commented on #38
@akauppi Yes, however there were some obstacles when I tried to simply re-do the integration here. I must admit it's been a while ago and I haven't noted down what's the issue exactly...

[2016-02-23 10:13] akauppi commented on #82
There are pretty many APIs to reactive-kafka, at the moment. Is it the intention that one of these (the `kafka2` files) would remain, or all of them?

If all, then the pros and cons of different approaches should be explained somewhere, and the approaches be clearly separated in the code, e.g. by using namespaces (as already `kafka` and `kafka2` are separate, but maybe with more descriptive names?

[2016-02-23 13:03] #5 closed

[2016-02-23 13:44] 13h3r commented on #82
From my point of view we should keep only one API. This API should provide all functionality. I call it _low level API_.

On top of low level API we could build high level components with predefined behavior. Like consumer as `Source` without commit `In` at all.

@kciesielski what do you think?

[2016-02-23 16:48] #76 closed

[2016-02-23 16:48] #70 closed

[2016-02-23 16:49] 13h3r opened #90 "Automatically run unit tests for PRs"
We need to run unit tests for every PR. At least perform compilation.

[2016-02-24 10:24] akauppi opened #91 "Suggestion for README order"
(removed from PR #73 )

- project scope / purpose (is already there)
- Getting Started (new, includes requirements, how to run tests)
- Using (includes lines to add in `build.sbt`)
- Passing Configuration Properties to Kafka (as now)
- Controlling consumer start offset (as now)
- Working with actors (as now)
- Tuning (as now; could be called Configuration?)

[2016-02-25 11:31] kciesielski commented on #84
Indeed, this needs fixing. In the master branch, where we use 0.9 client library, partitionizer is defined as `V => Option[Int]` so it's OK. In the 0.8 branch we can change `KafkaProducer` to convert the byte array to a `List` before putting it in a `KeyedMessage`. This way we can preserve API backward compatibility.

[2016-02-25 12:22] #80 closed

[2016-02-25 12:24] kciesielski commented on #75
The package private accessor will be fixed in upcoming release. As for a better API, we are moving away from the actor-based implementation, so the next major release will contain a much better one (see https://github.com/13h3r/reactive-kafka/blob/wip/api-ideas/docs/NewAPI.md)

[2016-02-25 12:25] kciesielski commented on #32
Hi @hepin1989, I guess this issue can be closed? :)

[2016-02-25 12:31] #64 closed

[2016-02-25 13:01] hepin1989 commented on #32
yes,I think so,it's very old.

[2016-02-25 13:41] #32 closed

[2016-02-25 15:08] #75 closed

[2016-02-25 22:17] vishnusaran opened #93 "Expose ConsumerRebalanceListener or something similar so one can handle partition assignment changes"
Hi,

Kafka exposes ConsumerRebalanceListener to handle scenarios where application needs to know when the partition assignment changes. In my scenario, i am aggregating data from Kafka and every time a  partition assignment changes, i have reset the aggregation.
Is there way to expose the ConsumerRebalanceListener ReactiveKafka.consumer API?

Thanks!

[2016-02-26 09:35] kciesielski commented on #93
Hi, can you point me to some example of how a `ConsumerRebalanceListener` can be used with pure Kafka Client API? I'm not sure how we can fit this concept into reactive streams API.

[2016-02-26 15:44] 13h3r commented on #93
From my point of view we can add additional `Out` for consumer which will emit information about rebalancing. So we will have such `Outs`:
- messages
- commit confirmation
- rebalance events

[2016-02-26 15:54] vishnusaran commented on #93
In my scenario, I am building an in-memory aggregated cache which aggregates all the data in kafka. I am not committing any offsets, so when a rebalance is triggered, the consumer will start consuming from the smallest offset (auto.offset.reset = smallest) and rebuild the cache. If i don't know if a rebalance is triggered, then I won't be able to reset the cache and the cache will have invalid inf

[2016-02-27 02:01] 13h3r commented on #93
@vishnusaran do you want to completely reread all data from associated partitions or only from newly associated? What if some partition will be removed from client?

[2016-02-27 19:44] vishnusaran commented on #93
Since i do not commit the offsets, every time a  rebalance triggers, kafka will start sending data for all partitions starting from smallest offset (auto.offset.reset = smallest). So i this scenario, I will have to reset the cache. meaning i have reread all the data into the cache for all the partitions that i am currently assigned to.
ConsumerRebalanceListener has hooks to partition getting remov

[2016-02-28 02:12] 13h3r commented on #93
Right now we do not have any way to reset an offset of a running graph. We have only commit `In`. Correct solution IMO will be to restart a graph instance. But the graph instance owns instance of kafka client and we want to keep it. Right now I have no idea how to implement it in stream manner.

Also we can provide materialized kafka consumer to user and you can setup your handler. But you also ne

[2016-02-28 08:42] akauppi opened #94 "sbt core/test does not work on OS X"
With commit 445e45ca9340bf60c3aa45bd464cbf29387e84c0

[code]

causes exceptions and gets stuck. I'm running on OS X 10.11.3, with Kafka 0.9.0.0 via Homebrew unofficial package: https://github.com/Homebrew/homebrew/pull/48245

I haven't looked in detail to what could be wrong. I'm expecting `master` should always pass the tests, right?

1. Are others able to reproduce this
2. Is there something I c

[2016-02-28 14:44] 13h3r commented on #94
@akauppi tests in master should work. Could you tell which tests are broken? (away form my laptop now)

[2016-02-28 16:29] 13h3r commented on #94
I checked tests and they  works for me. Note, that it takes about 20 minutes to complete them on my laptop. Also not that you should allow to auto create new topics in kafka. I updated readme with this small detail.

[2016-02-28 16:34] akauppi commented on #94
The log of running the tests is included in the issue.

On 28 February 2016 at 18:29, Alexey Romanchuk <notifications@github.com>
wrote:

[2016-02-28 16:50] 13h3r commented on #94
There are a lot of errors in logs because a spec tests exceptional situations and a reaction to them.

As for me your log looks incomplete, because it should ends with summary. Like this:

[code]

Also I did not find any failures in log.

[2016-02-28 17:37] akauppi commented on #94
Ok, I was more patient this time and let the tests run.

You are right, eventually the summary comes up. Only one of the tests failed:

[code]

So I think the real problem was I'm just not used to tests showing stack traces on the log. Please check the above fail log and if it seems fine, I don't mind if you close the issue. The machine is Core i7 Macbook Air (mid 2011).

[2016-02-28 18:29] 13h3r commented on #94
What about rerun only this test?

[2016-02-29 08:24] tanjucat opened #96 "Locale is not handled properly"
When trying the Scala example in the Readme, we run into an error on some machines. The error message is below. It turned out that if the JVM local language is Turkish, which has different upper case for the lower case letter `i`, the result is a runtime error caused by `org.apache.kafka.clients.consumer.OffsetResetStrategy`. More specifically an `enum` constant `EARLİEST` is generated which does

[2016-02-29 11:13] giidox opened #97 "Ability to seek and add/remove partitions dynamically"
It would be useful to be able to dynamically seek partitions, and to add/remove partitions that are being read.

The API could be something like this

[code]

In the above suggestion, `KafkaFlowGraphStage` would remember the set of active partitions (those added but not removed), and call consumer.assign whenever the set changes. It would also need to seek to the given offsets for all added partit

[2016-02-29 12:36] kciesielski commented on #94
There are a few tests which take a very long time. They may need bumping timeout in settings. As @13h3r mentioned, some exceptions are expected on the output :)

[2016-02-29 16:49] akauppi commented on #94
Ok. Then the instructions on how to bump those timeouts could be clearly stated in the README.

It seems I'm ending my scouting on reactive-kafka, for now. Good luck with the project.

[2016-02-29 16:51] akauppi commented on #94
@13h3r Wasn't able to figure out which command reruns a single test in a multi-project setup.

[2016-02-29 17:51] vishnusaran commented on #93
Initially my idea was, if the ReactiveKafka.consume API allows one to plugin their own consumerRebalanceListenener, then i would shutdown the original graph and materialize a new graph for every partition rebalance (using akka FSM to manage the lifecycle of the running graph.)

Then @13h3r pointed out, that we can have multiple multiple outs in which case i can wire in the rebalance event into my

[2016-02-29 20:35] kciesielski commented on #94
@akauppi Thanks for all the input. Good point with adding information on test timeouts to the README. Looks like this "30000" reported in your output is not the timeout I was thinking about. I'm adding an issue to investigate this further.

[2016-02-29 20:36] kciesielski opened #98 "Add information about timeouts to the README"
As mentioned by @akauppi in #94, we need to have a better documentation on test timeouts and their configuration.

[2016-02-29 20:36] #94 closed

[2016-03-01 09:50] concerned3rdparty opened #99 "Instantiationerror when using with scala-logging"
After sbt assembly , when i try to run the app from jar , it gives the error below .Is this about dependency version conflict? Any suggestions for the problem?
dependencies:
libraryDependencies += "com.softwaremill.reactivekafka" %% "reactive-kafka-core" % "0.10.0"
libraryDependencies += "com.typesafe.scala-logging" %% "scala-logging" % "3.1.0"
libraryDependencies += "ch.qos.logback" % "logback-cl

[2016-03-01 10:12] 13h3r commented on #99
Looks like version of scala logging that we use in reactive kafka already deprecated. We use `  "com.typesafe.scala-logging" %% "scala-logging-slf4j" % "2.1.2"`, but now 3.1.0 available and artifact id named `"com.typesafe.scala-logging" %% "scala-logging"`.

@kciesielski I see no reason to keep this version and suggest to use new one. What do you think?

[2016-03-01 10:14] kciesielski commented on #99
@13h3r We kept `2.1.2` because `3.x` was not compatible with Scala 2.10. As we switched to Scala 2.11, we should also switch to `scala-logging` 3. However, until it's released, it looks like `reactive-kafka` users also have to work with `scala-logging-slf4j % 2.1.2` because `3.x` is not backward compatible. Unless there's some kind of bridge that I'm not aware of?

[2016-03-01 10:18] 13h3r commented on #99
Got it. First of all lets ensure that problem is in scala logging version.
@concerned3rdparty could you try to build it with `"com.typesafe.scala-logging" %% "scala-logging-slf4j" % "2.1.2"`?

[2016-03-01 10:26] kciesielski commented on #99
Ok, I'm preparing a PR in the meantime (https://github.com/softwaremill/reactive-kafka/pull/100)

[2016-03-01 10:40] kciesielski commented on #97
So, correct me if I'm wrong. Your use case would be then:
- A consumer has an `Out` which emits rebalance events
- You listen to this `Out` with your stage, capture these events, and then send a `PartitionSubscription` back to the consumer stage (a dedicated `In`)
- This will reassign partitions/offsets without needing to restart the whole stream
- Additionally, the consumer can have an `Out` whic

[2016-03-01 10:55] concerned3rdparty commented on #99
"com.typesafe.scala-logging" %% "scala-logging-slf4j" % "2.1.2" seems to work fine when running both from sbt and jar .

[2016-03-01 11:12] kciesielski commented on #99
@concerned3rdparty Doesn't that break your own logging code? Can you show some examples how you import/use scala logging?

[2016-03-01 12:20] giidox commented on #97
No, in my use case, I do not use auto-balancing.

According to https://kafka.apache.org/090/javadoc/org/apache/kafka/clients/consumer/ConsumerRebalanceListener.html, rebalance events are only sent if Kafka is set to auto-balance the partitions. The events are just FYI, i.e., the client should not call assign; Kafka has already reassigned the partitions. Calling assign actually disables auto-balanc

[2016-03-01 12:56] concerned3rdparty commented on #99
After a change in import statement , it worked for version "2.1.2".

import com.typesafe.scalalogging.slf4j.LazyLogging

object A extends  App with LazyLogging{
    logger.info("nothing")
}

[2016-03-01 16:10] concerned3rdparty opened #102 "com.softwaremill.react.kafka2 package missing"
When I fetched reactivekafka with the dependency below, i could not see kafka2 package under com.softwaremill.react. I wanted to use Producer.value2record method just to convert an integer list source to producerrecord.
libraryDependencies += "com.softwaremill.reactivekafka" %% "reactive-kafka-core" % "0.10.0"

[2016-03-01 16:24] 13h3r commented on #102
`kafka2` package is under development right now and not included in 0.10.0. You can build version from master to get new functionality.

[2016-03-01 16:24] #102 closed

[2016-03-01 16:31] kciesielski commented on #102
@concerned3rdparty It has been deliberately excluded from last release, it's an experimental and evolving part of the API.

[2016-03-08 12:19] #99 closed

[2016-03-08 12:20] 13h3r commented on #99
Please leave comment if any

[2016-03-08 12:25] 13h3r opened #103 "Road to the new API"
This issue describes what we have to do to release a new graph stage API.

All things that can be cut should be cut to be able to show the new API to public and get a feedback as soon as possible.

- [ ] Unit tests
  - [ ] Kafka consumer
  - [x] Kafka producer
- [ ] Integration tests
 - [ ] Kafka consumer
 - [ ] Kafka producer
- [ ] Migration
 - [ ] How to migrate
 - [ ] Documentation
- [ ] High l

[2016-03-11 14:19] patriknw opened #107 "failed: ReactiveKafkaIntegrationSpec"
https://travis-ci.org/akka/reactive-kafka/builds/115322053

[code]

That sleep(3000) is questionable. Why so long, when it's inside a `awaitAssert`?

[2016-03-11 14:56] 13h3r commented on #107
Also reproduced from time to time for me

[2016-03-11 15:23] kciesielski commented on #107
This tests reads [0,1,2,3,4,5] commits [0,1,2] and then closes the consumer, then opens new consumer connection with *the same groupId* in order to make sure that it reads [3,4,5]. We cannot start new consumer before closing the old one (they have the same groupId), that's why Thread.sleep(3000) is there.
I'm sure this can be written without all these stinky sleeps :)

[2016-03-13 17:24] atamborrino opened #110 "Apply backpressure per Kafka partition"
Hi,

I open this issue to discuss about a potential improvement.

For now, when we create a consumer, back-pressure is applied *per Kafka topic*. If the processing of a record of partition 1 is slow (via a .mapAsync for instance), this will block consumption for all other partitions. This can be mitigated by having several deployed clients with the same consumer-group, but I think we should allow

[2016-03-14 02:16] 13h3r commented on #110
@atamborrino thanks for the idea. Right now we are discussing how new API for reactive-kafka will looks like - akka/akka-meta#14 and akka/akka-meta#13.

In general I like your idea, but first we have to agreed how very basic API will looks like.

Also I worry about how pause/resume is implemented in kafka client. Client prefetches some data and if topic/partition is paused just drop this data whic

[2016-03-14 09:26] atamborrino commented on #110
@13h3r ok thanks for your feedback. Ok we'll wait first for the new basic API. In the meantime I'll dig into Kafka client pause/resume implementation to see if it really fulfil our needs.

[2016-03-14 09:39] 13h3r commented on #110
Also you may be interested in my question - https://mail-archives.apache.org/mod_mbox/kafka-users/201602.mbox/%3CCALOoMxw68yUgdrZpPrHT1FJLA+azTbxe=EuDhiYjtHPbrgQd4Q@mail.gmail.com%3E

[2016-03-15 09:56] 13h3r commented on #90
done with travis

[2016-03-15 09:56] #90 closed

[2016-03-15 09:57] #81 closed

[2016-03-16 16:04] 13h3r commented on #110
I like API which can provide Source[(TopicInfo, Source[Messages])] because it also exposes dynamically assigned partitions in a stream manner.

The problem here is in kafka client which is not thread safe. Partition related sources should coordinates somehow with one materialized kafka client and concurrently call pause/resume.

[2016-03-17 14:44] atamborrino commented on #110
Yep me too. But it will be ```Source[(PartitionInfo, Source[Messages])]```, is it not?

Concerning the implementation, when I thought about it with the actor / RS Source implementation, I was thinking of a main ActorPublisher[(PartitionInfo, Source[Messages])] which have the kafka consumer client and create a child actor ActorPublisher[Messages] per partition assigned, dynamically. Child actor can

[2016-03-17 15:28] 13h3r commented on #110
yes

AFAIU graph stage API is for complex shapes (like 3 in and 4 out with some complex semantic). Actor based API is another way to implement `Source` and `Sink`. @ktoso, @patriknw please confirm am I right about it or not.

I have another thought about backpressure per partition. Are multiple graphs solve this? If you can backpressure each partition then you should be able to process each partit

[2016-03-17 19:44] patriknw commented on #110
yes, we will use GraphStage for the implementation

[2016-03-17 23:27] danielwegener commented on #110
I can second this request. Back pressure per partition is important if one wants to `mergeSort` a view of the whole topic. I had this problem roughly a year ago when we needed a deterministic replayable (single) consumer that consumed all partitions in parallel (filtered 99% of the messages away) and then merge-sorted them by event-time and then grouped/aggregated the _realigned_ stream. Since mes

[2016-03-19 04:36] RayRoestenburg opened #114 "Format[T] instead of Kafka Deserializer, Serializer."
What do you guys think of having  the serializer and deserializer use type classes?

So basically
[code]

Becomes something like
[code]
I’ve found it unlikely to only use the Deserializer or the Serializer in an app, and it is convenient to define them both in one location, so I think a `Format[T]`is nicer (even for the purpose of testing your ser / deser):

[code]

Also, Kafka’s `Serializer` and

[2016-03-21 08:24] patriknw commented on #114
Thanks for the idea. Serialization is absolutely something I would like to look at. I was also thinking about if it would make sense to have integration with Akka serializers?

[2016-03-21 08:29] RayRoestenburg commented on #114
Yes, that could make sense too. The serialization support in Kafka is very minimal. If you could leverage the Akka serializers that would be great, Is the EventAdapters only for persistence BTW? I'm sure users will run into that at some point (several versions of serialized format) There is nothing like that I know of in Kafka.

[2016-03-21 08:32] RayRoestenburg commented on #114
I always liked the way unmarshallers etc work in spray, if the stuff is in implicit scope, it just works. Akka serialization also just works if you configure it right, little different maybe, but still. Being able to send a message to kafka and have the lib pick the right serializer by some rules is very nice I think.

[2016-03-21 09:40] atamborrino commented on #110
When you say "multiple graphs", you mean a graph source with multiple outlets? The problem of this is that the number of outlets is fixed, whereas the assignment / unassignment of Kafka partitions is dynamic. Hence I think a Source of Source models well this behaviour.

[2016-03-21 12:13] 13h3r commented on #110
No, I mean running multiple sources with multiple underlying kafka clients. Multiple kafka clients will be balanced by kafka.

[2016-03-21 13:30] atamborrino commented on #110
I don't think this is a good idea because in that case re-balancing between nodes will not be efficient: if we launch X clients on the first node (X = nbPartitions), we have backpressure per partition but I think launching 30 Kafka clients on a single node is an anti-pattern with bad performance.
Even worse, when you add a second nodes, this second nodes will not receive any partition to process a

[2016-03-21 13:57] 13h3r commented on #110
Agreed. Lets reject this idea

[2016-03-22 11:25] RayRoestenburg commented on #114
Just noticed kafka-3336 ..

On Mon, 21 Mar 2016 at 19:25, Patrik Nordwall <notifications@github.com>
wrote:

[2016-03-23 11:01] patriknw opened #116 "change package name"
com.softwaremill.react.kafka -> akka.kafka

[2016-03-23 11:11] patriknw opened #117 "remove dependency to scala-logging"
less dependencies is better

[2016-03-24 06:01] saurabhdaftary opened #118 "Manual commits are not handled appropriately after a consumer rebalance"
May be I am missing something but this is the behavior I am observing with 0.9.0 reactive-kafka when using ```consumerWithOffsetSink```:

On a consumer rebalance say when you happen to add a new consumer node the old consumer still keeps committing offsets to partition it no longer holds after a rebalance.

The rebalance seem to work ok from brokers point of view - on running ConsumerGroupCommand

[2016-03-25 03:19] #103 closed

[2016-03-28 22:05] gzoller opened #120 "Stream source from example code isn't working for me (0.11.0-SNAPSHOT)"
Hello,

Trying to adapt sample code in test but not successful.  I'm using this as a producer:

    val kafka = new ReactiveKafka()
    val producer = ReactiveKafkaProducer[Array[Byte], String](ProducerProperties(
      bootstrapServers = "192.168.99.100:9092",
      topic = "lowercaseStrings",
      valueSerializer = new StringSerializer()
    ))
    producer.producer.send(new ProducerRecord("low

[2016-03-28 23:31] gzoller commented on #120
More details:  Running Kafka version 0.8.2.1 and Akka 2.4.2.

[2016-03-29 02:26] 13h3r commented on #120
Version 0.11 uses client for kafka 0.9. Could you try it on kafka 0.9.0.1?

[2016-03-29 13:35] gzoller commented on #120
Bingo.  That worked cleanly.  Aaaaand.... there was a note to that effect in the readme.  My bad, sorry.
This looks like an exciting project.  Look forward to its ongoing evolution.

[2016-03-29 13:35] #120 closed

[2016-04-01 12:27] #116 closed

[2016-04-01 12:28] patriknw opened #123 "revive benchmarks"
add benchmarks for the new api, the old benchmark code was removed in https://github.com/akka/reactive-kafka/pull/121

[2016-04-01 12:29] patriknw opened #124 "timeout in IntegrationSpec on Travis"
this test is currently ignored: https://github.com/akka/reactive-kafka/blob/master/core/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala#L144

[2016-04-01 12:30] patriknw opened #125 "add more integration tests"

[2016-04-01 12:30] patriknw commented on #125
https://github.com/akka/reactive-kafka/blob/master/core/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala

[2016-04-01 12:30] patriknw opened #126 "add javadsl"

[2016-04-02 00:43] #118 closed

[2016-04-03 18:38] gzoller opened #129 "[0.11-M1] Crashing with large flows"
I'm seeing a crash with large flows.  My consume code is given here:

    count = 0
    val consumerSettings = ConsumerSettings(as, new ByteArrayDeserializer, new StringDeserializer, Set("lowercaseStrings"))
      .withBootstrapServers("192.168.99.100:9092")
      .withGroupId("group1")
      .withProperty(ConsumerConfig.AUTO_OFFSET_RESET_CONFIG, "earliest")

    val graph = RunnableGraph.fromGrap

[2016-04-03 19:10] patriknw commented on #129
thanks

[2016-04-04 13:02] kciesielski commented on #118
Fixed in 0.10.1

[2016-04-05 10:31] 13h3r commented on #110
Also, we may be interesting to expose stream per-partition. Partition are used to limit processing scope and it is possible to perform windowed operations on per partition basis. Could we expose `SubFlow` from kafka consumer?

[2016-04-06 17:12] l15k4 commented on #129
Hey, I get this error too on flow with 10 elements, it doesn't happen always though, it's sort of non-deterministic... Repro :

[code]

[2016-04-06 17:46] l15k4 commented on #129
I just tested that with `0.11-SNAPSHOT` and it works! :+1:

[2016-04-06 19:14] patriknw commented on #129
Thanks. I think I'll cut a new milestone at the end of the week

[2016-04-11 06:45] #129 closed

[2016-04-11 12:45] atamborrino commented on #110
A ```Subflow``` could do the job instead of a ```Source[Source]```, but in that case the api user can not react to the assignement/unassignement of partitions, can he?

[2016-04-11 15:04] brunofitas opened #132 "Consumer crashes when receiving inappropriate data"
It looks like the Consumer is crashing when fed with inappropriate data.

To reproduce the issue, create a Consumer with a ByteArrayDeserializer:

[code]

Create a producer

[code]
Publish a byte array to the topic

[code]

Everything works fine.
Now, add a producer with a StringSerializer

[code]
and publish a String to the topic

[code]
The Consumer will stop working and will not recover from th

[2016-04-11 15:40] patriknw commented on #132
thanks

[2016-04-12 08:35] patriknw commented on #132
@brunofitas I can't reproduce the issue. Tried exactly your code. Used a consumer:
[code]

arrays are emitted by println, also for the published string.

[2016-04-12 08:43] patriknw commented on #132
I found another way to reproduce a maybe related issue. I created a topic with `StringSerializer` and then used an `IntegerDeserializer` for the consumer, and published strings. Then I see this in the log, repeated over and over:
[code]

I don't know what to do about that.

Note that topics are auto-created on the first send, and it looks like that initialization matters for the type of topic. Tha

[2016-04-12 08:49] #117 closed

[2016-04-12 08:57] 13h3r commented on #93
The API is proposed here - #133

[2016-04-12 09:01] patriknw commented on #114
Another thought, perhaps we should not build the serialization on top of kafka-clients interfaces. Instead serialize/deserialize as a `map` stage of the ordinary stream and keep the consumer/producer serializer as the primitive `Array[Byte]` (and `String`, `Integer`) serializer.

Then you can make serializers that are usable in other contexts. Then you can also perform serialization in parallel (p

[2016-04-12 11:47] kciesielski commented on #96
@tanjucat We allow passing any string-string pair to settings, apparently Kafka client does some uppercasing and enum generation for some cases. I don't think we are going to handle this in our library, this looks like an issue to be reported in [`kafka-clients`](https://issues.apache.org/jira/browse/KAFKA/component/12315218/?selectedTab=com.atlassian.jira.jira-projects-plugin:component-issues-pan

[2016-04-12 11:47] #96 closed

[2016-04-12 12:03] tanjucat commented on #96
Thanks @kciesielski . I just reported the issue in `kafka-clients`.

[2016-04-12 12:04] 13h3r commented on #50
done in 0.11

[2016-04-12 12:04] #50 closed

[2016-04-12 12:05] RayRoestenburg commented on #114
Yes, in general, though I think you found another improvement there I
didn't think of! Sounds good.

On Tue, 12 Apr 2016 at 11:01, Patrik Nordwall <notifications@github.com>
wrote:

[2016-04-12 12:13] patriknw commented on #114
Which also means that this is not an issue for this project, but should be included in Akka or another library. We might also need some new serialization abstraction for the new Akka remoting (based on streams). Do you agree? Can we close?

[2016-04-12 13:24] brunofitas commented on #132
I didn't want to complicate, so I used "Ping".getBytes() in the example. It looks like that is written in the same way on the kafka_topic than the string. I assumed it was going to fail.
In my code, I'm getting the byteArray from an avroRecord, and if I send anything else to the topic, it crashes the consumer, even before trying to de-serialize it. Nothing gets to the consumer and there is no warn

[2016-04-12 14:03] RayRoestenburg commented on #114
Yes you can close

On Tue, 12 Apr 2016 at 14:13, Patrik Nordwall <notifications@github.com>
wrote:

[2016-04-12 14:11] patriknw commented on #114
thanks

[2016-04-12 14:11] #114 closed

[2016-04-12 17:33] brunofitas commented on #132
Ok, I was feeding Strings into a custom deserializer ArrayByte to case class with Avro and I was having a "java.io.EOFException" in silence.  Any errors inside  Consumer.atMostOnceSource(consumerSettings.withClientId(topic)).runForeach(m => { ... }) were passing unnoticed and made the consumer crash without warning.
"CommittableMessage.value" has always the consumer deserializer type, even if the

[2016-04-13 05:09] 13h3r opened #135 "Now way to perform correct shutdown"
There is no way to perform correct `Consumer` shutdown in the current API.

Pseudocode to illustrate:

[code]

The code above starts stream processing. Now there is only `control.stop()` to shut down the `Consumer`. This method waits for no commits in progress and shut down kafka consumer regardless messages processed by my async task.

With this semantic there is no way to perform correct shutdow

[2016-04-13 06:49] patriknw commented on #132
I'm not sure we can do anything about this. At least in the example I used with Integer it was captured before reaching our consumer. We should look into this more, but it doesn't feel urgent. Any help is welcome.

[2016-04-13 09:54] patriknw commented on #135
ok, I'm not sure that timeout is needed.

We can rename existing `stop()` to `shutdown()` (aligned with `ActorMaterializer.shutdown`) and use `stop()` for this new "stop reading from Kafka" feature. Then you can call `stop()` followed by `shutdown()` and you control the time between those calls.

WDYT?

[2016-04-13 10:22] kciesielski commented on #135
@patriknw Do I understand correctly that this means using `Control` in following manner:
[code]
Or maybe we should return `Futures` from both `stop()` and `shutdown()`? By the way, I'm curious why `ActorSystem` has an async `terminate()`, when `ActorMaterializer` only has a `shutdown(): Unit`?

[2016-04-13 10:27] patriknw commented on #135
yes, we should return futures from these things
you can use `akka.pattern.after` or ordinary scheduler instead of `Await`

[2016-04-13 10:56] 13h3r commented on #135
So lets rename `stop` -> `shutdown` and introduce `stop` with new semantic.

[code]

I can not figure out why do we need both `stop` and `stopped`. Do we need to keep `stopped`? //cc @drewhk

[2016-04-13 15:52] patriknw commented on #135
`stopped` (to be renamed to `isShutdown`) corresponds to a getter for the state, note that it can be shutdown for other reasons, e.g. cancelation from downstreams

[2016-04-13 15:52] patriknw commented on #135
can you fix this @13h3r, thanks

[2016-04-14 10:04] 13h3r commented on #93
What we need to have:
- be notified that kafka assign partition to consumer and way to instantiate it. Some user actions may be performed too.
- be notified that kafak revoke partition and close previously instantiated source. Some user actions may be performed too.

[2016-04-19 12:18] #135 closed

[2016-04-27 09:18] cheleb commented on #84
Just by upgrading the dependency to 0.8.6 I encountered an classcast exception ( LIst[Byte] does not fill well in an Array[Byte] :) during key serialization.
AFAIU now when providing partition hint I must also change the key encoder with an Encoder[List[Byte]] implementation ( just returning toArray ).

[2016-04-27 10:46] kciesielski commented on #84
@cheleb Right, changing the encoder should help. However, I hoped that we can this problem with `hashCode` without requiring any changes by library users. I wrote a failing test now and I'm working on a fix.

[2016-04-27 11:33] kciesielski commented on #84
@cheleb Can you test now with 0.8.7-SNAPSHOT?

[2016-04-27 12:32] cheleb commented on #84
It works perfectly with 0.8.7-SNAPSHOT (3e8cf0d5f0d4b78c8a761e924a48b50391dff480)

[2016-04-28 10:40] kciesielski commented on #84
Thanks @cheleb. 0.8.7 is now available.

[2016-04-28 10:40] #84 closed

[2016-04-28 14:40] kai5263499 opened #138 "2.10 build?"
I could really use a 2.10 release of this library to use it in a project I'm working on

[2016-04-28 16:08] patriknw commented on #138
That would require Akka 2.3, so that is not an option for the latest versions of this library.

[2016-04-29 08:17] dlynam01 opened #140 "Kafka Regex for Whitelist or Blacklist isn't working for 0.9.x"
I'm attempting to stream from a number of topics using a white list on v0.10.1 . I've configured the ConsumerProperties and have supplied a regex as my topic. The scala doc in the consumerProperties says that it only supports whitelist "This topic is a whitelist only but can change with re-factoring below on the filterSpec"

This scala doc is incorrect. The subscribe() function that is called  und

[2016-04-29 12:15] evans-ye opened #141 "Manual commits are not handled appropriately after a consumer rebalance in 0.8 branch"
Hi all, I've looked into #118 and I'm experiencing the same issue on 0.8.3 as well. I believe the issue hasn't been fixed in 0.8.8 yet. The following is my investigation:

Consider that a consumer originally owns 2 partitions. The partitionOffsetMap and committedMap currently are:
partitionOffsetMap("a.1" -> 5, "a.2" -> 10)
committedOffsetMap("a.1" -> 5, "a.2" -> 10)

When rebalanced, "a.2" has be

[2016-04-29 15:07] mateusduboli opened #142 "Version 0.8.7 is not compatible with 0.8.6"
The version `0.8.7` is using the new package structure, namely `akka.kafka`, were as version `0.8.6` uses the old package structure `com.softwaremill.react.kafka`, this is wrong according to semver specifications, and will generate lots of issues during upgrade.

[2016-04-29 15:16] patriknw commented on #142
That looks very wrong. Was 0.8.7 released from wrong branch, @kciesielski ?
The `0.8` branch still looks correct.
https://github.com/akka/reactive-kafka/tree/0.8/core/src/main/scala

[2016-04-29 15:26] kciesielski commented on #142
@mateusduboli @patriknw I just downloaded and unzipped 0.8.7 from Maven Central (https://repo1.maven.org/maven2/com/softwaremill/reactivekafka/reactive-kafka-core_2.11/0.8.7/). Looks like it's all fine (`com.softwaremill.react.kafka`).

[2016-04-29 15:28] kciesielski commented on #142
Ok I got it. The GH release is on the master branch, so if you're downloading zip with sources from GitHub, you're gonna get code for 0.11. I'll fix this.

[2016-04-29 15:28] #142 closed

[2016-04-29 17:16] patriknw commented on #142
Ok, i think i looked at the 0.8.7 github tag and the content was wrong, but perhaps it was me that was wrong

[2016-04-29 19:09] kciesielski commented on #142
The tag was incorrect and I fixed it. The jar, however, was released from
the correct branch.
On Apr 29, 2016 19:16, "Patrik Nordwall" <notifications@github.com> wrote:

Ok, i think i looked at the 0.8.7 github tag and the content was wrong, but
perhaps it was me that was wrong

—
You are receiving this because you modified the open/close state.

Reply to this email directly or view it on GitHub
<

[2016-04-29 19:13] patriknw commented on #142
Ok, thanks!

[2016-04-30 12:43] 13h3r commented on #110
There is discussion about this in PR - https://github.com/akka/reactive-kafka/pull/139

[2016-04-30 12:43] #138 closed

[2016-04-30 12:44] 13h3r commented on #82
Current readme contains all imports

[2016-04-30 12:44] #82 closed

[2016-04-30 12:45] #58 closed

[2016-04-30 12:46] 13h3r commented on #51
Looks like we done with this

[2016-04-30 12:46] #51 closed

[2016-05-01 16:48] atamborrino commented on #110
Great!

[2016-05-04 10:05] julianhowarth commented on #141
We're seeing this issue on the 0.8 branch too

[2016-05-05 07:40] kciesielski commented on #141
@evans-ye Thank you very much for this deep analysis. I'm working on this issue now.

[2016-05-05 08:05] evans-ye commented on #141
The PR https://github.com/akka/reactive-kafka/pull/144 is the fix in our private branch to unlock our project progress.

[2016-05-05 22:19] tdrozdowski commented on #132
So I'm running into this issue as well.  In my case, I have a specialized serialize that serializes into case class via JSON (using Spray-JSON).  Works great - until someone puts some garbage data into the topic.  Then its an infinite loop as the poller keeps trying to deserialize the garbage into my code, which explodes.  I've played with a few ways in which to trap this error - but I keep windin

[2016-05-10 10:15] patriknw commented on #132
I acknowledge that this is problem, but I don't know how to solve it, so suggestions are welcome.

[2016-05-12 05:58] kciesielski commented on #141
Fixed in #144, released with 0.8.8

[2016-05-12 05:58] #141 closed

[2016-05-12 11:40] kciesielski commented on #38
@manub I managed to run tests with your library after some tweaks (https://github.com/manub/scalatest-embedded-kafka/pull/12)

[2016-05-12 13:32] nafshartous commented on #125
@patriknw  I'd like to see if I can help.  Did you have any specific test cases in mind ?

[2016-05-12 13:38] patriknw commented on #125
That help is very much appreciated.
It's very thin at the moment so any scenario you can think of would be great addition. You can perhaps get inspiration from the examples, and port some of those scenarios overt to tests. https://github.com/akka/reactive-kafka/tree/master/core/src/test/scala/examples

[2016-05-12 13:56] manub commented on #38
@kciesielski I released version `0.5.0` - should appear on Maven Central soon.

[2016-05-13 05:45] patriknw commented on #38
sounds promising, thanks

[2016-05-16 09:34] patriknw commented on #126
I'll do this now

[2016-05-17 14:06] l15k4 opened #147 "Performance issue"
Hey,

I was following the samples in Readme and they work although they are insanely slow, it takes 17 seconds to pipe 100 messages from topic1 to topic2 and 125 seconds with 1000 events

https://gist.github.com/l15k4/5cdd6be19ec2fcb9a3a32c23f0f6866c

I tried that with `docker run --rm -p 9092:9092 -p 2181:2181 spotify/kafka` instead of the embedded one...

Am I doing something wrong? Or is it a m

[2016-05-17 19:26] patriknw commented on #147
Thanks for trying that and reporting. Validating performance is indeed something we must do before a final release, see #123

[2016-05-17 23:10] l15k4 commented on #147
@patriknw  I found that the bottleneck is the consumer :
https://gist.github.com/l15k4/5cdd6be19ec2fcb9a3a32c23f0f6866c#file-reactivekafkasuite-scala-L54-L58

which is consuming 5 messages per second. The Producer and "pipe" is super-fast and finishes quickly but the Consumer is super slow and even after all messages are emitted it goes 5 messages/sec...

[2016-05-18 08:47] patriknw commented on #147
I can understand that offset committing is slow, and that is why batching of commits should be used. It's anyway important that the single commits are decent. 5 messages per second is not decent. 125 is also really bad.

[2016-05-18 13:38] kciesielski commented on #147
Just for the record: I modified the gist a bit in order to make sure we're only measuring the final consumer: https://gist.github.com/kciesielski/8a07f1562d25e497bdb5b22d1c71b55c
Running on my local machine gave following results:
With embedded Kafka:
plainSource 100m/2s, 1000m/2s
atMostOnceSource 100m/5.5s, 1000m/13s

With local Kafka:
plainSource 100m/0.4s, 1000m/0.4s
atMostOnceSource 100m/2s, 1

[2016-05-18 17:20] avakhrenev commented on #147
Note that you can't fetch more than `max.partition.fetch.bytes` * `partitionCount` / `pollInterval` bytes per unit of time. I would suggest to set `pollInterval` to zero and try again.

[2016-05-18 17:43] l15k4 commented on #147
Ok, I changed to `flozano/kafka:0.9.0.0` and `IN -> topic1 -> topic2 -> OUT` now performs 25 000 m/s with plainSources ... sorted out, thank you !

[2016-05-18 17:43] #147 closed

[2016-05-19 06:53] kciesielski commented on #147
@l15k4 Is `flozano/kafka:0.9.0.0` some custom docker image? By the way, the newest version of Kafka is 0.9.0.1, it may contain some performance fixes.

[2016-05-19 08:21] l15k4 commented on #147
@kciesielski yeah https://github.com/flozano/docker-kafka ... They have a bug in the `latest`/`0.9.0.1` build. I'm building my own image as there is no image out there that would bundle ZK and one could easily change server.properties, which is implemented here https://github.com/wurstmeister/kafka-docker/blob/master/start-kafka.sh#L29-L40

[2016-05-19 08:28] kciesielski commented on #147
@l15k4 Interesting, is that a bug in Kafka itself or just a bug in docker image?

[2016-05-19 08:31] l15k4 commented on #147
@kciesielski In the image https://github.com/spotify/docker-kafka/pull/34#issuecomment-220063939

[2016-05-19 08:34] kciesielski commented on #147
I see, thanks :)

[2016-05-19 13:36] #38 closed

[2016-05-20 10:57] #126 closed

[2016-05-22 20:20] patriknw commented on #38
@kciesielski @13h3r please set the milestone on the issues when closing so we have some track of what goes into which release, thanks

[2016-05-23 05:28] kciesielski commented on #38
@patriknw Sure.

[2016-05-23 15:48] sebastian-alfers opened #152 "Error UNKNOWN_MEMBER_ID and ILLEGAL_GENERATION"
I upgraded from 0.10 to latest branch 0.11.M3 and get the following errors:

2016-05-23 16:13:54.791 [Writer-akka.kafka.default-dispatcher-18] ERROR o.a.k.c.c.i.ConsumerCoordinator - Error ILLEGAL_GENERATION occurred while committing offsets for group MyConsumerGroup

2016-05-23 16:15:00.656 [Writer-akka.kafka.default-dispatcher-77] ERROR o.a.k.c.c.i.ConsumerCoordinator - Error UNKNOWN_MEMBER_ID o

[2016-05-23 15:54] nafshartous commented on #125
@patriknw  I've reviewed the examples against the current integration tests so as not to overlap.
Seems like the examples where the producer batches could be ported.  Was also wondering about testing any behaviour specific to the producer batching.  For instance, does the batching cause a delay in messages being visible to a consumer ?

[2016-05-24 11:15] patriknw commented on #125
Note that the examples are not tested, so feel free to copy them to an integration test also where it makes sense.

batching is for the commits to the consumer, right?
e.g. you consume msg 1, 2,.. 10, and then commit all of them in one batch instead of one-by-one.
Such a tests should verify that when restarting the consumer it will see 11 as first message.

[2016-05-26 07:46] robertomoreno opened #153 "Multiple Kafka consumers in the same Akka stream graph not working"
Just trying to create a graph with multiple consumers sources like this:

[code]

But no no messages are consumed and after a seconds this logs are thrown (a number of lines equals to the KAFKA_NUMBER_PARTITIONS - 1):

and logs in kafka broker are:

If n streams are runned instance of using a graph all works as expected, like this:

[code]

[2016-05-30 07:06] rgarciate opened #154 "Way to create reusable producers"
I've going over the reactive-kafka code and I have seen that a KafkaProducer is created everytime in flow method (akka.kafka.scaladsl.Producer, line 54 [https://github.com/akka/reactive-kafka/blob/ff5cf9d84904a0ecbb5246c9bce4784593bc9ffd/core/src/main/scala/akka/kafka/scaladsl/Producer.scala#L54 ]).
Creating one Producer everytime that a Flow is created has hard impact on performance.
Maybe there

[2016-05-30 17:34] nafshartous commented on #125
I have this in progress on a local branch (nafshartous-125).  Would I be given write permission at some point to push the branch in order to create a pull request ?

[2016-05-30 17:48] patriknw commented on #125
@nafshartous That is great. Please create a fork in your github account and then you can submit a pull request from your fork to akka/reactive-kafka

[2016-05-31 10:08] antoinetran commented on #65
Hi, we also have this issue, but with 5 minutes delay instead of 10. We found that the config "metadata.max.age.ms" with 3000ms correct this bug. Is it really a bug? Can you confirm this? Thank you.

[2016-06-05 19:51] l15k4 opened #155 "Not specifying group.id causes error"
Hey,

why is specifying consumer `group.id` mandatory in reactive-kafka? Not doing so leads to :
[code]
It can be reproduces even on the README examples if you remove `group.id` ...

I don't use any offset management

[2016-06-06 02:51] 13h3r commented on #155
Could you please post full example?

[2016-06-06 11:23] l15k4 commented on #155
@13h3r   https://gist.github.com/l15k4/8f09b62f41eef019d07051798c495064

It only works if you add `.withGroupId("group1")` to consumer settings.

[2016-06-08 07:35] seanyinx opened #156 "Consumer is not able to receive messages from Kafka produced with reactive Kafka Producer"
Without restarting embedded Kafka in each case of unit testing, reactive Kafka consumer is only able to receive message produced by reactive Kafka producer in the first case but not the rest and those messages produced can all be seen in Kafka log.

However, if embedded Kafka is restarted in each case, this issue disappears. If a Kafka producer created from ProducerSettings is used to send message

[2016-06-08 08:46] kciesielski commented on #156
Thanks for reporting this. As a workaround, can you consider switching from `"com.github.charithe" % "kafka-junit" % "2.1" % "test"` to https://github.com/manub/scalatest-embedded-kafka? This is the library we use in our tests, it has a very similar API.

[2016-06-12 02:27] seanyinx commented on #156
thank you for providing the kafka unit testing library.

i updated my project with the library you provided above, but the tests seem to have the same issue running with this library too.

you may see the changes here: [reactive-kafka-unit](https://github.com/seanyinx/reactive-kafka-unit)

[2016-06-12 14:25] glacier3 commented on #156
Hi @kciesielski

Thanks for your hard work on this great project.

I'm also encountering the same issue as @seanyinx ,  here is my code,
` final ActorSystem system = ActorSystem.create("searchIndexAkkaSystem");
        final LoggingAdapter logger = system.log();
        final ConsumerSettings consumerSettings = ConsumerSettings.create(system, new StringDeserializer(), new StringDeserializer(),

[2016-06-12 14:31] glacier3 commented on #156
I have written a ruby testing code with gem https://github.com/zendesk/ruby-kafka

it works without any issue, here is the code:

[code]

[2016-06-12 14:38] nafshartous commented on #125
Here's an update.  I've added two tests to IntegrationSpec.scala on my fork based on some of the batching examples

[code]

and have a few questions if anyone could provide input.  On successive test runs I'm seeing javax.management.InstanceAlreadyExistsExceptio\
n: kafka.consumer:type=app-info,id=client1-43172491-b8a8-4429-b5b5-27f02e7f0983  This does not seem to affect the tests though maybe som

[2016-06-13 09:11] lapminglee opened #157 "Source.actorPublisher does not recognize actors created using the ActorDSL"
When I use ActorDSL to create a stream, it doesn't recognize the actor

I am using SBT:  `"com.typesafe.akka" %% "akka-stream-kafka" % "0.11-M3"`

[code]

[code]

[2016-06-13 10:35] ktoso commented on #157
Thanks for reporting.

1) Please don't write Publishers. Really, they're VERY LOW LEVEL and you'll more likely than not get their implementation wrong. Please use `GraphStage` instead.
2) I'm not sure we care about ActorDSL that much to be honest... It hasn't been used by that many people in recent years.

[2016-06-13 12:21] l15k4 commented on #155
Guys any update on this? Am I doing something wrong?

[2016-06-13 12:28] kciesielski commented on #155
@l15k4 groupId seems to be mandatory for Kafka 0.9.0.x consumers https://issues.apache.org/jira/browse/KAFKA-2648 so you have to set it with Reactive Kafka too.

[2016-06-13 13:38] l15k4 commented on #155
@kciesielski Thanks!

[2016-06-13 13:38] #155 closed

[2016-06-13 13:51] kciesielski commented on #156
@seanyinx When you start your producer stream with `.run()`, you immediately initialize a consumer stream. The consumer connects first before the producer creates the topic and this causes your problem.
See my PR https://github.com/seanyinx/reactive-kafka-unit/pull/1 with tweaks. Feel free to reopen this issue if such problems keep appearing after adhering to fixes recommended in the PR.

[2016-06-13 13:51] #156 closed

[2016-06-14 11:05] patriknw commented on #157
I think that can be written as a `Source.queue` followed by stateless `map` that performs the avro conversion. If it must be stateful you can use `statefulMapConcat`.

[2016-06-14 12:23] l15k4 opened #158 "Consumer won't read any message with auto.offset.reset=latest"
Hey,

I would expect the consumer to read 10 messages. But instead it doesn't read any message and it waits. I'm using freshly started kafka 0.9.0.1 container.

https://gist.github.com/l15k4/29c816f3a773c38dc8d594457de8fa26

Basically this behavior prevents people from using auto.offset.reset=latest entirely.

[2016-06-14 13:23] kciesielski commented on #158
In the gist you start producer and consumer stream at the same time. It is possible that your consumer connects after the stream gets populated by producer. What happens if you add a sleep before `val sf`?

[2016-06-14 13:25] l15k4 commented on #158
Hey @kciesielski,

I tried to put `Thread.sleep(1000)` in between P & C, but it is the same outcome...

[2016-06-14 13:25] kciesielski commented on #158
Sorry, I meant:
1) put consumer stream initialization first
2) add sleep
3) start producer stream

[2016-06-14 13:33] l15k4 commented on #158
That works, but then it would be hard to implement a consumer consuming topic with existing messages and leverage `auto.offset.reset=latest` ... One would need to start it with `auto.offset.reset=earliest` initially and then in case of restart/failure it would need to be started with `latest` ... Or what am I missing here ?

[2016-06-14 13:43] kciesielski commented on #158
`auto.offset.reset` is used if you connect to a topic when your consumer group hasn't committed any messages yet. If you use `auto.offset.reset=latest` and connect to a topic with existing messages, you will not consume these messages, only new messages that will appear after you connect. Then, if you need to reconnect, you will start from last committed position.

[2016-06-14 13:49] l15k4 commented on #158
Ah, forgive my kafka newbiness, thank you !

P.S. I'd test this stuff with the java client before reporting but it is such a lowlevel API ... Next time I will !

[2016-06-14 13:49] #158 closed

[2016-06-14 21:59] l15k4 commented on #158
@kciesielski Hey, since we opened this context ... Can I ask you how would you implement this relevant use case?

Having `Publisher` and N `Subscribers`, publisher cannot start publishing to a topic until it knows that all subscribers started consuming that topic ... What is the best way for it to get that information? ( without leveraging Zookeeper for instance) Does Kafka provide means to do tha

[2016-06-15 06:52] kciesielski commented on #158
@l15k4 This doesn't look like a use case for Kafka. PM me on Gitter and we'll talk about it. https://gitter.im/

[2016-06-15 17:48] jeroentervoorde commented on #152
We had the same errors and in our case it was caused by session timeouts in the consumer. The consumer buffers records which are then passed, on demand, up the stream. This makes it difficult to control the amount of processing time between polls (by default the timeout is 30 seconds)

We fixed it by upgrading to kafka-clients 0.10 and limiting the number of records read by the poll() in the consu

[2016-06-16 01:37] seanyinx commented on #156
thank you very much, it worked!

[2016-06-16 07:04] 13h3r commented on #152
This error is related to kafka client and not akka-kafka. As mentioned above try to reduce size of input buffers

[2016-06-16 07:04] #152 closed

[2016-06-16 14:10] nafshartous commented on #125
Also, if there are any useful API's for debugging and examining the state of Kafka I could dig into the intermittent failures further.

[2016-06-17 12:56] 13h3r commented on #154
I will implement this after #139 in the same manner

[2016-06-18 00:55] nafshartous commented on #125
Resolved the failures and created a pull request (https://github.com/akka/reactive-kafka/pull/159)

[2016-06-21 19:00] RodrigoLimasss opened #160 "Support version 0.10.0 of Kafka"
Hi guys.

In the Readme says "**New API: 0.11-M3 Supports Kafka 0.9.0.x**"

This client/driver supports the new version of Kafka 0.10.0?

Thanks

[2016-06-22 01:35] aselamal opened #161 "Error handling with new API"
Issue #41 described some examples of how to do error handling but Its unclear to me how to do this with the new API. One of the things I'm not sure on is how to get an actor reference out of the new API so I can make a supervisor actor.

So basically How to adapt the previous examples of error handling to the new API, or even another way of doing the error handling.

Here is how I'm creating my pr

[2016-06-22 05:35] kciesielski commented on #160
@RodrigoLimasss 0.9 client should work with 0.10 broker, so akka-kafka 0.11 should be compatible with Kafka 0.10. After some initial checks we see that it is so.

[2016-06-23 11:07] l15k4 commented on #155
@kciesielski What I still don't understand about making groups mandatory is that if you don't need groups then you don't need kafka to commit offset at all... Because committing consumer offset is needed  due to consumer groups... Otherwise single consumer is memoizing its offset itself.

So enforcing presence of consumer groups is enforcing consumer offset persistence on Kafka server...

My colle

[2016-06-23 11:15] kciesielski commented on #155
@l15k4 Setting group.id is a separate thing that setting whether you want to commit automatically or manually. I don't know why on python `group.id` is not mandatory while the Java client requires it. Maybe you can ask on Kafka Users mailing list (http://kafka.apache.org/contact.html)?

[2016-06-23 15:09] ErunamoJAZZ opened #162 "Using reactive kafka with other Reactive Stream APIs"
Hello.

I want use _Slick Streams_ with _Reactive Kafka_, because I need "broadcast" some data.

I made one consumer that consult in my DB a stream, and I flatten it, and tried to send  `ProducerRecord`.
This is a example code:

### Slick (Publisher to Source)
[code]

### Reactive Kafka:
[code]
This code compile, but does not execute. I have the next error:

### Error
[code]

Actually, Im very new

[2016-06-23 15:11] 13h3r commented on #162
Set client.id for performing commits. Call `withClientId` from `ConsumerSettings`

[2016-06-23 15:23] ErunamoJAZZ commented on #162
Wow, yeah. I was wondered if that was more complicated, hehehe.

The error message could suggest use `withClientId()` explicitly, imo.

Thank you very much!!

[2016-06-23 15:23] #162 closed

[2016-06-24 13:32] l15k4 commented on #158
Anyway, I started using `latest` because `earliest` most probably doesn't work in `reactive-kafka` as it should. If you look at this code :
https://gist.github.com/l15k4/442a7f6a493a828b528d838d5fb28c64#file-reactivekafkasuite-scala-L54-L63

Then the second start of the same client should imho start from offset `6` but it starts from `0`

[2016-06-24 13:46] l15k4 commented on #158
My bad, I didn't call `msg.committableOffset.commitScaladsl()`

[2016-06-24 20:58] xelax commented on #160
I compiled with kakfa 0.10.0 and there were a couple of small changes needed to take care of API changes and deprecations in the tests.
There is still a problem with the integration test since the dependency
 "net.manub" %% "scalatest-embedded-kafka" % "0.5.0" % "test"
does not have a 0.10.0 version yet, so the integration test fails.

[code]

[2016-06-27 06:23] kciesielski commented on #160
Another problem is that Kafka Broker 0.9.0 does not support client 0.10, so we want probably to hold these changes until the first release.

[2016-06-27 11:24] salex89 commented on #161
I want to contribute with the same question, only regarding the consumer. In a simple stream where a consumer takes a message and it is stored into a database or sent to API, if the database or API fails, I found no way to reconsume the message automatically. When the stream is restarted (manually, the whole app), the uncommited messages are consumed again. I would like to program this behavior. T

[2016-06-27 13:30] patriknw commented on #162
I think we are adjusting the settings api in upcoming version to make it clear what is mandatory.

[2016-06-27 15:50] patriknw commented on #160
@xelax @kciesielski Do I understand it correctly that we can make it work with 0.10 broker and still use 0.9 client library? Are there any changes that we need to do to make that work? I have heard some interest of using 0.10 broker.

[2016-06-27 16:15] kciesielski commented on #160
@patriknw That's how I understand it https://groups.google.com/forum/#!msg/confluent-platform/jdv10HahRd8/l-5twegkIAAJ
Probably some features won't be available (like timestamps).

[2016-06-27 16:43] iravid commented on #160
I'd just like to chime in and mention that a 0.10 client version would be very appreciated; the 0.9 of the Kafka client had some annoying bugs that wee fixed in 0.10 (spurious IllegalStateExceptions being thrown from the producer if retries are enabled, for example)

On 27 Jun 2016, 19:15 +0300, Krzysiek Ciesielski<notifications@github.com>, wrote:

[2016-06-28 02:45] 13h3r commented on #160
I see two ways right now:
- just publish two artifacts for 0.9 and 0.10
- use `provided` dependency for kafka

Sure it is possible only if APIs is compatible

[2016-06-28 04:36] iravid commented on #160
I assumed that since the 0.11 version of reactive-Kafka is still in flux and being developed, there are no compatibility guarantuees in effect and you'll be able to switch dependency versions at will :-)

Am I assuming wrong?

[2016-06-28 18:14] RodrigoLimasss commented on #160
Hi guys, I did a downgrade to Kafka 0.9.0 and reactivekafka client 0.10.0, it works fine.

I will wait the final version 0.11.0 to upgrade my Kafka to 0.10.0

Thanks

[2016-06-28 22:41] bfil opened #163 "Producing messages during broker restart throws UnknownTopicOrPartitionException"
I have a very simple producer that produces a message every second using the new API (0.11-M3):

[code]

Messages are dropped and not published during a broker restart.
It seems to be caused by temporarily outdated client metadata because it fails to be fetched.

This is a sample of the logs I'm getting by using the above producer (messages 5 to 10 are lost):

[code]

Is this the expected behavior

[2016-06-29 05:35] iravid commented on #163
If you need a workaround, you can get the underlying client to handle this with retries by setting the `retries` property on the producer settings.

Note that this can cause reordering of messages, so you'll also need to set `max.in.flight.requests.per.connection` to 1 to avoid that.

[2016-06-29 09:38] bfil commented on #163
The workaround seem to work fine, sometimes though I get the following exception, and the producer just dies:

[code]

[2016-06-29 09:55] iravid commented on #163
Yup. That's a known bug in the 0.9 version of Kafka that was fixed in 0.10: https://issues.apache.org/jira/browse/KAFKA-3147

Mentioned this in #160.

[2016-06-29 10:01] bfil commented on #163
Oh, I've read the issue but missed the comment about `IllegalStateExceptions` completely, well, that's annoying.. Thanks btw @iravid

[2016-06-30 11:12] l15k4 opened #166 "Consumer doesn't shutdown when using Stage that terminates stream"
Hey, I guess there is a bug in current Master branch related to stream termination. This stream :

[code]

yields `akka.kafka.KafkaConsumerActor$Internal$Stop$` dead letter which imho leads to hanging `KafkaConsumerActor` which would be otherwise stopped ... As a result, if you want to compose streams like this :

[code]

It gets stuck indefinitely in the second stream for some reason ...

[2016-06-30 14:33] 13h3r commented on #110
done

[2016-06-30 14:33] #110 closed

[2016-06-30 14:33] 13h3r commented on #93
done

[2016-06-30 14:33] #93 closed

[2016-06-30 14:34] 13h3r commented on #60
now you can assign whatever partition you want

[2016-06-30 14:34] #60 closed

[2016-06-30 14:36] 13h3r commented on #44
Do we really need thread management? Why not using streams operators?

[2016-06-30 14:37] 13h3r commented on #140
Now you can subscribe with pattern

[2016-06-30 14:37] #140 closed

[2016-06-30 20:01] jpeel commented on #153
I feel confident that this is fixed with the recent merging of PR #139, but it needs to be tested.

[2016-07-01 05:48] patriknw commented on #166
thanks for reporting, @l15k4

[2016-07-01 14:46] l15k4 commented on #166
Then there is a question in the air whether to explicitly stop & shutdown consumer stream when actor system terminates. My guess is that it shuts down implicitly on actor system termination but I've noticed of hanging kafka client-server connections if I didn't do this in my actors :
[code]
Wdyt?

[2016-07-01 20:12] jpeel opened #167 "Add the ability to pause a consumer if the internal buffer is above a threshold"
It would be really nice to set a threshold for the internal buffer size of consumers. With PR #139 merged in, the consumer is polled periodically and any new data is added to the existing internal buffer to be sent downstream upon request which is a great improvement upon how it previously worked where the consumer would only be polled if a pull was received from downstream. However, if data gets

[2016-07-02 02:57] 13h3r commented on #166
@l15k4 you can call shutdown directly. `stop` is just stops emitting messages and if you stream is completed (no transaction in progress) consumer will be closed automatically.

[2016-07-04 08:51] 13h3r commented on #163
@bfil in your example you set decider to `Resume`. So, in case of error akka stream just drop this message and process next one. In my opinion current behavior is correct. What do you think?

[2016-07-04 08:53] 13h3r commented on #167
@jpeel current implementation fetch data only for sources that has demand. If you do not have any demand no messages will be fetched during poll. Could you provide an example of continuously fetching?

[2016-07-04 08:56] 13h3r commented on #161
@aselamal could you specify what behavior you want to achieve?
@salex89 to reconsume the message you have to commit offset after your api calls. To achieve exactly one guarantee you need to update offsets together with your data in transaction manner

[2016-07-04 08:56] 13h3r commented on #153
Please test against master and reopen if needed

[2016-07-04 08:56] #153 closed

[2016-07-04 09:00] 13h3r commented on #132
Should we treat this as misconfiguration and jst fail in runtime because we have no ways to deal with it.

We can not drop messages because we want to indicate that there is some error happens. Also all this functionality can be easily done in userland by getting `Array[Byte]` and reacting on parsing error.

My position is to close this. WDYT, @kciesielski @patriknw @drewhk

[2016-07-04 09:00] 13h3r commented on #124
It works now

[2016-07-04 09:00] #124 closed

[2016-07-04 09:02] #44 closed

[2016-07-04 12:06] aselamal commented on #161
Hello @13h3r ,

I guess essentially what i'm trying to achieve is what to do if the initially configured kafka brokers go down. I want to be able to handle this by having a chance to look to see if any new brokers are available (checking with service discovery client) and then restart the producer sink with this configuration, also ideally if possible not losing any messages as they can buffer to

[2016-07-04 12:21] bfil commented on #163
@13h3r The retries setting does the trick, and failures can be handled manually if needed, so I guess this can be closed.

[2016-07-04 14:23] #163 closed

[2016-07-05 15:36] jpeel commented on #167
The current implementation (as of commit d3d50d1db105231d142d77eb0cfd85c36a96257b) polls after the first pull on the source and continues to poll every polling interval (config setting) unless there is a pull that initiates a poll before the timer has fired. I actually think that this is the correct way for it to run because the heartbeat is tied to the poll. Otherwise, there can be situations whe

[2016-07-05 16:12] 13h3r commented on #167
@jpeel pay attention that during every poll we pause partitions that does not demand new messages.

[2016-07-05 16:13] 13h3r commented on #167
https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/KafkaConsumerActor.scala#L156

[2016-07-05 16:46] jpeel commented on #167
Yes, I see now. I saw that line before, but missed the line where the topic partitions are removed from the partitions to fetch after a poll. Thank you for your replies and great work on this project. I'll close this issue.

[2016-07-05 16:46] #167 closed

[2016-07-05 19:03] xelax commented on #160
I fear that a fork might be needed to support kafka 0.10.0, since it would be nice to take advantage of the new timestamp API, but probably a lot of folks will be running kafka 0.9.0 for a while as well.

[2016-07-06 07:23] 13h3r commented on #160
I think we should move to 0.10 at least in master branch. We could easy provide a backport for 0.9 if someone requires it. WDYT @kciesielski @patriknw @drewhk?

[2016-07-06 09:32] StelaLeon opened #170 "Exception is not propagated on the stream when kafka is down"
When Kafka is down, there's no exception being propagated to the stream. I suspect the problem is with : https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/internal/ProducerStage.scala as with an implementation of by-passing this stage and implement it with a basic apache client it works just fine.

here is how i created my producer:
[code]
this will not record any E

[2016-07-06 10:15] #157 closed

[2016-07-06 10:17] 13h3r commented on #170
Looks like this is fixed in kafka client 0.10. Check this ticket for details - https://github.com/akka/reactive-kafka/issues/163

[2016-07-06 12:44] StelaLeon commented on #170
I am not sure I understand how those 2 issues are related. Actually I am using 0.11-M3 and I can still reproduce the issue.

[2016-07-06 12:44] patriknw opened #171 "automatic partition assignment not so automatic"
I tried the the automatic partiton assignment for a `committableSource`. Two partitions, one topic. Two consumers (different clientId and same groupId).

When I start both clients at the same time the two partitions are balanced as expected between the two clients. Then shutting down one of them, the rebalance doesn't work automatically, the remaining client continues to receive the original parti

[2016-07-06 13:56] patriknw commented on #160
I agree that we should use the latest in master.

[2016-07-06 14:56] 13h3r commented on #171
@patriknw could you share code snippet? Did you shutdown correctly? How long did you wait for rebalance?

[2016-07-06 14:57] 13h3r commented on #170
@StelaLeon looks like it was a bug in 0.9.x kafka client

[2016-07-06 15:48] patriknw commented on #171
I don't shutdown, I `ctrl-c` and expect that to work. I did some more testing now and it seems to solve itself after a while, I was not patient enough. Thanks for listening :)

[2016-07-06 15:48] #171 closed

[2016-07-06 16:56] xelax commented on #160
I also just noticed that https://github.com/manub/scalatest-embedded-kafka got updated to kakfa 0.10

[2016-07-07 02:50] nafshartous commented on #125
@13h3r  Following up on two open issues from the two new tests.

I tried to use ```Sink.ignore``` as you suggested to create a ```Future```
[code]
however the types don't work out.  The error is found ```Flow``` required ```Graph```.

[2016-07-07 02:56] nafshartous commented on #125
The second is regarding function ```consumeAndBatchCommit```, specifically how to know when the stream can be cancelled in the presence of batching ?

[2016-07-07 08:56] patriknw commented on #125
what if you try to add explicit return type for the `Future` (always a good idea anyway)

[2016-07-08 09:38] #160 closed

[2016-07-11 23:36] iravid opened #175 "Expose ConsumerRecord#timestamp on ConsumerMessage.Message"
As a followup to #174, it'd be great if the `timestamp` property of `ConsumerRecord` in kafka-clients 0.10 could be propagated onto `ConsumerMessage.Message` and its implementing traits.

This timestamp represents the when the record was written to the topic.

[2016-07-12 10:39] antongnutov opened #176 "KafkaConsumerActor failed at first poll()"
I'm trying to create a simple consumer with `pollTimeout` and `max.partition.fetch.bytes`:
[code]
Here is the log with error:

[code]

[2016-07-13 05:41] 13h3r opened #178 "Initialize offset to last committed offset when manually assigns partition"
`Subscriptions.assign` initialize offset to latest even when kafka has committed offset for given topc/parttion

[2016-07-13 10:30] 13h3r commented on #178
Looks like it is kafka client bug - https://issues.apache.org/jira/browse/KAFKA-3960

[2016-07-14 11:34] mazorigal opened #181 "allow manual commit with plainPartitionedSource"
Hi,

it would be nice to be able use manual commit to external storage using kafka rebalancing functionality.

based on the Exactly-once Kafka Dynamic Consumer via Subscribe (One and Only One Message Delivery) example:
https://dzone.com/articles/kafka-clients-at-most-once-at-least-once-exactly-o

also as described here:
http://kafka.apache.org/0100/javadoc/org/apache/kafka/clients/consumer/KafkaCo

[2016-07-15 03:16] 13h3r commented on #181
The problem here is absence of API to set offset after partition is assigned. All other cases may be handled with partitionedSources

[2016-07-15 05:13] 13h3r commented on #175
#177 will fix it

[2016-07-17 18:43] sasajib commented on #166
Hello, is there any update ? I am also facing this problem.

[2016-07-18 02:53] 13h3r commented on #166
@sasajib I am not sure what is expected behavior in this scenario.

Current behavior is: we cancel `Consumer` stage and close the consumer. This behavior is consistent.

The other one is to keep `Consumer` alive. But how long? Until all messages committed? But what if we filter some? Any ideas?

[2016-07-18 11:31] drewhk commented on #166
Last time I recommended to add a configurable timeout and then the consumer stops:
 - if all messages have been committed
 - or if the timeout fires before the above happens

The timeout = 0 setting would reproduce the current behavior.

[2016-07-18 14:39] 13h3r commented on #166
@drewhk sounds like a plan

[2016-08-02 00:29] nafshartous commented on #125
I've added code to return a `Future` when producing messages.  Upon checking the `Future` with `onComplete` the `Failure` case is triggered (error message below).  Was wondering what might cause the "unknown operation / terminated abruptly" error.

Error producing messages: 1 to 100 - Processor actor [Actor[akka://IntegrationSpec/user/StreamSupervisor-0/flow-0-2-unknown-operation#-311663728]] term

[2016-08-02 08:17] drewhk commented on #125
My guess is that you simply stop the actor system before the test fully completes and hence the stream is forced to fail (the system which executes it stops).

[2016-08-03 02:00] nafshartous commented on #125
Thanks @drewhk, seems like the end of the test was implicitly stopping the actor system.  Was trying to avoid using ```Await``` thought it seems necessary.

[2016-08-04 10:27] shadius opened #186 "0.11-M4 backward compatibility"
Hi,

I just have a technical question - reactive kafka 0.11-M4 supports kafka 0.10.0, I guess it also uses the same version of kafka client. Does it mean we can't use this version against our kafka server 0.9.0 and we have to follow official migration steps from 0.9 to 0.10?

Thanks for help

[2016-08-05 02:48] jkyamog commented on #186
I had to do this just recently.  So I just decided to upgrade the broker/server to 0.10.0.  Since we had to services that used 0.11-M4 reactive-kafka, one in scala and the other in java.  You just have to make sure the parameters in server.properties inter.broker.protocol.version and log.message.format.version is set properly.  Looking at this it seems there are also some java api changes, so I do

[2016-08-07 15:47] patriknw commented on #154
@13h3r What is the status here?

[2016-08-09 02:19] 13h3r commented on #178
This was a kafka client bug

[2016-08-09 02:19] #178 closed

[2016-08-09 06:01] 13h3r commented on #154
@patriknw not even started yet :(

[2016-08-09 06:30] patriknw commented on #154
Thanks for the update. Do you think this will influence the API or can it be added afterwards with current API? I'm thinking if it has to be done before releasing 0.11 or can be added afterwards without breaking the API.

[2016-08-10 13:28] 13h3r commented on #154
I think we can add it afterwards without breaking backward compatibility

[2016-08-10 13:28] #175 closed

[2016-08-10 17:13] xelax opened #189 "requirement failed message in 0.11-M4"
While running 0.11-M4 I've got this error:

2016-08-10 10:10:50,056 ERROR a.a.OneForOneStrategy - requirement failed
java.lang.IllegalArgumentException: requirement failed
	at scala.Predef$.require(Predef.scala:212)
	at akka.kafka.KafkaConsumerActor.poll(KafkaConsumerActor.scala:182)
	at akka.kafka.KafkaConsumerActor$$anonfun$receive$1.applyOrElse(KafkaConsumerActor.scala:101)
	at akka.actor.Actor

[2016-08-10 18:17] kciesielski commented on #189
Can you reproduce this error somehow? It is caused by internal `.poll()` call returning different messages for different partitions than expected. It would be good to have a failing test for this.

[2016-08-10 19:43] xelax commented on #189
I got it when I had 3 different instances of a listener on the same queue and then I kill one of them, and I see the error in the console of the other one. I will try to see whether I can trigger this reliably.

[2016-08-10 20:26] kciesielski commented on #189
Thanks, @xelax

@13h3r I suspect that consumer assignment changed before `poll()`  (https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/KafkaConsumerActor.scala#L167) hence poll returned more than expected, WDYT?

[2016-08-10 21:06] xelax commented on #189
Yes, it sounds likely to me, besides my listeners are getting updates in large batches with few thousands of largish messages in them, so it is quite possible that while getting the messages the consumer assignment get changed.

[2016-08-11 00:00] 13h3r commented on #189
@xelax did you use auto or manual partition assignment assignment?

@kciesielski How assignment may be changed before poll? And how it may broke the code?

[2016-08-11 00:20] 13h3r commented on #189
Please try build from master. Looks like https://github.com/akka/reactive-kafka/pull/179 fixes this

[2016-08-11 08:38] kciesielski commented on #189
@13h3r It can be changed by rebalance, but as you pointed to #179 I can see now that pause will be called, so it should be properly handled.

[2016-08-15 15:45] johanandren opened #195 "Closing over mutable actor state"
And mutating it (ouch):
https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/KafkaConsumerActor.scala#L98

[2016-08-15 15:49] 13h3r commented on #195
This is fine, because callback's called in the same thread as poll called.

[2016-08-15 15:52] 13h3r commented on #189
Could you check it? //@xelax

[2016-08-15 15:53] ktoso commented on #195
How come? https://kafka.apache.org/090/javadoc/org/apache/kafka/clients/consumer/KafkaConsumer.html#commitAsync(org.apache.kafka.clients.consumer.OffsetCommitCallback)
I don't see why this would be the case.

[2016-08-15 15:58] johanandren commented on #195
Even if it is executed in the same threadpool, it still isn't safe because the threadpool will contain multiple threads, no?

[2016-08-15 16:00] kciesielski commented on #195
I saw that too and discussed with @13h3r. This may seem unsafe but it isn't
because callbacks are called in the same thread. Maybe it could be pointed
out in a comment to clarify.

On Aug 15, 2016 5:45 PM, "Johan Andrén" <notifications@github.com> wrote:

[2016-08-15 16:01] ktoso commented on #195
Same as the *calling* thread? this would make it not async though.
Where is this configured?

[2016-08-15 22:35] xelax commented on #189
sorry, was out on vacation last week. I will build and try it out today or tomorrow.
thanks!

[2016-08-16 00:46] xelax commented on #189
I tried it out with the new build and the problem seems to be solved.

[2016-08-16 05:15] #189 closed

[2016-08-16 05:46] 13h3r commented on #195
Yes, the callback will be executed in the thread which called `poll`. This fact is not mention directly in documentation, but it is how kafka client designed.

[2016-08-16 06:25] johanandren commented on #195
Uff. So if I understand it correctly, the callback is executed on the thread that later calls `consumer.poll()` and since that always is the actor itself in the actor `poll()` method it is safe?

[2016-08-16 06:28] johanandren commented on #195
Darn, didn't see that comment before I wrote mine. Anyways, I'll PR with a comment that clarifies.

[2016-08-16 11:15] #195 closed

[2016-08-16 11:16] 13h3r commented on #186
This probably not related to reactive kafka directly. Feel free to reopen if you still have questions

[2016-08-16 11:16] #186 closed

[2016-08-16 11:19] 13h3r commented on #170
@StelaLeon could you provide reproducible example of the problem?

[2016-08-16 11:21] 13h3r commented on #161
The idea of reactive kafka is to use akka-stream's error propagation mechanic. In akka-streams you should use sink and check for abnormal stream completion. In your example you should use `toMat(Producer.plainSink(...))(Keep.both)` to have a `Future` that represents stream completion.

Feel free to reopen if you still have questions.

[2016-08-16 11:21] #161 closed

[2016-08-16 11:23] 13h3r commented on #132
Any thoughts? My position is to close this.

[2016-08-16 11:26] kciesielski commented on #132
+1, let's reopen if this issue pops up more often for more users.

[2016-08-16 11:29] kciesielski commented on #186
@jkyamog You are right, Kafka 0.9.x is not supported, because Kafka client 0.10.x is not backward compatible.

[2016-08-16 15:22] patriknw commented on #132
+1

[2016-08-16 15:22] #132 closed

[2016-08-16 15:26] patriknw commented on #170
The reproducer is to simply run
`test:runMain examples.scaladsl.PlainSinkExample`
without starting the Kafka server.

[2016-08-17 00:37] nafshartous commented on #125
I'm trying to fix some issues related to the batching tests and have a question.
After producing the sequence 1..100 and then using a batching consumer, i.e.

[code]

and a probe

[code]

the verification `expectNextN(100)` times out waiting

[code]

I assume this has to do with the batching and that its the number of batches visible to the `probe` as opposed the queue elements ?  Just wondering w

[2016-08-17 07:20] patriknw commented on #125
I don't think we should test the actual `batch` combinator. That is done by Akka Streams. I think we should verify that the offset is stored and that we can restart from it. Similar to "resume consumer from committed offset".

[2016-08-17 09:34] StelaLeon commented on #170
@patriknw Thanks.

[2016-08-18 09:31] slavaschmidt opened #200 "Death of Kafka coordinator is not propagated to the stream's termination watch"
I'm not sure if it's related to the #150

For following consumer utilising at-most-once semantics:
[code]
i'm registering a termination watch like this:
`flow.watchTermination()(onStreamTermination).runWith(source, sink)`

Now, if I shut down Kafka during the long-running test, I can see it is properly detected by observing following in logs:
`INFO  o.a.k.c.c.i.AbstractCoordinator - Marking the co

[2016-08-18 09:37] 13h3r commented on #200
try this:

[code]

[2016-08-18 09:48] slavaschmidt commented on #200
thanks, it worked! may I dare to ask for an explanation?

[2016-08-18 09:53] 13h3r commented on #200
You just misunderstood how `Future`s works.

`mapAsync` will propagate error if `Future` returned by lambda fail. This may fail:

[code]

You should not drop this `Future` as you did, but should transform as I suggested.

[2016-08-18 09:53] #200 closed

[2016-08-18 09:54] slavaschmidt commented on #200
thank you very much!

[2016-08-18 12:28] kciesielski commented on #123
Implemented with #183, closing

[2016-08-18 12:28] #123 closed

[2016-08-18 18:43] patriknw opened #202 "restart of KafkaConsumerActor not handled"
Outstanding requests from `SingleSourceLogic` will never be replied to if the actor is restarted.

Perhaps an simple solution is to send something to them from `postStop` (also invoked by default for restarts), such as an empty `Messages` reply.

[2016-08-19 06:28] patriknw commented on #107
this issue looks obsolite

[2016-08-19 06:28] #107 closed

[2016-08-19 06:30] patriknw opened #203 "failed: IntegrationSpec"
The IntegrationSpec is still flaky when running on Travis

[code]

[2016-08-19 10:38] drewhk commented on #202
This is racy, as there might be registrations in-flight we have not seen yet when postStop is called. I think the usual pattern should be used here (bit simplified, won't compile):

[code]

In the actor on PendingWakeups one must getAndSet(Nil) to empty the list safely. In postStop() a getAndSet(Completed).foreach(_.close()) will ensure that there are no dangling sources.

This is similar to Actor

[2016-08-19 10:42] patriknw commented on #202
but such in-flight registrations (requests for messages) will be received and handled by the new incarnation of the restarted actor

[2016-08-19 11:21] drewhk commented on #202
ah, you are talking about restart, sorry. But then there might be an issue with the completion, we need to check.

[2016-08-19 13:25] patriknw commented on #202
I think that is fine, there is watch both ways

[2016-08-23 11:55] glammers1 opened #211 "Wrong validation at ProducerSettings apply method"
Version: 0.11-RC1

[Actual] (https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/ProducerSettings.scala#L69)

[code]

Expected

[code]

`valueSerializer.isDefined` instead of `keySerializer.isDefined`

[ConsumerSettings is ok](https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/ConsumerSettings.scala#L125)

[2016-08-23 11:58] kciesielski commented on #211
Thanks for reporting!

[2016-08-23 14:42] glammers1 commented on #211
Could I create PR?

[2016-08-23 15:40] kciesielski commented on #211
Of course, you are welcome :) Can you add a test?

[2016-08-24 08:33] glammers1 commented on #211
Perfect!

[2016-08-25 08:29] glammers1 commented on #211
I've been trying to reproduce the bug in a test before change the code expecting the wrong behavior but it is not possible because the bug is related with the case in which we pass serializers as parameters (not args config) but one of them are None, however the apply methods with the Option signature for the Serializers are private so we can't call the methods outside the companion object with No

[2016-08-25 10:19] patriknw commented on #211
ok, I guess you know that `Option(null) => None` while `Some(null) => Some(null)`

Perhaps the intention was that some Java users are used to passing `null` and we handle that as `None`.

I see two alternatives (and it should be implemented the same for both `apply` and `create`).

1) we allow `null`, e.g. when you want to set the `valueSerializer` but not the `keySerializer`, i.e. use `Option` (h

[2016-08-25 13:39] glammers1 commented on #211
Me too, vote for 2.

[2016-08-25 13:44] 13h3r commented on #211
+1 for 2

[2016-08-25 17:26] kciesielski commented on #211
+1 for 2

[2016-08-26 08:09] dotta opened #212 "ProducerSettings should validate key serializer"
Creating a `ProducerSettings` with a `null` key serializer should fail early with an exception, as any attempt of consuming messages with the created `ProducerSettings` will not work.

Here is a self-contained example that can be used to reproduce the problem.

[code]

The stream materialization will result in an exception: `org.apache.kafka.common.config.ConfigException: Missing required configur

[2016-08-26 08:22] patriknw commented on #212
Thanks for reporting, @dotta
I think this is a duplicate, or at least very related to https://github.com/akka/reactive-kafka/issues/212

@glammers1 Please take a look at this one also and make sure the PR covers it.

[2016-08-26 08:24] dotta commented on #212
@patriknw I think you meant #211. Indeed, it is very similar, but #211 seems to be about the value serializer validation, while the problem I had was with the key serializer. But I suppose it's easy to fix the two tickets together.

[2016-08-26 08:31] patriknw commented on #212
yes, copy pasta

[2016-08-26 09:31] glammers1 commented on #212
Yes, the option 2 in #211

should resolve both issues.

btw, `ConsumerSettings` should be updated in the same manner.

[2016-08-26 14:41] glammers1 commented on #211
I suppose that `create` with Java `Optional` must call `apply` with Scala `Option`. I'm wondering what is the best way to do that because Scala does not support Java 8 until Scala 2.12 and neither `JavaConversions` nor `JavaConverters` supports `Optional` at the time.

Any ideas?

[2016-08-27 07:01] patriknw commented on #211
Converter exists in https://github.com/scala/scala-java8-compat and we already use that library

[2016-08-28 17:00] nafshartous commented on #125
I'm not sure how to proceed with my PR

  https://github.com/akka/reactive-kafka/pull/209

The test "consume and commit in batches" passes consistently when run locally
and fails consistently in Travis.

The assertion that's failing is attempting to verify that a batch was committed (line 251)
When inserting a `println` at the point of batch commit and it only prints once (even when requesting mul

[2016-08-30 09:07] robertomoreno opened #218 "Akka streams graph not working"
I'm trying to build a graph wich makes a mapAsync from a kafka message, it may throw a ParseException. If so, I want to retry 3 times. In order to achive this I'm using Merge and Partition for a cycling graph. [See this example](https://github.com/robertomoreno/dummy-monitoring-process/blob/master/src/main/scala-2.11/dummy/monitoring_process/service/Boot.scala)

It works well if just flows from So

[2016-08-30 10:42] patriknw opened #219 "it's blocking"
We must re-introduce the dedicated dispatcher because both `send` and `poll` methods are blocking if the broker is not available. `send` returns after timeout (default 60 seconds). `poll` doesn't return at all (at least I had not the patente to wait).

I tried with `sample.scaladsl.AtLeastOnceExample` and `sample.scaladsl.PlainSinkExample` + some printlns in the stages.

The producer dispatcher wa

[2016-08-30 10:43] drewhk commented on #219
The dispatcher should be on the actor on the consumer side though, but yeah, it looks like the Producer stage must have a dedicated one, too. Sigh, these APIs...

[2016-08-30 10:48] drewhk commented on #219
Given that there is already blocking, I still wonder if a spinning-blocking thread approach might be better then...

[2016-08-30 10:50] kciesielski commented on #219
@patriknw there's a consumer setting `connections.max.idle.ms` with default value of `540000`  which is 9 minutes. Maybe with lower value the consumer will drop with a timeout exception?

[2016-08-30 10:50] patriknw commented on #219
ok, good to know, yeah I didn't wait 9 minutes

[2016-08-30 10:52] drewhk commented on #219
Actually we discovered that poll() was blocking (on a NIO selector), but I was under the impression that it is capped by the remaining time from the poll timeout. weeeird.

[2016-08-30 10:54] patriknw commented on #219
It is capped to the poll timeout under normal circumstances, but when it can't connect to the broker it is blocking longer. Yeah, weird api.

[2016-08-30 13:04] 13h3r commented on #219
@patriknw even more, if you lost connection from consumer to broker during metadata request you will wait infinitely. Also we may have check `wakeup` method which aborts current blocking operation.

[2016-08-30 13:05] patriknw commented on #170
There is an exception after the timeout of 60 seconds (default). Unfortunately that was not seen downstreams due to blocking upstream https://github.com/akka/reactive-kafka/issues/219 and missing fail fast in mapAsync https://github.com/akka/akka/issues/21318

The latter will be fixed in Akka 2.4.10

[2016-09-02 13:27] #211 closed

[2016-09-02 13:27] #202 closed

[2016-09-02 13:28] patriknw commented on #170
I'm closing this, but it will require Akka 2.4.10 to work smoothly.

[2016-09-02 13:28] #170 closed

[2016-09-02 13:29] #212 closed

[2016-09-02 13:58] #219 closed

[2016-09-08 05:37] nemccarthy commented on #58
@aditanase regarding your question of automatic "take over" did you find that consumer groups fill those needs. So just spinning up many akka apps that consume from kafka was enough to get even reading from all topic partitions?

[2016-09-09 06:04] patriknw opened #224 "improve error handling for WakeupTimeoutException"
When I introduced the wakup in https://github.com/akka/reactive-kafka/pull/220 I was thinking that ordinary actor supervision would be enough, but based on feedback in the gitter channel the logging of the exception is causing confusion.

We should implement some error handling for this in the actor itself instead. Then we can have a shorter timeout to let the actor be responsive for other things,

[2016-09-09 06:05] patriknw commented on #224
Let's do this after the 0.11 release. I'll increase the timeout for now to 10 seconds.

[2016-09-12 08:54] nemccarthy commented on #224
Hey @patriknw, not sure what was the error report in the gitter chat, but I'm seeing behaviour that sounds familiar from the description;

Start consumer, connects fine and as expected see a subscription is made;
[code]

If I then restart the consumer, it will pause until the timeout is triggered. From going through the message flow it looks like the subscription is never recreated so the system j

[2016-09-12 12:44] nemzsom opened #227 "Exception is not propagated if there is an uncaught error in Sender"
Hi!
I found an issue when tried to use the library (version 0.11) with a kafka 0.9.x server. I got this exception:
[code]
I know this is caused by the incompatibility between the client (0.10) and the server (0.9) but the issue is that the stream was not terminated. It just hangs. I would expect an exception that a supervisor can handle.

When I run this code:
[code]
neither the `Exception in supe

[2016-09-12 16:45] jvwilge commented on #224
I'm not sure if this helps, but I also got the Exception after some restarts shortly after each other while fiddling around. This piece of code (adapted from http://stackoverflow.com/questions/33481156/how-to-stop-gracefully-the-actor-system-for-an-akka-http-server-that-must-be-dep) fixed it for me. The Exception can of course still appear on non-graceful shutdowns, but this will fix the quick res

[2016-09-13 01:10] nemccarthy commented on #224
Thanks @jvwilge! that seems to have solved it for quick restarts. Now its just occasional (running kafka in a docker locally for testing) and sometimes its a bit slow to respond so upping the timeout is the only real workaround I've found.

Is there something I'm missing that the stream doesn't resume on wakeup exception because the subscriptions are never resent (I'm new to the streams side of ak

[2016-09-13 12:44] nafshartous commented on #203
@patriknw This may be the same issue that forced me to ignore the batching test #223.  We need some way to have visibility with messages in Kafka running on Travis.

[2016-09-13 13:00] patriknw commented on #203
ok, feel free to create a PR with more logging enabled

[2016-09-15 06:33] kciesielski commented on #224
Any kind of exception would now cause consumer actor to restart. The actor creates a new consumer but this consumer never receives topic subscription. We need to re-send subscriptions (or fail the stage for `AssignmentWithOffset`).

[2016-09-16 08:16] drewhk opened #228 "Document how to do test pipelines"
i.e. how to stub out Kafka Sources and Sinks, check for proper commits, etc.

[2016-09-16 08:17] drewhk opened #229 "Document how to restart a Kafka stream based processing pipeline"
I.e. how to wait on previous instance to properly stop and rematerialize the stream, etc.

[2016-09-18 22:14] mmatloka opened #231 "Source creating multiple parallel consumers"
According to some Kafka training materials creating multiple parallel consumers may be beneficial on stronger machines (if there are more partitions than consumers). It might be interesting to have `Source` creating multiple threads with multiple `KafkaConsumer`s. From API perspective it could be similar to handling `committablePartitionedSource`.

[2016-09-19 01:10] 13h3r commented on #231
You always can manually create any number of `Source`s and merge them into a one big source. Each of this sources will be scheduled independently and run in parallel.

[2016-09-19 13:26] graphex commented on #231
I think there are a couple of things to watch out for when doing this. I tried merging multiple committableSources a while ago, and the first thing i ran in to was an MBean collision warning from the Kafka client itself. Not a showstopper but certainly annoying.

Then, if memory serves, when trying to commit, there was an actor lookup going behind the scenes in reactive kafka that seemed to operat

[2016-09-21 20:08] nafshartous commented on #203
After my open PR https://github.com/akka/reactive-kafka/pull/223 is closed I'll create a new dummy PR to use for debugging the Travis-specific build failures.  If someone knows of a better way to debug Travis please let me know.

[2016-09-23 09:16] #227 closed

[2016-09-23 09:17] #224 closed

[2016-09-23 09:25] patriknw commented on #203
yes, feel free to continue debugging. Pushing new commits to a PR branch will trigger new Travis build.

[2016-09-25 10:06] kyal opened #234 "KafkaConsumerActor checkOverlappingRequests comparing fromStage to requests map value, not the ActorRef key"
https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/KafkaConsumerActor.scala#L142

This comparison will never succeed due to what I believe is a typo and it should be (ref != fromStage && ...) instead.
As such checkOverlappingRequests would never respond to the requesting actor with an empty set of messages and remove the request. No idea if this behavior is acceptabl

[2016-09-27 14:21] kciesielski opened #235 "Consumer fails due to WakeupExceptions when there are no messages for a while"
As reported by @breadfan
"(...) if there are not any new messages for some period of time we get a "[ERROR] from akka.kafka.KafkaConsumerActor in search-classified-cats-enhancer-akka.actor.default-dispatcher-5 - WakeupException limit exceeded, stopping."

A consumer should not receive WakeupExceptions when there are no messages.

[2016-09-27 15:03] patriknw commented on #235
ouch,
Isn't that strange? Didn't we cancel the wakeup task? `poll` should not block that long when there are no messages

[2016-09-27 15:53] kciesielski commented on #235
I don't think that poll blocks. Calling `poll()` should keep the internal heartbeat work. Even if there are no messages, it should stay connected without any `WakeupException`s.

[2016-09-28 12:22] iravid opened #236 "Misconfigured pollTimeout and pollInterval can cause commit starvations"
Ran into this scenario:
- Configured the following values (mistakenly!): `pollTimeout = 250ms`, `pollInterval = 50ms`
- Ran a graph that consumes messages, does some processing and commits offsets
- Noticed that commit durations steadily got larger until the commit timeout was crossed

After building a version of reactive-kafka with some more logs added, noticed that too much time passes between c

[2016-09-28 21:55] l15k4 commented on #235
I fixed this by setting consumer's `session.timeout.ms` and broker's `group.max.session.timeout.ms` to value that is higher then eventual absence of messages. And it stopped happening as only `poll` pings broker that would otherwise timeout the session.

I have a similar problem though, if consumer dies on some `Fatal` exception then Consumer doesn't (can't) close the connection and it can never r

[2016-09-28 22:11] kciesielski commented on #235
@l15k4 I'm trying to reproduce the problem with errors when there are no messages for a while. What timeout values did you have when you encountered the problem? How log was Kafka running without any messages in this topic?

[2016-09-28 22:22] l15k4 commented on #235
@kciesielski well, my producer yields a very dense stream of messages until it catches up with some other component, then it pushes only one message per hour and I fixed the problem by setting :

`session.timeout.ms`: 7300000  ( little more than 2 hours in case one message got lost)
`group.max.session.timeout.ms`: 7301000  (must be higher then `session.timeout.ms`)

And it fixed the problem. Origi

[2016-09-28 22:27] kciesielski commented on #235
@l15k4 Thanks for the details. Our internal actor calls `poll()` in a loop so there should be no need to set large values of `session.timeout.ms`. I'll try to wait more than one hour with default settings to see if I can reproduce.

[2016-09-28 22:41] l15k4 commented on #235
@kciesielski I forgot to mention that I'm using `committableSource` and the jobs took more than those 30 seconds, some jobs got stuck even for more than an hour before I optimized everything. This is the code :
[code]

That's probably the reason behind the actor not calling `poll` as you mentioned.

[2016-09-28 22:52] kciesielski commented on #235
@l15k4 Thanks for even more details :) Long processing shouldn't affect the internal poll loop. It's done asynchronously by an actor which self-polls regardless of demand (only with "empty assignment"). I just checked with a test of processing longer than default `session.timeout.ms` of 30s and it's OK.

[2016-09-28 23:24] kciesielski commented on #234
Thanks for reporting @kyal, this indeed looks like a bug.

[2016-10-03 15:38] iamhatesz opened #241 "Loading offsets from external storage while keeping Kafka rebalancing functionality"
Hi,

I am writing an application using `plainPartitionedSource` and I am storing offsets in some external storage. Then, when rebalancing happens, I want to fetch stored offsets and start consuming from them.

So my code looks like this:

[code]

Of course there's no such method like `seek` on the `source` object. So my question is: is there any option to leave partition assignment to Kafka and pa

[2016-10-04 03:30] 13h3r commented on #241
There is no such API now

[2016-10-05 17:17] ChetanBhasin opened #242 "Allow setting log levels for consumer and producer"
The default log level is DEBUG, which produces a lot of information that may not be required in all scenarios.
We should probably have a way of defining log level for consumer and producer.

[2016-10-05 17:26] kciesielski commented on #242
@ChetanBhasin You can configure your own logging levels. The project doesn't override the defaults, see general docs on how to configure logging for Akka http://doc.akka.io/docs/akka/current/java/logging.html

[2016-10-05 17:27] ChetanBhasin commented on #242
@kciesielski Ah, I'm sorry, I should have noticed. Thanks for pointing out.

[2016-10-05 17:27] #242 closed

[2016-10-05 18:04] patriknw commented on #242
and if you use a slf4j logging backend you can add logging filters in that config to filter out specific logging

[2016-10-12 12:42] l15k4 commented on #235
I'm also getting WakeupExceptions when I stop the consumer by calling `control.shutdown()` and then start it again ... it then warns :
[code]
and is unable to consume new messages ... however `control.shutdown()` is called from a `sys.addShutdownHook()` so I'm not 100% sure it gets called.

[2016-10-12 12:47] kciesielski commented on #235
@l15k4 When you close your consumer and try to re-connect, you will receive WakeupExceptions for a while, but after some retries it should eventually connect. I'm not sure, we call `consumer.close()` to disconnect. Maybe Kafka itself needs a while to rebalance after disconnecting a consumer and allow a new one from the same host to re-connect. However, we may need to look deeper into that to verif

[2016-10-13 16:16] israel opened #244 "ProducerMessage.Result should include all RecordMetadata and not just the offset"
KafkaProducer in its onCompletion callback, provides a RecordMetadata for the just written Record, however, the ProducerStage extract only the offset and sets it in ProducerMessage.Result
I suggest to return the whole RecordMetadata object.

[2016-10-19 09:50] #154 closed

[2016-10-19 09:50] #236 closed

[2016-10-19 09:50] #234 closed

[2016-10-19 17:08] #244 closed

[2016-10-19 17:10] patriknw commented on #91
I think this is obsolete

[2016-10-19 17:10] #91 closed

[2016-10-24 02:52] timcharper opened #248 "Document error handling requirements"
What happens when a consumer / publisher loses connection to a broker? Does the stream need to be restarted? Some notes about the error handling strategies would be helpful so users can plan appropriately.

[2016-10-25 07:43] glammers1 opened #249 "Document Sharing KafkaProducer"
After this PR #240, docs could be updated with code examples (there is a TODO).

http://doc.akka.io/docs/akka-stream-kafka/current/producer.html#sharing-kafkaproducer

@iravid ?

[2016-10-25 18:08] iravid opened #250 "Add API for consuming Future[ProducerMessage.Result] from the ProducerStage"
Currently, the futures coming out of the `ProducerStage` are processed through a `mapAsync(identity)`. This causes exceptions thrown to be handled through the stream supervision.

Dealing with errors from the producer is at times too simplistic through the `Supervision.Decider` interface; for example, if one would like to convert a failed request to a custom ADT, there is currently no way (I can t

[2016-10-28 14:07] ktoso opened #251 "Use Akka's provided StageLogging"
Implemented `StageLogging` in Akka, so you can just use it instead of relying on the one in here.
See: https://github.com/akka/akka/issues/18793

To be removed: https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/internal/StageLogging.scala

[2016-10-28 14:07] ktoso commented on #251
This is since 2.4.12

[2016-11-01 03:28] timothyakampa commented on #235
When I run my application in a docker container I get same issue (akka.kafka.KafkaConsumerActor in search-classified-cats-enhancer-akka.actor.default-dispatcher-5 - WakeupException limit exceeded, stopping.). And when I run it outside the docker container it works fine. I have also tried to run my docker container in host network mode but that is not helping. I also tried to check if kafka is reac

[2016-11-01 08:13] patriknw commented on #248
That should be clarified. Short story is that if it can't reconnect the stream will be failed and you have to restart it, i.e. you have to plan for stream failure.

[2016-11-02 14:53] jonathanvm13 commented on #248
Hi @patriknw  what is the  way to plan for stream failure ? Using a supervisionStrategy ? Thanks

[2016-11-04 20:08] jonathanvm13 opened #252 "Propagate KafkaConsumerActor - WakeupException limit exceeded, stopping"
Hi!

I am using a Consumer with a WebSocket in Play Framework 2.5.9 to send real time messages to frontend client. The problem is that when the error `KafkaConsumerActor - WakeupException limit exceeded, stopping`  happen (For any reason), it is not propagated to close the websocket (it's a akka Flow) connection with client, because I need to send that information to the client to try to restart t

[2016-11-07 10:19] zozoens31 opened #253 "Allow connection errors to be handled without stream supervision"
This is somewhat related to [this issue](https://github.com/akka/reactive-kafka/issues/248).

For instance in the case of `Producer.flow`, is it possible to keep a `Flow[Message[K, V, P], Future[Result[K, V, P]], NotUsed]`, in order to handle errors downstream instead of with supervision ?

The `ProducerStage` seams to be implemented this way, but is not accessible outside the library.

[2016-11-07 11:54] kciesielski commented on #252
When the limit gets exceeded, consumer stage gets terminated. I wrote an isolated test with flow constructed like yours:
[code]

Looks like from our perspective it works like expected.  I'll try to check how the `OnError` emitted by the flow is then handled by Play internals.

[2016-11-07 12:07] kciesielski commented on #248
@jonathanvm13 @timcharper when a stream fails, you can react accordingly by catching a failing materialized future:
[code]

[2016-11-07 13:10] patriknw commented on #248
Right, almost all sinks return a materialized value Future or similar for this purpose. Otherwise `watchTermination` can be added.

[2016-11-07 19:10] vaaction commented on #248
I think it is right place to write my issue.
Our protocol requires a response with cpecial code and state if kafka is not available, but I cannot recover state. I can only get exception using the recover function and NotUsed using ....viaMat(Producer.flow(producerSettings))(Keep.both).mapMaterializedValue().
Only addition and complicated stage can help here.
Is there any another easier way?

[2016-11-08 16:34] kciesielski commented on #252
@jonathanvm13 I tested this case on sample project by James Ward (https://github.com/jamesward/hello-play-kafka). I modified it a bit only to make it runnable without Heroku and SSL. I started it with local Kafka, then I killed Kafka. I can see in logs that the underlying consumer is trying to retry and finally fails. Errors seems to be captured by Play's error handling:
[code]

[2016-11-21 21:46] ktoso opened #256 "Release for Scala 2.12"
When would we be able to release this for 2.12?
Some people already are asking so we should look into it.

[2016-11-21 21:50] ktoso commented on #256
Didn't notice there's already a PR :)

[2016-11-22 09:43] cerst commented on #252
@jonathanvm13 @kciesielski I encountered a similar problem using the following stream:
[code]

If i stop Kafka (in my case, a local VM Docker container), the last thing i can see in the logs is (after the consumer has exceeded its wakeup retries):
[code]

The stream remains in this seemingly blocking state until Kafka becomes available again (i've waited for about 2 minutes before starting the con

[2016-11-22 16:08] kciesielski commented on #252
@cerst if your consumer exceeds wakeup retries, the materialized future should fail. Do you handle this with `future.onFailure`?

[2016-11-22 17:29] breadfan commented on #241
As asked in the gitter channel we would also need such a feature: "Thanks for the hint with assignment with offset. But how do we deal with the fact that we now have to manually choose partition numbers. Looked at http://doc.akka.io/docs/akka-stream-kafka/current/consumer.html#external-offset-storage where a hard coded first partition number is used. In our use case we have at least 3 AWS EC2 inst

[2016-11-24 02:35] graphex commented on #241
I can see a few use cases for this as well, plus exposing this sort of utility would help the consumer be generally easier to use. Exposing more of the kafka consumer's API would be a good thing.

[2016-11-25 21:06] jacobtardieu commented on #249
I'll be happy to do it!

[2016-11-25 22:30] jacobtardieu commented on #251
I'll take it!

[2016-11-30 20:05] dylanwilder commented on #253
I guess I'll just hijack this post as opposed to creating a new issue.  Is there a way to detect errors in the consumer downstream?   Something like `Either[Msg, Throwable]`, I'd like to be able to detect bad records the queue (incompatible serialization etc) and handle them explicitly.  Currently, just restarting the stream will reingest the same record.

[2016-12-05 08:00] kciesielski commented on #253
@dylanwilder Not much is available at this point. A failed `consumer.poll()` call means that data cannot be retrieved from Kafka (for example, as you mentioned, due to deserialization problems) and any further `poll()` calls are impossible. One possible way to handle this internally may be to track read offsets and then use seek() to skip failing ones.

[2016-12-16 17:16] ademartini opened #263 "Consumer fails after a while"
I have a single consumer polling indefinitely, and it works for a couple minutes.  But after a while I get:

Message [akka.kafka.KafkaConsumerActor$Internal$Stop$] from Actor....was not delivered. [1] dead letters encountered.

There is nothing wrong on the other end of the wire.  What could be the issue here?  I'm running .13 of reactive-kafka.  I'm using the default reactive-kafka dispatcher.

C

[2016-12-16 17:35] ademartini commented on #263
Ah nvm, this was my bad.  Needed to prevent future from blowing up with a recover inside there.

[2016-12-16 17:35] #263 closed

[2016-12-19 02:30] nafshartous commented on #203
This issue can be closed as the `ignore` has been removed to activate the test.

[2016-12-20 23:04] nafshartous commented on #229
I'd like to help and have a few questions.  How does one build and preview the docs ?

[2016-12-21 14:47] #256 closed

[2017-01-10 01:42] sourcekick commented on #235
The following is somewhat artificial, but it can hopefully be a hint in terms of a report.

For study purposes I wrote an integration test case that uses just one broker running together with one zookeeper. Generally the setup is working. One particular test case is straight forward yet flaky, which is why I am investigating. I experience the WakeupException sometimes.

The test case is based on a

[2017-01-10 01:45] sourcekick commented on #235
Note that I am using Kafka Broker and Client version 0.10.0.1 and akka-stream-kafka_2.12:0.13

[2017-01-10 15:12] 13h3r commented on #235
@sourcekick could you please post the test somewhere?

[2017-01-11 13:25] patriknw commented on #229
@nafshartous Sorry for embarrassing long delay of this reply. Use `sbt paradox`, and then you can open `docs/target/paradox/site/index.html` in browser.

[2017-01-13 15:38] #203 closed

[2017-01-16 18:36] ogirardot commented on #235
reproduced this "bug" when re-creating the example from the documentation :
[code]

With this application.conf

[code]

And a confluent 3.0.1 "freshly" downloaded tar.gz

[2017-01-16 18:38] ogirardot commented on #235
To be more precise, "first" consumption is ok, but then if I restart, with no new messages (but still in earliest mode) then the exception becomes :
[code]

[2017-01-16 19:53] kciesielski commented on #235
@ogirardot looks like Kafka needs some time to recover after rebalance and allow re-connecting. Your example looks like it's trying for 30 seconds (10 * 3s) and still failing, am I correct?

[2017-01-19 09:13] YunLiaw opened #266 "AskTimeoutException when using commitScaladsl"
Hello,

I sometimes receive this error when running reactive kafka and I do not have any clue.

[code]

And below is the code for the stream:

[code]

This exception will sometimes happen. For now I have two ways to avoid this exception:
1. Add retry on commitScaladsl. It will introduce dead letter warning
[code]
2. Use `Supervision.Resume` supervision strategy to ignore this exception

For now I

[2017-01-19 17:16] kciesielski commented on #266
Hi Yun. This looks like internal committer actor is not responding for some reason. If retry results in dead letters, then it looks like this actor is dead. Even ignoring your commit with `Resume` would then result in dead letters in resuts. Or do you see further commits passing?

[2017-01-19 18:51] YunLiaw commented on #266
I have to correct that what I have tried is using `Supervision.Restart` rather than `Supervision.Resume`. With `Supervision.Restart` or retry I can see the stream will keep processing messages and the offset will keep changing.

Is there any way to investigate the reason that cause internal commiter actor not responding?

[2017-01-23 17:59] jvvasques opened #267 "Expose offsetsForTimes function from kafkaConsumer"
At Talkdesk we're using Kafka and we need to have access to a kafkaConsumer primitive to get [offsets given a timestamp.](https://kafka.apache.org/0101/javadoc/org/apache/kafka/clients/consumer/KafkaConsumer.html#offsetsForTimes(java.util.Map))

I've discovered this project and I want to integrate it in our Kafka pipeline. Are you open to receive a PR to add support to this Kafka low-level primiti

[2017-01-23 20:37] jacobtardieu commented on #251
This has been done, the issue can be closed.

[2017-01-23 20:39] ktoso commented on #251
Thanks for the ping here :)

[2017-01-23 20:39] #251 closed

[2017-01-23 20:41] jacobtardieu commented on #249
I think we can close this one too, the doc has been merged!

[2017-01-25 07:30] kciesielski commented on #267
@jvvasques of course, PRs are most welcome :) BTW: does this call to `consumer.offsetsForTimes()` have to be synchronized with `poll` and `commit`?

[2017-01-25 16:50] jvvasques commented on #267
I believe no. According to the [code and documentation](https://github.com/apache/kafka/blob/trunk/clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java#L1426) the call to `consumer.offsetsForTimes()` is blocking and it does not interfere with `pool` and `commit`

[2017-01-26 10:48] 13h3r commented on #267
How do you use such offsets? Are they used once during stream start to setup initial offsets or they are used on regular basis during data processing?

[2017-01-26 13:31] #249 closed

[2017-01-30 21:41] nafshartous commented on #229
Does something like this capture the intent ?

[code]

[2017-01-31 01:22] jvvasques commented on #267
@13h3r we plan to use those offsets to setup the initial position in kafka when starting the stream

[2017-02-03 21:28] IgorBerman opened #269 "KafkaConsumer at branch 0.8 consumes from only 1 stream with numThreads>1"
I know that 0.8 branch is not a main point of interest, however there are plenty of production setups with kafka 0.8, so I've tried to use this branch.
At least for documentation reasons I've decided to report following behavior:

It's possible to pass parameter of number of threads to ConsumerConfiguration.
KafkaConsumer has following code connector.createMessageStreamsByFilter(filterSpec, props.

[2017-02-07 08:32] yoeluk commented on #266
This is broken in the same way for me too

[2017-02-07 09:23] patriknw commented on #266
I agree, this is important to investigate. Can't promise I will be able to do it this week, but it's on my radar.

[2017-02-15 20:32] ademartini commented on #235
Is there a way to allow for unlimited WakeupExceptions?  If kafka goes down for a while for some reason, I don't want to have to restart my consumer application.

[2017-02-18 15:40] cchantep commented on #125
May in some way be related:

Hi, bootstraping a Kafka project using reactive-kafka, some tests are failing when using the utility `assertAllStagesStopped`. I've created a local branch directly from a fork of reactive-kafka, and it seems this module itself is failing to pass consumer tests with this assertion (see [Test results](https://gist.github.com/cchantep/e74e8ff9f1ae4587f539f294b7b79f5d). I

[2017-02-20 08:54] kciesielski commented on #125
@cchantep Thanks for reporting this. I tried with `akka-stream-contrib` version `0.6` instead of and all tests in `IntegrationSpec` are passing, `ConsumerTests` are failing like in your report. Looking into that now.

[2017-02-20 09:35] cchantep commented on #125
Even with 0.6, I get the failure with `IntegrationSpec`

[2017-02-20 10:19] kciesielski commented on #125
@cchantep I managed to close resources correctly in failing tests for the `ConsumerTests` suite. However, I can't reproduce your error from `IntegrationSpec`. Here's my change: https://github.com/kciesielski/reactive-kafka/commit/0af6590f022fc59729f0a0529ddbc8618966eea2, could you apply it and publish a PR so we can see how it goes on CI?

[2017-02-20 10:54] cchantep commented on #125
I reproduce the issue with `IntegrationSpec` each time, executing it with all the suite or only:

[code]

[2017-02-20 11:21] shadius commented on #266
Hi, I am able to reproduce this issue as well, my code:

`      consumerStream = Some(rawEventsConsumer
        .to(createEventFlow()
            .via(PreWhalModelStage(modelEndpoint, modelApi))
            .via(WhalModelStage(sendToModel, metrics))
            .via(PostWhalModelStage(system))
            .map(sm =>
              ProducerMessage.Message(
                new ProducerRecord[String,

[2017-02-20 11:23] kciesielski commented on #125
@cchantep Can you submit a Pull Request with my updates? We will see if this occurs on Travis.

[2017-02-20 12:38] cchantep commented on #125
https://github.com/akka/reactive-kafka/pull/271

[2017-02-21 10:36] patriknw commented on #235
@ademartini Increasing the `max-wakeups`?
https://github.com/akka/reactive-kafka/blob/master/core/src/main/resources/reference.conf#L51-L58

[2017-02-24 02:06] dbcfd opened #272 "Slow Commits When Using Batches of Messages"
See comment below. Code was just sending 1 offset, but either offset rollup in commitable batch of conversion of offset result is causing slow consumption.

[2017-02-24 02:10] dbcfd commented on #272
This may be from updating CommittableOffsetBatchImpl: https://github.com/akka/reactive-kafka/blob/master/core/src/main/scala/akka/kafka/internal/ConsumerStage.scala#L156

[2017-02-24 03:48] dbcfd commented on #235
For topics with sporadic messages (especially where you may never know when a message will arrive), set fetch-min-bytes to 0, timeout to some acceptable value (e.g. 1 second) that is less than heartbeat, and interval to some acceptable value (e.g. 1 second) that is less than heartbeat.

This will cause polls to return and be repeated in a timely manner without busy waiting the poll.

[2017-02-27 08:10] krchniam commented on #266
Hi, we also encountered this issue couple of months ago. When doing my initial investigation I found out that these timeouts correlate with Kafka rebalansing due to expired ZooKeeper session (we have only one Kafka broker). We bumped `akka.kafka.consumer.commit-timeout` to 20s, then to 30s but to no avail. Now we are running with `commit-timeout = 60s`. It looks like Kafka is not responding for al

[2017-03-03 08:19] mmatloka opened #276 "ConsumerTest failing on windows"
`"call commitAsync for every commit message (no commit batching)"` fails with
[code]

[2017-03-03 17:48] mradityagoyal commented on #235
@dbcfd  can you elaborate on your comment please. We have a sync process. We are trying to use reactive kafka to process messages. Our messages are sporadic and there might be cases when we have no messages for one or two days.
Currently, our consumer stream dies after about 5 minutes of no messages on the topic with below error ..
{code}
[ERROR] [03/03/2017 14:59:25.058] [PrimeClusterSystem-akka.

[2017-03-03 18:06] dbcfd commented on #235
There are a few cases where wakeupexception will occur:

- Your broker is down (guessing this is not the case)
- You are attempting to pull more data back in a poll than can be returned in your wakeup timeout (maybe, would need to know how big your messages are)
- Your settings are such that the poll for no data is not returning within the wakeup timeout

I'm guessing the you are being affected by

[2017-03-03 18:14] mradityagoyal commented on #235
@dbcfd Thank you very much for the response. Yes.. we hare facing the third issue .. no data within wakeup timeout.
Our current fetch.min.bytes setting is the default 1. We will set that to 0.
the current max.poll.interval.ms is at default 300000. Do you recommend increasing it further?

Out of the two approaches, which one is more suitable / fault safe?

[2017-03-03 18:42] mradityagoyal commented on #235
@dbcfd  never mind.. i figured out you were talking about the settings in reference.conf. Thanks. We are testing both approaches.

[2017-03-03 21:38] dbcfd commented on #235
Yeah start with reference conf settings. The 0.10 kafka consumer settings seem to work for most applications.

[2017-03-05 20:13] nafshartous commented on #229
Will submit a new PR based on the discussion in

  https://github.com/akka/reactive-kafka/pull/275

[2017-03-08 12:42] cchantep commented on #166
Seems the issue is still there

[2017-03-13 10:10] asarkar opened #278 "Can't get the consumer working consistently"
I've a [project](https://github.com/asarkar/spark/tree/master/ufo-sightings) that reads some data from the internet, does some processing, and inserts into Kafka. The producer seems to be working beautifully. However, all hell broke loose when I added a consumer. The consumer seems to read bunch of messages randomly, never all. I tried so many things that I lost track now. To reproduce the issues,

[2017-03-14 03:11] asarkar commented on #278
This turned out to be an issue with the following:

[code]

doesn't work, the producer obviously just processes one batch and discards the rest. Changing that to:

[code]

works!

[2017-03-14 03:11] #278 closed

[2017-03-14 19:16] Maatary opened #279 "How this work compare to Kafka Connect vs Consumer and Producer"
I wonder if this work is some sort of Kafka Connect or the Consumer/Producer API, or something in between. I know that connect simplify a lot of things with respect to the Consumer/Producer API. Where would that work fit ?

[2017-03-14 20:40] Maatary commented on #279
Also, does it manage partition's leader metadata request, to make sure that it always sent request to the right broker ?

[2017-03-15 04:49] asarkar commented on #166
Confirmed that this issue exists with v0.14. `stop-timeout` and `close-timeout` are set to 5s each, `poll-interval` = 1s, no messages are pending. Processing stream:

[code]

Later:
[code]

Produces dead letter:
[code]

[2017-03-17 20:33] #279 closed

[2017-03-20 21:11] Matt343 commented on #252
I am also seeing this behavior sometimes when using a `committablePartitionedSource`. I am using `future.onComplete`, so it should definitely be firing on either completion or failure, but that never occurs.

[2017-03-21 00:39] kutchar opened #280 "Support for Kafka 10.1.x/10.2.x"
Kafka 10.1.0 was released back in October 2016 and the current release is Kafka 10.2.0. What are the plans for supporting newer versions of Kafka.

10.1.x introduced a few nice features, including `Time-based Search` and `Time-based Rewind`. It'd be great to get those features into Reactive Kafka.

https://www.confluent.io/blog/announcing-apache-kafka-0-10-1-0/

[2017-03-21 00:49] kciesielski commented on #280
@kutchar latest release of akka-stream-kafka (0.14) uses Kafka client 0.10.2, which is compatible with Kafka 0.10.1 https://github.com/akka/reactive-kafka/pulls?utf8=%E2%9C%93&q=is%3Apr%20milestone%3A0.14%20is%3Aclosed%20
Since messages flowing in our streams are of type `org.apache.kafka.clients.consumer.ConsumerRecord[K, V]`, you can read additional fields like timestamp.

[2017-03-21 00:58] kutchar commented on #280
@kciesielski Thanks. The `README.md` should probably be updated ;)

[2017-03-23 14:00] jaksky commented on #166
Hello I suppose it is related to this issue - non terminating Consumer stream. How do we handle testing e.g. producer -> topic -> consumer
`val source = Consumer.atMostOnceSource(consumerSettings, Subscriptions.topics(testingTopic))
        .map(_.value())
      val value = source.map { r =>
        println("Recieved message " + r)
        r
      } .take(1)
        .runWith(Sink.seq)
      value.

[2017-03-23 14:14] jaksky opened #282 "Not being able to test on consumer side, take doesn't propagate termination ???"
How do we handle testing e.g. producer -> topic -> consumer

[code]

Resulting in timing out the future due to not terminating consumer source from take(n).  Or how do we test as I suppose that this is common scenario
Currently using v.14
Any possible workaround?

[2017-03-24 07:43] kciesielski commented on #282
@jaksky Consider using Akka TestKit and probes.
Here are official docs:
http://doc.akka.io/docs/akka/2.4.17/scala/stream/stream-testkit.html#Streams_TestKit
And here's how we use it:
https://github.com/akka/reactive-kafka/blob/7f23dbc189d75d37fe43ee2abd4624a8ac9089e8/core/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala#L170

Anyway, using `take` should terminate should close the stream. H

[2017-03-26 18:06] fdimuccio opened #284 "Fix commit batching from more than one stage"
Hello,

I hit this particular bug: I have two Consumer.committableSource that are merged in one flow and at the end of the stream I commit messages using a single CommittableOffsetBatch, but only messages from one stage (belonging to one groupId) are committed.

[2017-03-26 19:55] fdimuccio commented on #284
Following the discussion of PR [https://github.com/akka/reactive-kafka/pull/270](https://github.com/akka/reactive-kafka/pull/270) I changed the code to avoid the usage of the global ExecutionContext, here is the commit: [https://github.com/fdimuccio/reactive-kafka/commit/79e4fc975e5af4f8f8178fc4eaa6fb772bbf2516](https://github.com/fdimuccio/reactive-kafka/commit/79e4fc975e5af4f8f8178fc4eaa6fb772bb

[2017-04-05 05:07] xelax opened #286 "Consumer.plainPartitionedSource does not parallelize the deserializer"
I noticed that when I am consuming a plainPartitionedSource I can get a much better throughput if I configure the stream to use a ByteArrayDeserializer and then use a "map" on each stream to de-serialize the messages instead of just setting the custom deserializer on the stream itself.

I think that it might be due to the fact that using map different partition can de-serialize the messages in par

[2017-04-05 07:03] patriknw commented on #286
Isn't it a good idea to use a separate serialization/deserialization stage anyway and only use the raw serializer/deserializer in Kafka client. That is more composable, e.g. you could plug in a general Akka streams json parser in the stream.

The Kafka deserializer is running in the Kafka client, so that's before it reaches our stages. Making that parallel would require support for that in Kafka c

[2017-04-06 02:36] xelax commented on #286
maybe then just put a note in the documentation or provide a pre-build "deserialization" stage in reactive-kafka. In my use cases I found that the deserializer is frequently the bottleneck of the entire stream.

[2017-04-20 10:38] #280 closed

[2017-04-24 21:41] elkozmon opened #290 "Sub source of plainPartitionedSource doesn't complete when its partition gets revoked"
Hi,

I am experiencing an issue when auto-rebalance kicks in and my plainPartitionedSource consumer "loses" some partitions, their sub sources don't complete as they are supposed to. Later with the help of the debugger I learned that when the `shutdown()` method is called upon the SubSourceStage, its control callback is not initialized and therefore won't shutdown. SubSourceStage lacks superclass

[2017-04-25 13:05] patriknw opened #292 "poll optimization for committablePartitionedSource"
When using committablePartitionedSource with many partitions the latency is very bad.

[2017-04-26 06:33] patriknw commented on #290
@elkozmon could you create a pull request?

[2017-04-26 07:27] elkozmon commented on #290
@patriknw [sure](https://github.com/akka/reactive-kafka/pull/294)

[2017-04-26 08:04] cstub opened #295 "Producer-Stages may introduce Message-Reordering after a failed Send-Request"
We are using Kafka with reliable messaging semantics, hence we want to guarantee that no message gets lost and that the order of messages per partition is kept as they occur at the source.
With Reactive-Kafka we came across a situation where message-loss or message-reordering may occur due to the mechanics of the `ProducerStage`.

Upon encountering a failed send-request (signaled by an error in th

[2017-05-02 07:09] #284 closed

[2017-05-02 10:26] #290 closed

[2017-05-02 12:33] #292 closed

[2017-05-08 17:26] samidalouche opened #301 "Feature Request: periodically re-submit the previously committed offset"
The main problem with kafka consumer is explained here: https://issues.apache.org/jira/browse/KAFKA-3806

Apparently, one of the answers suggests to periodically re-submit the previously committed offset, even no activity occurred.

So, it would be handy if reactive-kafka provided some logic that could easily allow to re-submit the previously committed offsets to make sure they never disappear fro

[2017-05-09 14:55] Jayasagar commented on #235
I could reproduce the this issue using akka-stream-kafka.0.15 and Kafka 0.10.0.

We get this issue in production (Clouera cluster), once in a while one of our nodes goes down in a cluster then consumer fails to recover and consume messages.

Locally, I tried, reproduce scenario:
1. Start the broker (I have 1 node)
2. Produce an event
3. Consume an event(Works)
4. Kill the kafka-server (Reason coul

[2017-05-10 02:09] dbcfd commented on #235
Jayasagar your issue is more of a kafka operational issue. Your kafka cluster should be replicated, and your controller not overloaded  (topics/partitions not to exceed recommended), such that leader elections will occur in a timely fashion, and a new group coordinator is available such that consumption can resume.

If you violate that, you will need to increase max-wakeups to allow consume to pro

[2017-05-10 02:31] dbcfd commented on #231
Is this issue still relevant? I currently run something like

`
val clientSettings = settings.withClientId(parallelClientId)
val src = Consumer.committablePartitionedSource[Array[Byte], Array[Byte]](clientSettings, Subscriptions.topicPattern(wlRegex)
src.flatMapMerge(config.maxPartitionsToHandle, tpSrc => {
          tpSrc.groupedWithin(config.commit.groupSize, config.commit.groupWithin)

[2017-05-10 06:34] patriknw commented on #235
Thanks for investigations. I would be interested in suggestions of what the default values should be to reduce trouble.

I agree that in the end you need to watch the stream for termination and start it again (after a backoff). However, good if we can survive "normal" connectivity issues.

[2017-05-10 06:40] patriknw commented on #235
BTW, there is a PR in progress for documenting error handling. https://github.com/akka/reactive-kafka/pull/296 Please chime in there if you have suggestions.

[2017-05-10 07:14] Jayasagar commented on #235
@dbcfd I don't think we have issues with Kafka configuration, we have defaults and we have not exceeded any recommendations! The only problem we see is sometimes one of the node in cluster goes down. And I agree, watch for consumer actor context stop and start it again might help. I will try.

@patriknw Thanks for the suggestions! I agree to stick with default values and watch for the termination

[2017-05-11 16:07] njhartwell opened #302 "Consumer comes up with no assigned partitions"
We are using reactive-kafka (Using com.typesafe.akka:akka-stream-kafka_2.11:0.14) with kafka 10 brokers and  are frequently seeing consumers come up (usually immediately following the termination of another consumer in the group) and having no partitions assigned. Logs look like this:

[code]

Relevant code looks like this:

[code]

My apologies for lack of runnable test case, etc. (that will soon

[2017-05-11 17:50] njhartwell commented on #301
:+1:

[2017-05-18 11:38] cchantep opened #304 "[Consumer] Endless rebalancing"
Using ReactiveKafka 0.16 with Kafka server 0.10.2 (or 0.10.0) for a test application, running several instances of this test app results in endless rebalancing.

This app is managing 190 consumers, across 19 different consumer group, against 12 distinct topics (details bellow).

When one app instance is starting, with 40 partitions per topic, it takes ~1m to get stable assignments on topic partiti

[2017-05-18 17:15] cchantep commented on #304
Seems due to https://github.com/akka/reactive-kafka/blob/6174512656db74f46eb738638b41987d28c0fbe8/core/src/main/resources/reference.conf#L80

[2017-05-22 09:52] ScalaWilliamTeralytics commented on #166
Experiencing the dead letter problem too here.

[2017-05-24 18:33] cchantep opened #306 "[Consumer] OutOfMemoryError interrupting the heartbeat thread"
Related to [KAFKA-3552](https://issues.apache.org/jira/browse/KAFKA-3552), network latency on consumer side can cause an `OutOfMemoryError` in the heartbeat thread, which is fatal.

[code]

[2017-05-24 19:45] cchantep commented on #306
[code]

[2017-05-26 07:43] jroper commented on #235
We were seeing these sorts of errors in our tests in Lagom. I am not 100% sure of what the problem was, but a summary of what I identified is [here](https://github.com/lagom/lagom/pull/768#issuecomment-304209971).

One thing to note here, it seems that if you use the same `groupId` for multiple different topics with different consumer instances, that these can interfere with each other, it appears

[2017-05-26 07:44] jroper commented on #235
Oh and by the way, tl;dr for the above post, try not reusing the same group id across topics, rather try setting a unique group id per topic, that fixed the problems we were seeing.

[2017-05-26 11:06] ignasi35 commented on #235
@jroper can you confirm that comment still stands? IIUC the execution we observed after that change also failed so the comment is invalid.

[2017-05-28 18:40] arpanchaudhury opened #307 "[Config] Possible stackoverflow in ConfigSettings class"
There is a possibility of **stackoverflow** exception in **parseKafkaClientsProperties** method of **ConfigSettings** class. Presently it has an inner method named **collectKeys** which is recursive. Should we make it tail recursive instead?

[2017-05-28 18:58] arpanchaudhury commented on #307
submitting PR https://github.com/akka/reactive-kafka/pull/308

[2017-05-30 05:20] patriknw commented on #306
What do you suggest that we do about that here? If it's a leak in the Kafka driver it must be fixed at that end.

[2017-05-30 11:35] cchantep commented on #306
I'm wondering whether it's not trigger by the `ConsumerStage`, as I cannot reproduce it in the same env directly using the Kafka client.

[2017-05-30 12:15] patriknw commented on #295
@cstub Sounds like a good finding. Would you be able to create a pull request?

[2017-05-31 13:06] cstub commented on #295
@patriknw Of course. I will summarize my ideas for the changes and keep you posted!

[2017-05-31 17:13] tolstiykot opened #309 "Akka 2.5.2"
Update akka version to 2.5.2.

[2017-06-01 07:39] johanandren commented on #309
I think until we EOL 2.4 we want to build against 2.4 but also test against 2.5 if possible, if not possible we probably will need to do the same as the cassandra journal and keep two versions of akka-reactive-kafka, one for 2.4 and one for 2.5 for a while.

[2017-06-03 12:50] johanandren commented on #309
For reference: We do run tests on both 2.4 and 2.5 on Travis in for example https://github.com/akka/akka-stream-contrib so should be fairly easy to mimic that.

[2017-06-07 07:08] cstub commented on #295
I'd propose to extend the `Producer`-API variants which facilitate the non-shared `KafkaProducer` by an optional `FailureStrategy`. This `FailureStrategy` defines how the close-process of the underlying `KafkaProducer` should be handled in case of send-failures.

The `FailureStrategy` is a `PartialFunction[Throwable, Decision]` where a `Decision` might be to `dropRemainingMessages` (which forces t

[2017-06-08 09:21] jrudolph opened #311 "Shareable KafkaConsumerActor will close itself after timeout if no Consumer attaches quickly enough"
According to the [documentation](http://doc.akka.io/docs/akka-stream-kafka/current/consumer.html#sharing-kafkaconsumer) you can create a shared `KafkaConsumerActor`. If you don't manage to attach some consumers to it quickly enough it will fail with a timeout exception on the next poll.

(This was reported to us by a customer still on 0.12. Will report back if that's still an issue on 0.16)

[2017-06-12 04:39] iravid opened #313 "Improve instructions on closing a consumer graph"
Hi,

Opening this to check if we're reading things right in the code. It appears that given a graph such as this (pardon the abbreviated function calls):
[code]

Shutting down the graph with `consumerControl.shutdown().flatMap(_ => graphCompletion)` causes AskTimeout errors to be emitted from the mapAsync stage.

The reason is that messages may still be in flight towards the committing `mapAsync`

[2017-06-12 22:20] mallize commented on #235
Is anyone actively looking at this? It seems there are a lot of work arounds in this thread.
@jroper I get this error when I'm running with only one topic and a brand new group Id.

`def start(start: Start) = {

    val consumerSettings = ConsumerSettings(context.system, new StringDeserializer, new StringDeserializer)
      .withBootstrapServers(start.brokers)
      .withGroupId("testGroupId")

[2017-06-15 20:29] jpeel commented on #302
We are seeing this sometimes as well. I think that the wake up time out should be much higher. It currently is 3 seconds, but the default heartbeat in kafka is also 3 seconds. The heartbeat frequency is a factor in how long it takes to rebalance so it makes sense to me that the wake up time out should be significantly higher, perhaps close to the default session timeout of 10 seconds.

[2017-06-16 01:31] chandrujsr opened #315 "Multiple CGs CANNOT consumer messages simultaneously on same topic(group of topics) with different partitions"
Issue with Akka- Kafka consumer.

Scenario 1:
I have 5 topics and each have 3 partitions. I have aka stream consuming from all 5 topics from 1 terminal(group-id is g1), when I run the another process with same akka stream with different group-id(g2) to consumer all topics, THEN, g2 consumes all messages BUT g1 stopped consuming with error message as “WakeupException limit exceeded, stopping.”

Sce

[2017-06-16 12:03] asflierl commented on #301
Running into the same issue. It's important to note that a consumer also needs to periodically commit the current offset *before* having received the first message in the current session (there might be an offset stored in Kafka for this client/group from a previous session and we do not want that to reset when there are no messages for a day).

[2017-06-18 20:26] softinio opened #316 "Provide Support for AKKA 2.5.x"
Tried upgrading the akka in our project to `2.5.2`.

I was not able to as this lib depends on `2.4.18`.

Need support for AKKA `2.5.x`

[2017-06-18 21:22] ktoso commented on #316
It is binary compatible. Just update the Akka and Akka-streams dependency
to 2.5 and it will work.

On Jun 18, 2017 22:26, "Salar Rahmanian" <notifications@github.com> wrote:

[2017-06-19 01:36] softinio commented on #316
Scala Version: 2.12.2

I have in my `build.sbt`:
[code]

This is the error I get:

[code]

@ktoso any thoughts?

[2017-06-19 02:02] softinio commented on #316
Did that and it worked thank you.

[2017-06-19 02:02] #316 closed

[2017-06-19 09:51] ktoso commented on #316
Cool, happy hakking :)

[2017-06-19 10:01] romanwozniak commented on #302
I'm facing something similar issue in my project:

[code]

This happens randomly after couple of hours (or even days) of running.
The reason looks to be this:
[code]
(com.typesafe.akka:akka-stream-kafka_2.12:0.15 with kafka brokers 0.10)

[2017-06-20 11:28] cstub commented on #295
In the current PR for this issue the API changes of the initial proposal were discarded in favour
of a new default failure-behaviour which is only applied if specified by the `Supervision` strategy.

If an error occurs within the send-callback of the `KafkaProducer` and the `Supervision` strategy specifies a behaviour of `Stop` for this error, all unsent messages are discarded as this provides a d

[2017-06-21 08:28] nezabelej commented on #228
Is there something new about this issue yet ? If not documented yet, is there some example of testing Reactive Kafka ?
For example, I am trying to test my code which is very similar to http://doc.akka.io/docs/akka-stream-kafka/current/producer.html (Producer as a flow).
I get ConsumerMessage as a Source, manipulate it (Flow) and then pass it to the Sink.
So I need something like this ( http://doc.

[2017-06-28 21:48] jpeel opened #319 "Reactive kafka consumer does not work with the resuming supervision strategy"
The current reactive kafka consumer does not work with the resuming supervision strategy. If the stage fails, for instance as the result of the wake up timeout limit reached, then the underlying kafka consumer is closed and the stage just sits there after the resume.

If another kafka consumer source is merged downstream with the resumed stage, this second kafka consumer source will not send messa

[2017-06-29 17:33] jpeel commented on #235
@mallize One thing that stands out to me from your config is that your fetch.max.wait.ms is 10 seconds, but your wakeup timeout is 6s. If there isn't any data, the poll could wait 10 seconds during which a wake up exception will be thrown. I suppose fetch.min.bytes of 0 might prevent this, but I would recommend that the fetch.max.wait.ms should be less than the wakeup timeout.

[2017-06-30 04:11] ktoso commented on #319
Could you post a reproducer to help us investigate this quicker, and the specific problem you refer to, and not attempting to reproduce the same situation. Thanks in advance!

[2017-06-30 04:17] ktoso commented on #319
Hm, I've read the writeup again. The merging etc is not really core to the issue AFAICS, you simply mean that the Resume does not work on the Producer. Which may be true, we'll look into that - thanks for reporting.

In general one should not over-user the supervision strategies of Akka-Streams, they sometimes do counter-intuitive (even if "correct" in their own ways...) things.
We have a plan to

[2017-06-30 07:25] gabriele83 opened #320 "Hi, there is a way with Akka-Streams-Kafka to keep the application status on a KTable stream?"
Hi, there is a way with Akka-Streams-Kafka to keep the application status on a KTable stream?

[2017-06-30 09:00] gabriele83 commented on #266
+1

[2017-06-30 17:50] nishkamravi2 commented on #231
@dbcdf I don't think that would create multiple parallel consumers under the hood.

[2017-06-30 17:57] nishkamravi2 commented on #231
@graphex Mind sharing your efforts around running multiple parallel consumers?

[2017-06-30 19:48] jpeel commented on #319
Yes, I have found that I need to be careful with using the resume supervision strategy. I wanted to point out that I am specifically talking about the consumer. The kafka consumer is shutdown when the kafkaconsumeractor is terminated due to the wakeup timeout. After the resume, the kafka consumer is still shutdown.

However, with the kafka producer it might be okay to resume depending on the excep

[2017-07-01 22:55] everpeace commented on #320
I don't think there is an clean way to combine reactive-kafka with KTable stream.
It is because that KTable depends on statestore which is an part of Kafka Streams' feature.

[2017-07-06 16:35] raboof opened #322 "Support for Kafka version 0.11"
Kafka 0.11.0.0 was released in June, can we support it side-by-side 0.10?

[2017-07-07 13:07] gasante opened #323 "Cleanly exit consumer"
I am using akka stream kafka consumer, and I can't figure out how to cleanly exit when all messages are read. The Done does not seems to work like the producer does.

[2017-07-07 13:41] kciesielski commented on #323
@gasante How do you detect that all messages are read? Kafka client and reactive-kafka read continously until terminated by the client, so you need some kind of your own notion of end. After you are sure, you can terminate the stream by calling `shutdown()` on the `Control` object materialized from your `Source`.

[2017-07-07 13:54] gasante commented on #323
Thanks!

[2017-07-07 14:01] kciesielski commented on #323
@gasante I'll close this for now, feel free to reopen if needed.

[2017-07-07 14:01] #323 closed

[2017-07-10 15:10] patrick-premont opened #324 "Producer.flow cannot transmit an offset without a message"
When consuming and producing to Kafka, we usually want to commit the `commitableOffset` after the corresponding messages have been produced. When there are no messages to produce, possibly because the consumed message was erroneous, we would still like to commit the source offset.

`Producer.flow` offers the `PassThrough` type parameter to transmit extra information, such as source offsets, but as

[2017-07-11 04:07] knordstrom opened #325 "Add a stage that collates previous values and emits them in a group (useful for At-Least-Once-Semantics)"
Unless I'm mistaken, there currently is no stage the existing API that allows a developer to gather related messages and emit them back downstream once a condition is met. This is useful in a situation where single existing message with a given offset is multiplied somewhere during the flow but ALOS is required - and thus notification that all steps involving the duplicated messages are completed.

[2017-07-11 06:49] johanandren commented on #325
I think the stage described in the SO is pretty much exactly `Flow.groupedWithin` or `Flow.groupedWeightedWithin` while what you describe here could probably be expressed using a `Flow.statefulMapConcat`.

[2017-07-11 14:28] knordstrom commented on #325
Not quite.

All this stage does is gather items within a time window. What happens if my correlated messages fall across that time window boundary? What happens if they are run previously through a stage that does not preserve order? The answer in both cases is that I end up with a series of states that do not tell me when the last "spawned" message is available.

What I'm looking for is a stage t

[2017-07-11 14:58] johanandren commented on #325
You are right sounds like neither `groupedWithin` nor `groupedWithinWeighted` does cover quite what you want to do, it's possible that some combination of stages, for example `groupBy`, `takeWhile` and `fold` could be more along what you want to do, not sure.

There are definitely docs on `groupedWeightedWithin`:  http://doc.akka.io/api/akka/current/akka/stream/scaladsl/FlowOps.html#groupedWeighte

[2017-07-11 17:06] knordstrom commented on #325
Oh I meant it as a feature request. At least I was offering it as such. This seems like it ought to be a fairly common requirement considering how important/powerful ALOS can be with a little idempotence thrown in.

I don't need feedback on SO, I've been using this stage in a variety of fairly complex graphs since I posted that a couple of days ago and so far it's been robust in all tests. But I c

[2017-07-12 06:36] johanandren commented on #325
Ok, thanks for clarifying. I think that such a stage, should go in [akka-stream-contrib](https://github.com/akka/akka-stream-contrib) rather than reactive-kafka as it is more general and doesn't really have anything to do with kafka as far as I can see (even if that is what you needed it for). We should really make sure it isn't solvable through composition of existing stages first though, I haven

[2017-07-12 07:57] jpeel commented on #252
I'm seeing this in a different way. I've tried both restart supervision strategy and resume supervision strategy, but when either of those is triggered, I log a message about it. I'm never seeing a message logged when the Wakeup limit is reached. It is like the Terminated message either isn't reaching the SingleSourceLogic's stage actor or the ref inside of the Terminated message does not match th

[2017-07-12 12:38] knordstrom commented on #325
Good point. It looks to me like someone requested such a stage at https://github.com/akka/akka/issues/19395#issuecomment-221261407, which was closed and moved to https://github.com/akka/akka-stream-contrib/issues/14. I'll comment on the latter.